<ul class="list-unstyled">
    
    <li><a href="/husky_experience_message?article=wheres-your-focuslearning-or-competing">Where&#39;s Your Focus – Learning or Competing?</a></li>
    
    <li><a href="/husky_experience_message?article=finding-your-new-favorite-class">Finding Your New Favorite Class</a></li>
    
    <li><a href="/husky_experience_message?article=solve-world-problems">Solve World Problems</a></li>
    
    <li><a href="/husky_experience_message?article=first-impressions-matter">First Impressions Matter</a></li>
    
    <li><a href="/husky_experience_message?article=got-experience">Got Experience?</a></li>
    
    <li><a href="/husky_experience_message?article=are-you-your-gpa">Are You Your GPA?</a></li>
    
    <li><a href="/husky_experience_message?article=getting-experience-when-you-dont-have-any">Getting Experience When You Don’t Have Any</a></li>
    
    <li><a href="/husky_experience_message?article=having-fun-free">Having Fun For Free</a></li>
    
    <li><a href="/husky_experience_message?article=learning-through-teamwork">Take the Pain Out of Teamwork</a></li>
    
    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
    
    <li><a href="/husky_experience_message?article=preparing-professional-life">Preparing for Professional Life</a></li>
    
    <li><a href="/husky_experience_message?article=considering-graduate-or-professional-school">Considering Graduate or Professional School</a></li>
    
    <li><a href="/husky_experience_message?article=scholarships-101-finding-scholarships">Scholarships 101: Finding Scholarships</a></li>
    
    <li><a href="/husky_experience_message?article=scholarships-101-application-essays">Scholarships 101: Application Essays</a></li>
    
    <li><a href="/husky_experience_message?article=making-most-those-last-requirements">Making the Most of those Last Requirements</a></li>
    
    <li><a href="/husky_experience_message?article=study-abroad-everyone">Study Abroad is for Everyone</a></li>
    
    <li><a href="/husky_experience_message?article=discover-new-worlds-your-own-backyard">Discover New Worlds in Your Own Backyard</a></li>
    
    <li><a href="/husky_experience_message?article=doing-good-good-you">Doing Good Is Good For You</a></li>
    
    <li><a href="/husky_experience_message?article=getting-involved-again">Getting Involved Again</a></li>
    
</ul>