<ul class="list-unstyled">
    
    <li><a href="/husky_experience_message?article=wheres-your-focuslearning-or-competing">Where&#39;s Your Focus – Learning or Competing?</a></li>
    
    <li><a href="/husky_experience_message?article=finding-your-new-favorite-class">Finding Your New Favorite Class</a></li>
    
    <li><a href="/husky_experience_message?article=solve-world-problems">Solve World Problems</a></li>
    
    <li><a href="/husky_experience_message?article=first-impressions-matter">First Impressions Matter</a></li>
    
    <li><a href="/husky_experience_message?article=got-experience">Got Experience?</a></li>
    
    <li><a href="/husky_experience_message?article=are-you-your-gpa">Are You Your GPA?</a></li>
    
    <li><a href="/husky_experience_message?article=getting-experience-when-you-dont-have-any">Getting Experience When You Don’t Have Any</a></li>
    
    <li><a href="/husky_experience_message?article=having-fun-free">Having Fun For Free</a></li>
    
    <li><a href="/husky_experience_message?article=learning-through-teamwork">Learning through Teamwork</a></li>
    
    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
    
    <li><a href="/husky_experience_message?article=preparing-professional-life">Preparing for Professional Life</a></li>
    
</ul>