<ul class="list-unstyled">
    
    <li><a href="/husky_experience_message?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
    
    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
    
    <li><a href="/husky_experience_message?article=does-your-resume-represent-you">Writing Your Résumé</a></li>
    
    <li><a href="/husky_experience_message?article=value-part-time-employment">The Value of Part-Time Employment</a></li>
    
    <li><a href="/husky_experience_message?article=introducing-yourself">Introducing Yourself</a></li>
    
    <li><a href="/husky_experience_message?article=career-conversations-small-investment-big-payoff">Career Conversations: Small Investment, Big Payoff</a></li>
    
    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Map a Path to Meaningful Work</a></li>
    
    <li><a href="/husky_experience_message?article=asking-reference-or-recommendation">Asking for a Reference or Recommendation</a></li>
    
    <li><a href="/husky_experience_message?article=are-you-ready-your-job-interview">Interviews: Initial Preparation</a></li>
    
    <li><a href="/husky_experience_message?article=giving-effective-feedback">Giving Effective Feedback</a></li>
    
    <li><a href="/husky_experience_message?article=making-your-resume-competitive">Making Your Résumé Competitive</a></li>
    
    <li><a href="/husky_experience_message?article=how-professional-job-different-being-student">How a Professional Job Is Different from Being a Student</a></li>
    
    <li><a href="/husky_experience_message?article=good-relationships-lead-recommendations">Good Relationships Lead to Recommendations</a></li>
    
    <li><a href="/husky_experience_message?article=interviews-right-way-present-yourself">Interviews: How to Present Yourself</a></li>
    
    <li><a href="/husky_experience_message?article=using-your-health-benefits">Using Your Health Benefits</a></li>
    
    <li><a href="/husky_experience_message?article=between-college-and-career">Between College and Career</a></li>
    
    <li><a href="/husky_experience_message?article=strength-diverse-network">The Strength of a Diverse Network</a></li>
    
    <li><a href="/husky_experience_message?article=writing-stand-out-cover-letter">Writing a Stand-Out Cover Letter</a></li>
    
    <li><a href="/husky_experience_message?article=interviews-frequently-asked-questions">Interviews: Frequently Asked Questions</a></li>
    
    <li><a href="/husky_experience_message?article=interviews-making-your-case">Interviews: Making Your Case</a></li>
    
    <li><a href="/husky_experience_message?article=three-main-strategies-finding-job">Three Main Strategies for Finding A Job</a></li>
    
    <li><a href="/husky_experience_message?article=interviews-asking-your-own-questions">Interviews: Asking Your Own Questions</a></li>
    
    <li><a href="/husky_experience_message?article=husky-or-bank-account-running-low-">Husky or Bank Account Running Low? $$ :-(</a></li>
    
    <li><a href="/husky_experience_message?article=saving-summer-vacation-or-other-financial-goals">Saving for Summer Vacation (or Other Financial Goals)</a></li>
    
    <li><a href="/husky_experience_message?article=making-most-life-online">Making the Most of Life Online</a></li>
    
    <li><a href="/husky_experience_message?article=networking-now-pays-later">Networking Now Pays Off Later</a></li>
    
</ul>