<ul class="list-unstyled">
    
    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
    
    <li><a href="/husky_experience_message?article=plan-your-life-accident">Plan Your Life by Accident</a></li>
    
    <li><a href="/husky_experience_message?article=tools-help-you-along-way">Tools to Help You Along the Way</a></li>
    
    <li><a href="/husky_experience_message?article=leaders-are-made-not-born">Leaders are Made, Not Born</a></li>
    
    <li><a href="/husky_experience_message?article=show-yourself-little-compassion">Show Yourself a Little Compassion</a></li>
    
    <li><a href="/husky_experience_message?article=lead-your-values">Lead with Your Values</a></li>
    
    <li><a href="/husky_experience_message?article=learning-forever">Benefits of Lifelong Learning</a></li>
    
    <li><a href="/husky_experience_message?article=applying-scholarships-gets-you-more-money">Applying for Scholarships Gets You More than Money</a></li>
    
    <li><a href="/husky_experience_message?article=considering-additional-major-or-minor">Considering an Additional Major or a Minor?</a></li>
    
    <li><a href="/husky_experience_message?article=your-major-hypothesis">Your Major: A Hypothesis</a></li>
    
    <li><a href="/husky_experience_message?article=gratitude-healthy">Gratitude is Healthy</a></li>
    
    <li><a href="/husky_experience_message?article=why-vote">Why vote?</a></li>
    
</ul>