{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Defining Achievement</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/achievement_unlocked_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/achievement_unlocked_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/achievement_unlocked_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/achievement_unlocked_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/achievement_unlocked_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Consider All that You’re Learning</h3>
<p>While specific accomplishments might show up on your résumé – like your degree, your capstone project, or a new program you developed for students – alumni often cite <em>what they learned</em> while at UW as their most important achievement. In the classroom and beyond, learning endures.</p>

<h3>Ask Big Questions</h3>
<p>When asked about their achievements in college, many students talk about the impact they had on others and also about the important <a href="http://www.washington.edu/uaa/news/feature-stories/engaging-questions/">questions</a> they asked which helped them think about issues more deeply and understand problems more completely.</p>  
<h3>Develop Your Passion – Don’t “Find” It</h3>
<p>Another important achievement you can work towards while in college is the cultivation of a passion.</p> 
<p>A few years ago, prominent researchers published <a href="https://www.theatlantic.com/science/archive/2018/07/find-your-passion-is-terrible-advice/564932/">research</a> that argues that passions are developed, not “found.” <strong>Your mindset matters here.</strong> Do you believe that core interests are fixed from birth, just waiting to be discovered? Or can interests be cultivated over time? Turns out the latter is true. The researchers, Carol Dweck and Greg Walton, found that when people let go of trying to discover their passion, but instead pay attention to when they think something is interesting, they can develop interests and become passionate about them! Conversely, the researchers note that “students who have fixed theories of interest might forgo interesting lectures or opportunities because they don’t align with their previously stated passions.”</p> 

<p>Beware of <strong>common misconceptions</strong> though:</p>  
<ul>
<li><strong>It will be easy</strong> – Actually, developing your passion may take investment and effort.</li>
<li><strong>I will be endlessly motivated</strong> – Cultivating a passion doesn’t mean you will be endlessly motivated, and that everything will be easy. Difficulty doesn’t mean something isn’t your passion. Plus, with a fixed theory of interests you are more likely to give up on new interests when things get tough.</li> 
</ul>
<p>Here’s some <a href="https://markmanson.net/passion">straight talk (with lots of swear words)</a> that dispels some of these myths.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washingtonpost.com/news/inspired-life/wp/2018/07/23/find-your-passion-thats-bad-advice-scientists-say/?noredirect=on&amp;utm_term=.2575aeb612ef">Find Your Passion by Being Open-Minded</a></li>
                
                    <li><a href="https://www.theminimalists.com/cal/">&#39;Follow Your Passion&#39; is Crappy Advice</a></li>
                
                    <li><a href="https://medium.com/@reyhs/cultivating-your-passion-instead-of-following-it-1e3a900399b4">Cultivating Your Passion Instead of Following It</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=wheres-your-focuslearning-or-competing">Where&#39;s Your Focus – Learning or Competing?</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-forever">Benefits of Lifelong Learning</a></li>
                
                    <li><a href="/husky_experience_message?article=moving-beyond-rejection">Moving Beyond Rejection</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
