{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Are You Ready for Your Job Interview?</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Students’ Biggest Mistake</h3>
<p>Employers visiting the UW have told us that <strong>students’ biggest – and easiest to fix – mistake is lack of preparation</strong>.</p> 

<p>Getting hired is the obvious goal for a job interview but there is another critical one: <strong>interviews are a chance for you to assess how the company and the position fit what you are looking for</strong>. They are <strong>also an opportunity for the employer to assess whether you are a match</strong> for their position and their organization. Make the most of this opportunity by preparing well.</p> 
<h3>Interview Prep</h3>
<p>Interviews can take place in-person (most common), on the phone, or via video. Understanding the employer’s perspective will help you anticipate questions and prepare answers so you respond well when the “real” ones are asked, but there is more you can do to get prepared.</p>  
<ul>
<li>For starters, when applying for jobs, consider <a href="https://money.usnews.com/money/blogs/outside-voices-careers/articles/2018-04-18/quick-tips-to-clean-up-your-social-media-profiles-when-job-searching”>cleaning up your social media</a> since employers will research you.</li>
<li>Research the company and be ready to share why you are interested in the company.</li>
<li>Develop your “elevator pitch” which is a short description of you. Think of your elevator pitch in three parts: who/where you are currently, what past experiences have impacted your decision making, and where you hope to go in the future.</li>
<li>Review your qualifications for the job and be specific about the position you want to fill.</li> 
<li>Use the <a href="https://www.careermatch.com/job-prep/interviews/star-method-interview-questions/”>STAR Method</a> to reflect on your strengths and be ready to share stories that demonstrate your skills and experience.</li>
<li>Reflect on <a href="https://www.mindtools.com/pages/article/smart-goals.htm”>your short and long-term goals</a> and practice sharing them concisely.</li>
<li>Practice answering possible <a href="http://www.internships.com/student/resources/interview/prep/faq”>interview questions</a> the hiring manager might ask you. For starters employers will want to know: Can you do a great job? How can you add value to our company? Are you a good fit for the organization? Will you be a good colleague?</li>
<li>Remember to balance how much you speak and how much you <a href="http://www.internships.com/student/resources/interview/prep/how-to-speak-and-listen/being-an-active-listener”>listen during the interview</a>.</li>
<li>Prepare <a href="http://www.internships.com/student/resources/interview/prep/how-to-speak-and-listen/ask”>questions to ask at the end</a> of the interview. This is your way of finding out more about the organization, the position, and your colleagues.</li>
 </ul>

<p>A little preparation helps you be your best self and make the best decision about whether the job is for you.</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
                
                    <li><a href="/husky_experience_message?article=introducing-yourself">Introducing Yourself</a></li>
                
                    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
