{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Are You Your GPA?</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/are_you_your_gpa_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/are_you_your_gpa_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/are_you_your_gpa_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/are_you_your_gpa_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/are_you_your_gpa_650.jpg' %}"
                     alt="Students in the College of Education take a quiz during class.">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>When GPAs Matter</h3>
<p>Sometimes a high GPA matters a lot, especially if you are aspiring to attend graduate or professional school. If that's the case, there are many resources on campus to help you improve your skills in reading, writing, problem solving, and time management – <a href="http://academicsupport.uw.edu/">Academic Support Programs</a> is a good place to start.</p>


<h3>What Can Matter More</h3>
<p>That said, most <a href="https://www.naceweb.org/about-us/press/2017/the-key-attributes-employers-seek-on-students-resumes/">employers care more about your skills</a> and less about your GPA. In what ways are you cultivating your skills in leadership, communication, and teamwork? Think strategically about how you combine academic work and experience outside the classroom. And even more importantly, how you demonstrate those skills in <a href="/husky_experience_message?article=does-your-resume-represent-you">writing your resume</a> and <a href="/husky_experience_message?article=interviews-making-your-case">sharing examples in interviews</a> and <a href="/husky_experience_message?article=career-conversations-small-investment-big-payoff">career-related conversations</a>.</p>

<p>Being able to talk about what you have learned, both inside and outside the classroom, is a key skill. Whether you are attending a formal job fair or mingling at an event, you want to capture a person’s attention and make an impression in a few minutes. This is known as an “<a href="https://en.wikipedia.org/wiki/Elevator_pitch">elevator pitch</a>” – a clear, concise, and specific statement that describes you, your interests, and your strengths in less than 30 seconds.  When preparing this, think of a time – inside or outside the classroom – when you demonstrated leadership, communication or teamwork. Using examples brings these concepts to life and shows how you apply them in everyday settings and the impact they have on others.</p>

<p>In the end, the whole package – your ability to apply your academic knowledge to real-world problems, your engagement in experience outside the classroom, and a <a href="/husky_experience_message?article=strength-diverse-network">strong professional network</a> – matters more in getting a job than magna cum laude.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.cleverism.com/gpa-matter-applying-job/">Does GPA Matter When Applying for a Job?</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=wheres-your-focuslearning-or-competing">Where&#39;s Your Focus – Learning or Competing?</a></li>
                
                    <li><a href="/husky_experience_message?article=achievement-unlocked">Defining Achievement</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-forever">Benefits of Lifelong Learning</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
