{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Interviews: Initial Preparation</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/are_you_ready_for_your_job_interview_update_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Students’ Biggest Mistake</h3>


<p>
Employers visiting the UW have told us that <strong>students’ biggest mistake during interviews is a lack of preparation. </strong>Fortunately, it’s also the easiest to fix.
</p>
<p>
What does good preparation look like? We’ve outlined below steps you can take to feel fully prepared for an interview and make the most of your experience. 
</p>
<h3>Start with Research</h3>


<p>
Begin with the big picture, and then narrow down. You want to learn about the company, the position, and the people you’ll be interviewing with. Spend time on each of the following steps:
</p>
<ol>

<li><strong>Research the company.</strong> Start on the company’s website: How do they describe themselves? Read sections that are “About us” or “Who We Are” as well as pages on the services or products the company offers. Your goal is to be able to describe how your personal values align with the values of the company, or how you can use your skills to support or enhance the company’s offerings. 

<li><strong>Find out what other people say about the company</strong>. After you’ve learned about the company from their own perspective, learn more from other sources. Indeed.com has <a href="https://www.indeed.com/companies?from=gnav-homepage">company pages</a> where you can learn about a company from current and former employees. You might be able to get a sense of what interviews are like or see pictures and video from a company’s social media channels.

<li><strong>Next, study the job description.</strong> You want to get a good sense of the responsibilities and requirements for the position and be able to articulate precisely how and why you are qualified for the job. Use the job description to generate ideas about the kinds of questions an interviewer might ask. If you were hiring for this role, what would you want to know from a candidate? Consider how you might answer these questions. Practice articulating out loud examples from your past work experience that demonstrate your qualifications for the role. Make them specific but succinct.

<li><strong>Find out more about the person or people who will be conducting your interview.</strong> Check to see if the names of your interviewers are included in your interview invitation. If you don’t see this information, it is entirely ok to reach out to the hiring manager or recruiter to ask if they can provide you with the names of the people you will be meeting with. Once you have this information, look to see if your interviewers have profiles on the company website, or look them up on professional social media sites. See if you can learn more about their career path and how they reached their current position. Look for things you might have in common with your interviewers, such as background, interests, or education. These are the types of things you can mention casually in small talk or, if appropriate, during the interview to create a positive, personal connection between you and the interviewer.
</li>
</ol>
<h3>Prepare Questions and Answers</h3>


<p>
Questions are the heart of an interview. By preparing answers in advance, you’ll feel more confident in your ability to convey your qualifications for the position.
</p>
<ul>

<li><strong>Prepare an answer to “Tell me about yourself.”</strong> You want to be able to give a 2-3 minute summary of who you are and where you are in your career.

<li><strong><a href="https://docs.google.com/document/d/1UBcND1mfPZ7vt1rkl4WVQp7TcbbQhVYBHP59UPfwjOg/edit">Prepare an answer to “Why do you want to work here?”</a></strong> Here’s an opportunity to integrate your research into your interview. For example, if you learn that a company is into sustainable practices, mention your desire to work for an organization that values sustainability.

<li><strong><a href="https://docs.google.com/document/d/1sYWlrR-DPIUGttJh_iHBHpokW4eNsxg4M87xiZtY1cQ/edit">Practice answering a variety of behavioral questions.</a></strong> These are questions that start with, “Tell me about a time when…” or “Give me an example of …” Interviewers want to know about your skills and experience related to the requirements of the job.

<li><strong><a href="https://docs.google.com/document/d/11-ovcw7AGD3FVeqrGoCb1hMWwFR5gEFI2QQNJr4gL5o/edit#heading=h.9ionibvxc4uk">Prepare questions to ask your interviewer.</a></strong> Come with 2-3 sincere questions that will help clarify whether this is the right company or role for you.
</li>
</ul>
<p>
Finally, <strong>spend a little time figuring out <a href="https://docs.google.com/document/d/1OYcMOGaa6g7VrMLwpOLmZcuaTO4WFv59bXHPlrTaapU/edit">how you will present yourself</a> professionally</strong> during the interview (consider what you will wear, what you will take with you, how you can look poised and confident in your voice and body language). If you can, <strong>do at least one mock interview</strong>, ideally with a career coach or a professional in your field, or anyone who is able to ask you relevant interview questions and give you constructive feedback on how you can improve your answers.
</p>
<p>
You can make your interview more enjoyable for yourself <em>and</em> for your potential employer by coming prepared. Multiply the benefits!
</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
                
                    <li><a href="/husky_experience_message?article=introducing-yourself">Introducing Yourself</a></li>
                
                    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
