{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Asking for Help is Normal. And Necessary.</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/asking_for_help_is_normal_and_necessary_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/asking_for_help_is_normal_and_necessary_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/asking_for_help_is_normal_and_necessary_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/asking_for_help_is_normal_and_necessary_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/asking_for_help_is_normal_and_necessary_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>It can be uncomfortable, and sometimes scary, when you find you need help but don’t know where to go or who to talk to. UW is a big place with many services available for students, and it makes sense to get familiar with them. If you are aware that a service exists, you’ll be more likely to use it when you need it.</p>

<h3>Types of Help Available</h3>

<ul>
<li><strong><a href="https://livewell.uw.edu/">Health & Wellness</a></strong> – Overall student care, including educational workshops and peer coaching, alcohol and other drug consultation, sexual assault and relationship violence (including stalking and sexual harassment), suicide intervention</li>
<li><strong><a href="https://wellbeing.uw.edu/topic/mental-health/">Mental Health</a></strong> – Mental health and counseling support through resources, workshops, and appointments
<li><strong><a href="https://www.washington.edu/uaa/advising/about-us/advising/">Academic Advice</a> (and more)</strong> – Your general academic or departmental adviser is a good place to start if you’re not sure where to go</li>
<li><strong><a href="http://academicsupport.uw.edu/">Academic Support</a></strong> – CLUE Study Center, drop-in tutoring, writing center, exam reviews, individual success coaching. And of course, faculty and teaching assistants are great resources for academic help as well as advice on research opportunities and careers</li>
<li><strong><a href="http://www.lib.washington.edu/ougl/owrc">Writing & Research Help</a></strong> – Writing and research consultants, writing resources, research guides by subject, plus “Ask Us!” librarian services available 24/7</li>
<li><strong><a href="http://www.washington.edu/emergencyaid/seattle/">Emergency Financial Help</a></strong> – On- and off-campus resources to help through hard times</li>
<li><strong><a href="https://careers.uw.edu/">Career Advice and Help Getting a Job or Internship</a></strong> – Handshake job and internship board, career coaching, workshops and resources on résumés, interviews, searching for a job or internship</li>
</ul>
<h3>How to Ask</h3>
<p>There are lots of people who are here to help. Your questions are not bothering them! Some tips:</p>
<ul>
<li><strong>Set aside your fear, embarrassment, or shame.</strong> You may have never spoken directly to your adviser, or you procrastinated on your writing assignment, or you waited until you’re in crisis mode to seek help. None of this matters. You deserve help when you need it.</li>
<li><strong>Be intentional in asking for what you need.</strong> If you are not sure what you need, state your problem as clearly as you can. (“I am studying but am still doing poorly in this class.”)</li>
<li><strong>Make your requests using multiple channels.</strong> In some cases, it may be wise to both call and email in order to get the help you need.</li>
</ul>
<p>A little preparation goes a long way – <strong>keep web pages bookmarked or phone numbers saved.</strong> You never know when you might need to help yourself or a friend!</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="http://webster.uaa.washington.edu/asp/website/">Academic Support Programs</a></li>
                
                    <li><a href="https://wellbeing.uw.edu/virtual-lets-talk/">Let&#39;s Talk</a></li>
                
                    <li><a href="https://wellbeing.uw.edu/">Husky Health &amp; Well-being</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=bouncing-back">Your Mindset Matters</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-through-teamwork">Take the Pain Out of Teamwork</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
