{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Asking for a Reference or Recommendation</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/asking_for_a_reference_or_recommendation_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/asking_for_a_reference_or_recommendation_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/asking_for_a_reference_or_recommendation_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/asking_for_a_reference_or_recommendation_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/asking_for_a_reference_or_recommendation_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>Asking someone to provide you with a reference or letter of recommendation is common for a job, an internship, a scholarship, or an application to graduate school.</p>    
<h3>What is the Difference Between a Reference and a Letter of Recommendation?</h3>
<p>People often use the terms “reference letter” and “recommendation letter” interchangeably, but the two differ in both style and purpose.</p>  
<ul>
<li><strong>A reference letter</strong> is a general endorsement of your character, knowledge, and skills. With a reference letter, the person writing it often gives it to the student or employee, allowing him to keep it on hand for future use. However, for a job, you may be asked to provide <strong>a list of references</strong> – people who can attest to your job qualifications. A hiring manager typically calls your references after an interview to learn more about you. Not everyone on this list needs to provide you with a reference letter, but this list will likely include anyone who has written you a reference letter.</li> 
<li><strong>A recommendation letter</strong> supports your application for a specific scholarship, program, job, graduate school, or other opportunity.</li>
</ul>
<h3>How to Ask for a Reference</h3> 
<ul>
<li><strong>Who to ask –</strong> References can be professors, supervisors, mentors, or even coaches, but not family or friends. You should be confident that these individuals know you well enough to positively represent your strengths, qualities, and experiences. This is critical because your references can be what makes the difference in getting – or not getting – a job offer.</li>
<li><strong>When to ask –</strong> Two weeks in advance of the letter deadline or a job interview. This will allow you to determine, by the potential recommender’s response, whether they feel like they could provide a positive reference.</li>
<li><strong>How to ask –</strong> In person, if possible, or via email.  Help the person see why your relationship is a good match for making a recommendation.</li>
<li><strong>What to include in your request –</strong> You should include information that elaborates on your qualifications, or you can even offer to write a draft letter he or she can use as a model.</li>
<li><strong>Follow up –</strong> Thank your reference or recommender and let them know the outcome. Send a simple e-mail, or preferably a note, saying how much you appreciate them writing the letter or giving a phone reference, and how excited you are to get started in your new program or job.This creates meaning for recommenders and it also paves the way if you need to ask them for another!</li>
</ul>
<h3>How to Ask for Letters of Recommendation</h3> 
<p>In most cases, a letter of recommendation is sent directly to the university, employer or program director. You might never see the letter; some organizations request that it come from the writer and not from the applicant.</p> 
<ul>
<li><strong>Who to ask –</strong> Choose a person who can comment on your qualifications for the specific position or honor. Recommenders for graduate school should usually be professors. There needs to be at least a quarter’s worth of history between you.  Lay the groundwork before you ask by asking good questions in class, going up after class to chat, or going to office hours.</li>
<li><strong>When to ask –</strong> A recommendation letter usually comes with a deadline. Ask at least 4 weeks prior.</li>
<li><strong>How to ask –</strong> In person, if possible, or via email.  Help the person see why your relationship is a good match for making a recommendation.  For professors, this could be what you got out of the class or how the readings changed your thinking in a way that was a catalyst for you pursuing this job or program.</li>
<li><strong>What to include in your request –</strong> Any supporting materials (e.g., resume, CV, other letters of recommendation, bullet points of main areas you like to see highlighted)</li>
<li><strong>When the deadline nears (or passes) –</strong> If the deadline is near or the letter is late, send an email saying, “I wanted to thank you again for your willingness to write a letter of recommendation on my behalf to [name of job, program or university]. As a reminder, the deadline is [day and time]. Thanks again.”</li>
<li><strong>Follow up –</strong> Thank your reference or recommender and let them know the outcome.  Send a simple e-mail, or preferably, a note, saying how much you appreciate them writing the letter, and how excited you are to get started in your new program or job. This fosters a meaningful connection between you and the recommenders, and it also paves the way if you need to ask them for another!</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/blog/2017/03/02/letters-of-recommendation-a-primer/">Letters of Recommendation: A Primer</a></li>
                
                    <li><a href="http://expd.uw.edu/scholarships/why-apply/letters-of-recommendation/">Tips for Letters of Recommendation</a></li>
                
                    <li><a href="https://www.thebalancecareers.com/how-to-ask-for-a-reference-for-employment-2060800">How to Ask for a Job Reference</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
                
                    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
                
                    <li><a href="/husky_experience_message?article=are-you-ready-your-job-interview">Interviews: Initial Preparation</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
