{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Becoming a Better Listener</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Becoming_Better_Listener_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Becoming_Better_Listener_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Becoming_Better_Listener_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Becoming_Better_Listener_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Becoming_Better_Listener_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="why-don’t-we-listen-better">Why Don’t We Listen Better?</h3>


<p>
The main reason we don’t listen is that it is hard work. We tend to rush to action, concentrate on our own talking points that will best the speaker’s, and get annoyed by the speaker talking too fast or too slow.  When it comes down to it, most of us lack any training to listen well. For example, Toastmasters is an international organization that teaches public speaking and leadership skills through a worldwide network of clubs, but there is no counterpart for gaining listening skills. Experts at ComPsych, the world’s largest provider of employee assistance programs, including for UW, developed a workshop to address this gap. Here are their tips.
</p>
<h3 id="8-keys-to-active-listening">8 Keys to Active Listening</h3>


<p>
With the constant distractions from our phones and social media, it can be hard to actively listen. But, if you can focus your attention on one person and one conversation — while in class, with friends, while networking or meeting someone new — it will pay big dividends. Active listening will help you get the information you need the first time, and, perhaps most importantly, allow the person to whom you are listening to feel fully heard. Here are some tips for practicing active listening:
</p>


<ol>

<li><strong>When the other person starts talking, focus on listening.</strong> Resist the impulse to interrupt. It can help to take a moment to relax your body.

<li><strong>Communication is more than just words.</strong> Listen for tone of voice and observe body language in order to “hear” more. 

<li><strong>Check for understanding</strong> by paraphrasing what you’ve heard.

<li><strong>Notice when your attention wavers</strong> and bring it back to the present moment.

<li><strong>Listen for ideas and feelings</strong> (not just the words being said). 

<li><strong>Resist the habit of jumping to conclusions</strong>.

<li><strong>When appropriate, take notes.</strong> This will help you focus your attention and will communicate to the other person that you care about what they are saying.

<li><strong>Ask questions.</strong> Doing so helps you resist the pressure to have an immediate answer, and gives you time to absorb and process what you are hearing.
</li>
</ol>

<h3 id="the-four-listening-types">The Four Listening Types</h3>


<ul>

<li><strong>The Non-Listener</strong> does just what the name implies. They don’t listen!

<li><strong>The Marginal Listener</strong> pays attention to what is being said at first but is easily distracted. They marginally listen and then all of a sudden… <em>Look! Squirrel!</em>...and they’ve left the conversation.

<li><strong>The Evaluative Listener</strong> is already excited about what the speaker has to say. So much so, that they already have data they wish to share, an alternate opinion they wish to refute or an argument to be made as soon as you stop talking. You have their attention, but they are evaluating your every word and then crafting a response or rebuttal WHILE you are still talking. 

<li><strong>The Active Listene</strong>r paraphrases back what the speaker is saying, uses body language to demonstrate the importance of what is being said and asks thoughtful follow-up questions.  
</li>
</ul>
<h3 id="effects-of-not-listening">Effects of Not Listening</h3>


<p>
At its core, effective communication promotes a sense of trust. Conveying words, facial expressions and hand gestures ineffectively can erode home and work relationships. Leaving out details in your communication, forgetting to communicate important information, and not listening actively prevent you from being able to properly communicate in a way that is essential for sustaining a relationship. 
</p>
<p>
Active listening is a skill that can be learned, so make time to practice. By doing so, you can help others understand you, better understand others, and build resilience and maintain balance in the different areas of your life.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.psychologytoday.com/us/blog/how-do-life/201405/how-become-better-listener">How to Become a Better Listener</a></li>
                
                    <li><a href="https://www.youtube.com/watch?v=cSohjlYQI2A&amp;feature=youtu.be">TED Talk: 5 Ways to Listen Better</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=your-friends-your-success">Your Friends, Your Success</a></li>
                
                    <li><a href="/husky_experience_message?article=giving-effective-feedback">Giving Effective Feedback</a></li>
                
                    <li><a href="/husky_experience_message?article=tough-relationship-decisions">Tough Relationship Decisions</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
