{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Between College and Career</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Between_College_Career_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Between_College_Career_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Between_College_Career_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Between_College_Career_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Between_College_Career_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Justin Luebke</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
You may have been hearing all your life about what to do next: Graduate from high school. Go to college. Get a job. This is what everyone does, right? Maybe your time at UW has exposed you to other options but you might be unsure on how to plan for something that might seem “nontraditional.” Here are some specifics to get you started. 
</p>
<h3 id="talk-to-an-expert">Talk to an Expert</h3>


<p>
The Office of Merit Scholarships, Fellowships, and Awards (OMSFA) hosts a <a href="http://expd.uw.edu/scholarships/workshops/scholarship-workshops/">workshop called “Global, Gap, & Grad”</a> where they discuss how to think about post-graduate experiences through research, service, engagement abroad, or graduate school. Attending the workshop will get you additional information about funding opportunities and detailed planning, but here are some specific ideas to get you thinking. 
</p>
<h3 id="engage-globally">Engage Globally</h3>


<ul>

<li><a href="https://us.fulbrightonline.org/#&panel1-4">Fulbright U.S. Student Program</a> is an international educational exchange program sponsored by the U.S. government with the aim of increasing understanding between Americans and the people of other countries. Students can apply for individually designed research or study projects, arts projects, or to be an English Teaching Assistant. There are many other country-specific programs similar to Fulbright to explore as well.

<li>Find <a href="http://expd.uw.edu/scholarships/stories/fulbright-scholarship/">tips from UW students</a> (like those below) who are preparing to research, study, or teach abroad.   
<ul>
 
<li>“Experiences outside of academia are invaluable. Time away from school provides insight into a well-rounded perspective on life. We are not just students, artists, athletes, professionals … we are human beings and we should be more human.” — Kevin Lam, 2019 graduate in International Studies & Dance; 2019 Fulbright English Teaching Assistant in Taiwan
 
<li>Tammy Tarhini decided to teach in order to become a better doctor. <a href="https://www.washington.edu/uaa/2019/04/30/teaching-across-borders-to-become-a-better-doctor/">Read her story</a>. 
</li> 
</ul>

<li>The Office of Merit Scholarships, Fellowships, and Awards (OMSFA) informs and prepares students for a large number of global fellowships. You can attend <a href="http://expd.uw.edu/scholarships/workshops/">workshops</a>, join a <a href="http://expd.uw.edu/scholarships/global-fellowships-prep/">group of students </a>exploring options, and find excellent <a href="http://expd.uw.edu/scholarships/why-apply/">resources for preparation</a> on the OMSFA website. 
</li>
</ul>
<h3>Provide Service </h3>


<ul>

<li>Did you know that the <a href="https://www.washington.edu/news/2019/03/20/university-of-washington-among-peace-corps-top-5-volunteer-producing-schools-in-2019/">UW sends a lot of alumni to the Peace Corps</a>? The <a href="https://www.peacecorps.gov/">Peace Corps</a> is an intensive service experience; volunteers live and work alongside local citizens in tackling challenges ranging from agriculture to youth development. <a href="https://careers.uw.edu/peace-corps/">Find out more at the Career & Internship Center.</a> 

<li>AmeriCorps provides service opportunities more locally; over 75,000 people every year are engaged in working with U.S. schools, non-profit organizations, and public agencies. You can find <a href="https://www.nationalservice.gov/programs/americorps">more information about AmeriCorps online</a> and if you are interested in exploring different aspects of volunteer work on a short-term basis, UW’s Community Engagement and Leadership Education (CELE) Center has an excellent list of <a href="https://cele.uw.edu/">service opportunities</a>. 
</li>
</ul>
<h3>Pursue Graduate School </h3>


<p>
Maybe you’re curious about graduate school. How might you begin to learn more?
</p>
<ul>

<li>Talk with faculty and current graduate students (your TAs are usually graduate students). 

<li>Read this list of things you can do to <a href="https://grad.uw.edu/admission/plan-ahead-for-grad-school/">prepare for grad school</a>. 

<li>Check out this <a href="https://grad.uw.edu/admission/plan-ahead-for-grad-school/grad-school-200-preparing-for-graduate-education/">course</a> for undergraduates offered by the UW Graduate School, designed to help you learn more about whether graduate school fits your long-term goals. 

<li>Visit the Career & Internship Center to take advantage of their <a href="https://careers.uw.edu/resources/planning-for-graduate-school/">resources for graduate and professional school</a>.

<li>Consider funding for graduate school early! OMSFA advisers suggest searching and being prepared to apply for scholarships to fund grad programs 1 to 1.5 years in advance of your start date. OMSFA also offers grad school application prep workshops in spring.
</li>
</ul>
<h3>Take a Gap Year </h3>


<p>
A Gap Year might seem like something that happens after high school. Even if you hear fellow students, on the verge of graduating with a baccalaureate degree, talking about taking a gap year, you still might be experiencing disbelief or discouragement from family and friends. The gap year, however, has a lot of advantages. You can: 
</p>
<ul>

<li>Explore interesting opportunities — professional, academic, or civic — without a long-term commitment (check out OMSFA’s <a href="http://expd.uw.edu/scholarships/scholarship-search/lists/">scholarship guides</a> for specific ideas)

<li>Spend time outside of your geographic comfort zone — the Pacific Northwest or the United States — by <a href="https://bonderman.uw.edu/">traveling</a>, working, or volunteering abroad 

<li>Gain additional skills and experiences to continue to discern what your best next step should be
</li>
</ul>
<p>
Robin Chang, Director of the Office of Merit Scholarships, Fellowships, and Awards (OMSFA) says, “Being open-minded and willing to have outside-the-box experiences can open so many doors. Consider how you can both build upon and leverage the strengths and experiences you’ve developed at UW. There are scholarships available that can fund your next steps after graduation, whether that’s in the U.S., abroad, in grad school, in your communities, and/or in your professional pursuits.”
</p>
<p>
Finishing up your undergraduate journey is a wonderful, celebratory milestone that can also be stressful. It is okay to do something off the “beaten path” in order to figure out your own road ahead. 
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="http://expd.uw.edu/scholarships/scholarship-search/lists/">Scholarship Lists &amp; Guides</a></li>
                
                    <li><a href="https://careers.uw.edu/resources/?ctag%5B%5D=gap-years">Resources for Gap Year and Short Term Experiences</a></li>
                
                    <li><a href="http://www.washington.edu/trends/grdsch-200-preparing-for-graduate-education/">GRDSCH 200: Preparing for graduate education</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
                
                    <li><a href="/husky_experience_message?article=considering-graduate-or-professional-school">Considering Graduate or Professional School</a></li>
                
                    <li><a href="/husky_experience_message?article=discover-new-worlds-your-own-backyard">Discover New Worlds in Your Own Backyard</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
