{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Boost Your Study Skills</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Boost_study_skills_480.jpeg' %} 480w,
                         {% static 'hx_toolkit_output/images/Boost_study_skills_650.jpeg' %} 650w,
                         {% static 'hx_toolkit_output/images/Boost_study_skills_780.jpeg' %} 780w,
                         {% static 'hx_toolkit_output/images/Boost_study_skills_1000.jpeg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Boost_study_skills_650.jpeg' %}"
                     alt="Three students working on a group project in Foster Library.">
            
            
                <p class="myuw-image-credit">Photo: UW Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Structure Your Time and Space </h3>

<p>
Being successful in courses takes time and commitment. You can make it easier on yourself by <a href="https://academicsupport.uw.edu/study-skills/studying/">creating a study plan</a>. Setting goals, scheduling study time in your calendar, sticking to a routine, and planning your study sessions pay off when it comes to projects, papers, and exams. You might have all kinds of strategies in hand but need a little boost for your motivation! Check out <a href="https://vimeo.com/477247020">these tips</a> from an academic success coach. 
</p>
<p>
Academic Support Programs offers a quick quiz to help you<a href="https://academicsupport.uw.edu/study-skills/"> improve your study habits</a>. This resource provides specific ideas for different disciplines, so whether you need a jump start on your <a href="http://academicsupport.uw.edu/study-skills/writing/">writing</a> or are immersed in <a href="http://academicsupport.uw.edu/study-skills/math-science-courses/">math and science</a> courses, you’ll find techniques to help you do your best work. 
</p>

<h3>Connect with Others</h3>
<p>
UW has <a href="https://academicsupport.uw.edu/clue/">CLUE</a>, a space for students to connect, ask tutors questions about various subjects, prepare for exams, and have support on homework. Of the many <a href="http://academicsupport.uw.edu/campus-resources/">study and writing centers</a> on campus, you are sure to find one that fits your needs
</p>
<p>
Engaging with a study group can have multiple benefits, including sharing the workload (maybe you split up research notes), pushing you to articulate what you have learned to others (teaching makes you the best learner), and keeping you accountable (Wednesdays at 7 pm, rain or shine). You can find available study spaces by using <a href="https://scout.uw.edu/seattle/">Scout</a> or search out a favorite spot in the libraries or the HUB. 
</p>
<h3>Balance with other Needs</h3>
<p>
Remember that sleep, good food, movement, and social time are vital to your well-being and are an important component to any good study strategy. Build <a href="https://wellbeing.uw.edu/mental-health/mindfulness-yoga-meditation/mindfulness-videos/">mindfulness practice</a> or other <a href="https://wellbeing.uw.edu/recreation/self-care/">self-care techniques</a> into your daily routine. 
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://webster.uaa.washington.edu/asp/website/study-skills/preparing-for-tests/">Preparing for Tests</a></li>
                
                    <li><a href="http://academicsupport.uw.edu/study-skills/writing-resources/">Writing Resources</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=learning-through-teamwork">Take the Pain Out of Teamwork</a></li>
                
                    <li><a href="/husky_experience_message?article=time-management-creating-weekly-schedule">Time Management: Creating a Weekly Schedule</a></li>
                
                    <li><a href="/husky_experience_message?article=finals-doing-well-and-staying-well">Finals: Doing Well and Staying Well</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
