{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Considering an Additional Major or a Minor?</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Considering_additional_major_minor_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Considering_additional_major_minor_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Considering_additional_major_minor_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Considering_additional_major_minor_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Considering_additional_major_minor_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
There are lots of good reasons you may want more than one major or minor (or two). Maybe you have several academic interests that you want to pursue. Maybe you want to build some specific skills outside of your major. Sometimes, however, students think they should do more because it “looks good.” It might. Or it might not. 
</p>
<h3>What to Ask Before You Decide </h3>


<ol>
<li><strong>What is your motivation? </strong>
<p>
First and foremost, why would you add a major or a minor? Because you love multiple disciplines or because you can’t decide? Because you think it will pay off in terms of job prospects? While some research shows that multiple majors increase earning potential, we know that getting experience through internships also makes a difference. What is best for your goals? 
</p>

<li><strong>How much time will it take? </strong>
<p>
Will adding a major or minor add additional time to your degree? Keeping <a href="https://www.washington.edu/uaa/advising/degree-overview/majors/satisfactory-progress/">satisfactory progress</a> in mind, what are the ways you can make another major or a minor fit? <a href="http://www.washington.edu/uaa/advising/degree-overview/minors/">Minors </a>are fewer credits than majors and could be an easier way to explore another field. 
</p>

<li><strong>How much will it cost?</strong>
<p>
Additional time means additional cost. How much can you afford? When weighing the cost and benefit of additional study, also think about what you might gain from other choices — such as an internship or study abroad program — that you might invest in.  
</p>

<li><strong>What will you do?</strong>
<p>
Maybe the most important question is <em>what</em>. What are you excited about? What do you want to spend your time, money, and talent on? Choosing another major or multiple minors is one way to reach your goals but don’t lose sight of other options. 
</p>

<li><strong>Who should you talk to?</strong>
<p>
<a href="https://www.washington.edu/uaa/advising/about-us/advising/">Your academic adviser!</a> They are professionals who are here to help you make the best decision. Seek them out. 
</p>
</li>
</ol>

<p>
Final words of advice from Joslin Boroughs, Associate Director of Undergraduate Academic Affairs Advising: “It is easy to get caught up in the idea that you need to earn as many credentials as possible while at the University of Washington. We encourage students to focus on what they want to learn, then talk to faculty, advisers, and staff about what makes the most sense for them.”
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="http://www.washington.edu/uaa/advising/degree-overview/majors/">Majors at the UW</a></li>
                
                    <li><a href="http://www.washington.edu/uaa/advising/degree-overview/minors/">Minors at the UW</a></li>
                
                    <li><a href="https://www.thoughtco.com/should-i-double-major-793195">Should I Double Major?</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=finding-your-new-favorite-class">Finding Your New Favorite Class</a></li>
                
                    <li><a href="/husky_experience_message?article=what-if-grade-didnt-matter">What If the Grade Didn&#39;t Matter?</a></li>
                
                    <li><a href="/husky_experience_message?article=your-major-hypothesis">Your Major: A Hypothesis</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
