{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Considering Graduate or Professional School</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Considering_Graduate_Professional_School_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Considering_Graduate_Professional_School_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Considering_Graduate_Professional_School_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Considering_Graduate_Professional_School_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Considering_Graduate_Professional_School_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>What Is Graduate Education?</h3>


<p>
Graduate education encompasses research, study and teaching beyond the bachelor’s degree. While undergraduate education leads to a bachelor’s degree, graduate education leads to a master’s degree or doctorate, also called a doctoral degree.
</p>
<h3>What is the difference between Graduate and Professional School?</h3>


<p>
<strong>Graduate school programs</strong> are academic courses of study that offer more advanced programs of study (beyond a bachelor's degree) in certain disciplines. This can mean earning a master's degree on its own or as a step toward a PhD program.
</p>
<p>
<strong>Professional school programs</strong> help prepare students for careers in specific fields. Examples include medical, law, pharmacy, business, library, and social work schools. The length of these programs vary. Professional degrees are often required by law before an individual can begin working in a particular occupation.  
</p>
<h3>What Can I Do with a Graduate Degree?</h3>


<p>
Often, graduate degrees help people advance further in their careers and earn more over a lifetime. Some fields — such as physical therapy — require graduate degrees. Others, such as engineering, have opportunities for students with both baccalaureate and graduate degrees. Students may pursue a graduate degree immediately upon completing a bachelor’s, or they may return to graduate school later.
</p>
<p>
To pursue an academic career — teaching and conducting research at the university level — a doctorate degree is essential in nearly all fields of study. Teaching at a community college may require a master’s degree and professional work experience. For those teaching kindergarten through 12<sup>th</sup> grade, graduate degrees are highly recommended.
</p>
<p>
Nearly all researchers, whether they work in higher education, government or private industry, earn their doctorates, the most common of which is a doctor of philosophy degree, or Ph.D. Upon completing a doctorate, researchers, particularly in the sciences, may pursue a postdoctoral fellowship in which they continue study and research before getting a job as a professor.
</p>
<h3>What Kind of Degrees Can I Earn?</h3>


<h4>Master’s Degree</h4>


<ul>

<li>Means you have gained more depth of knowledge in your field of study

<li>Generally requires one to two years of study beyond the bachelor’s degree

<li>Some programs require you to research, write and submit a thesis, or research paper, to graduate

<li>Examples of master’s degrees: 
<ul>
 
<li>Master of Science (M.S.)
 
<li>Master of Arts (M.A.)
 
<li>Master of Public Health (M.P.H.)
 
<li>Master of Business Administration (M.B.A.)
 
<li>Master of Public Administration (M.P.A.)
 
<li>Master of Arts in Teaching (M.A.T.) or Master of Education (M.Ed.)
 
<li>Master of Fine Arts (M.F.A.) — the highest degree awarded in fine arts
</li> 
</ul>
</li> 
</ul>
<h4>Doctoral Degree</h4>


<ul>

<li>Means you are an “expert” in your field who can design, carry out and assess research

<li>Generally requires four to six years of study beyond the bachelor’s degree

<li>Most programs require you to research, write and submit a dissertation — an extensive research paper — to graduate

<li>Highest degree you can attain in most fields

<li>Examples of doctorate degrees: 
<ul>
 
<li>Doctor of Philosophy (Ph.D.) — most common doctorate awarded
 
<li>Doctorates also called professional degrees  
<ul>
  
<li>Doctor of Medicine (M.D.)
  
<li>Doctor of Dentistry (D.D.S.)
  
<li>Doctor of Pharmacy (Pharm.D.)
  
<li>Juris Doctor (J.D.) — for lawyers/judges
</li>  
</ul>
</li>  
</ul>
</li>  
</ul>
<h3>What Can I Study in Grad School at the UW?<a href="http://grad.uw.edu/admissions/find-a-program/"> </a></h3>


<p>
<a href="http://grad.uw.edu/admissions/find-a-program/">Anything you can imagine...and more</a>. 
</p>
<p>
"In the courses I taught, graduate students pushed me and pushed each other out of our comfort zones. No matter how many times I’d teach the same text, I learned something new about the materials—and my own assumptions—with each new group of students.  They do the same with our research by supporting it as well as pushing it forward.  We wouldn’t be the University we are today without them."
</p>
<p>
–Joy Williamson-Lott, Dean of The Graduate School
</p>
<h3>How Can I Learn More about Pursuing a Graduate or Professional Degree?</h3>


<p>
You can take the <a href="https://www.washington.edu/trends/grdsch-200-preparing-for-graduate-education/">GRDSCH 200: Preparing for Graduate Education</a> course which is designed to help you ask and answer questions about graduate and professional school in order to find the path that’s right for you, whether you decide to pursue an advanced degree at the UW or look into other options. 
</p>
<p>
If you are a first-generation, low-income and/or minority student, you may be <a href="https://www.washington.edu/uwmcnair/program-description/mcnair-eligibility/">eligible</a> for <a href="https://depts.washington.edu/uwmcnair/">The Ronald E. McNair Post-Baccalaureate Achievement Program</a>. It is a preparatory program for doctoral study through involvement in research and scholarly activities. Contact the program managers at <a href="mailto:uwmcnair@uw.edu">uwmcnair@uw.edu</a>.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.idealist.org/grad-schools/blog/apply-for-grad-school">What to Consider When Choosing a Graduate School</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Map a Path to Meaningful Work</a></li>
                
                    <li><a href="/husky_experience_message?article=between-college-and-career">Between College and Career</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
