{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">De-Stress, Focus, and Perform Better through Mindfulness</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/De_stress_Focus_Perform_Better_Mindfulness_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/De_stress_Focus_Perform_Better_Mindfulness_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/De_stress_Focus_Perform_Better_Mindfulness_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/De_stress_Focus_Perform_Better_Mindfulness_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/De_stress_Focus_Perform_Better_Mindfulness_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
We know being a UW student can be very stressful. Mindfulness can help you become more calm and focused while experiencing less stress and distractions.
</p>
<h3>What is Mindfulness? </h3>


<p>
<em>“Mindfulness is paying attention in a particular way, on purpose, in the present moment, without judgment.”</em> — Jon Kabat-Zinn, Ph.D. internationally known scientist, writer, and meditation teacher <br>
</p>
<p>
UW physician Claudia Finkelstein further describes mindfulness as “...a means to train the mind. It is more of a process than an actual product. It can be thought of as the deliberate practice of cultivating presence and turning off autopilot. It is not about escaping reality, achieving bliss, or an altered state. It is about being fully present to reality.”
</p>
<h3>How Do I Do It? </h3>


<p>
Danny Arguetty, M.A., mindfulness program manager at the UW says you can informally practice mindfulness by aligning thoughts with behavior, that is putting your attention on what you are doing: washing the dishes, going for a walk, sitting in silence, listening to someone in conversation, taking a shower, focusing on the first few bites of your meal, etc. 
</p>
<p>
Formally, you can practice mindfulness through meditation. One simple meditation practice (and simple is all you need) is described here: 
</p>
<ol>

<li>Sit or stand with your back straight and eyes closed

<li>Notice the feeling of your breath coming in and out. Pick a spot where it is most prominent. It may be the center of your belly, your ribs, or the tips of your nostrils. Your mind might be calm, or more likely, turbulently unearthing all your to do’s, your internal voices, and everything that isn’t resolved in your inner and outer world. The key is to <em>accept</em> whatever it is doing right now. 

<li>When you become aware that you are lost in thought rather than paying attention to your breath, gently bring your focus back to your breath and start again. This process of coming back again and with kindness towards yourself, kindly, and without judgement is the practice that strengthens the mindfulness muscle. The moment in which you notice that your attention wandered <em>is</em> a moment of mindfulness. 
</li>
</ol>
<p>
That’s it. Meditating or any mindfulness practice a few times a week for three minutes is a great start. As you get familiar with the technique, explore if five to ten minutes is doable. Eventually practicing three to four times a week will keep your mindfulness muscle toned. Give it a try.
</p>
<h3>Where Can I Practice? </h3>


<p>
You can practice anywhere, and by yourself or with others. UW has many valuable resources to support you, whether you’re brand new to mindfulness or an experienced practitioner.
</p>
<ul>

<li>The <a href="https://wellbeing.uw.edu/mental-health/mindfulness-videos/">Husky Health & Wellbeing</a> site offers a number of short guided movement and relaxation videos for fitting mindfulness into your day.

<li>The <a href="https://www.washington.edu/counseling/mindfulness/">UW Counseling Center</a> offers mindfulness videos and apps. They also have weekly <a href="https://wellbeing.uw.edu/mental-health/groups-workshops-trainings/">drop-in sessions, workshops, and support groups</a>.

<li><a href="https://www.washington.edu/ima/classes/mindfulness/">UW Recreation</a> offers a variety of mindfulness (and yoga) classes both at IMA and at other campus locations at a low cost. 
</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://wellbeing.uw.edu/mental-health/mindfulness-yoga-meditation/mindfulness-videos/">UW Guided Mindfulness Videos</a></li>
                
                    <li><a href="https://www.washington.edu/wholeu/2017/06/19/5-mindfulness-myths-dispelled/">Mindfulness Myths Deconstructed</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=asking-help-normal-and-necessary">Asking for Help is Normal. And Necessary.</a></li>
                
                    <li><a href="/husky_experience_message?article=show-yourself-little-compassion">Show Yourself a Little Compassion</a></li>
                
                    <li><a href="/husky_experience_message?article=gratitude-healthy">Gratitude is Healthy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
