{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Design Your Own Internship</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Design_Your_Own_Internship_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Design_Your_Own_Internship_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Design_Your_Own_Internship_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Design_Your_Own_Internship_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Design_Your_Own_Internship_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Sometimes you have to think outside the box to find an internship that’s right for you. Consider the following scenarios:
</p>
<ul>

<li>You need an internship that’s near home

<li>You don’t have the experience (yet) to get the “ultimate” internship

<li>The internships available are not a good fit for the kind of experience you’re seeking
</li>
</ul>
<p>
If any of these scenarios describe you, a little creative thinking may be your ticket to the perfect internship. 
</p>
<h3 id="meeting-the-need-of-an-organization">Meeting the Need of an Organization</h3>


<p>
There are multiple ways to <a href="https://www.bigdreamgathering.com/3-ways-create-internship/">design your own internship</a> and get started on building a portfolio of experiences. Many employers (especially smaller companies or non-profits) would love to have an intern, but they don’t have a formal internship program. Others may not have a Human Resources department or the resources to recruit and interview potential interns. Sometimes all it takes is for you to reach out to an organization (even units within UW itself) with a proposal for how you could add value. 
</p>
<h3 id="the-process-step-by-step">The Process, Step by Step</h3>


<p>
If designing your own internship sounds daunting, follow these steps offered by the UW Career & Internship Center:
</p>
<h4 id="research-and-reflect">Research and Reflect</h4>


<ol>

<li><strong>Find an organization that you’re genuinely passionate about</strong>.<strong> </strong>Maybe you believe in their mission, care about the population they serve, love their products, etc. 

<li><strong>Reflect on what you want out of an internship</strong>. Do you want to apply your skills in a real-world setting? Learn something new? Experience a new work environment or different way of working? 

<li><strong>Identify a good-fit contact within the organization</strong>. One way is to research the company and see if there is someone who handles internship requests, or find people on LinkedIn who work for the company and see if they can point you to the right person. You can also use <a href="https://www.careercontessa.com/advice/perfect-informational-interview/">informational interviews</a> and networking to find contacts. 
</li>
</ol>
<h4 id="write-and-refine">Write and Refine</h4>


<ol>

<li><strong>Tailor your résumé</strong> to showcase your most relevant skills and experiences.

<li><strong>Write a one-page proposal letter</strong> (similar to a cover letter) that covers the following: 
<ol>
 
<li>How do you know about the employer and why are you interested in interning there?
 
<li>How can you contribute to their organization? Give brief ideas of projects you can work on, problems you can help solve, populations you can serve, etc.
 
<li>How are you qualified? What knowledge, skills, and experience would help you be successful there?
 
<li>What do you want to learn from them? Share some brief ideas; you’ll create actual learning goals later.
 
<li>Available start date, preferred end date, and approximate number of hours per week you’re available.
</li> 
</ol>

<li><strong>Craft a professional email</strong> with a short, compelling summary of what’s in your attached résumé and proposal.

<li><strong><a href="https://careers.uw.edu/drop-in-coaching/">Have your documents reviewed</a></strong> and then polish them.
</li>
</ol>
<h4 id="reach-out">Reach Out</h4>


<ol>

<li>Consider <strong>setting up a meeting</strong> with your contact to discuss your proposal or get advice. This could happen before or after you write your proposal. For example, you could set up a meeting with a contact first and then create a proposal that builds on what you discussed.

<li><strong>Give/send/email</strong> your résumé and proposal letter to your contact or to the hiring manager on a specific team.

<li><strong>Follow-up in a week or two</strong>…and then if you don’t hear back, follow-up one more time.

<li><strong>Send thank-you notes</strong> to your contacts and the employers who engaged with you.
</li>
</ol>
<p>
There are many resources for finding internships, but designing your own might be the right choice for you. The time you put into the process will be well worth the effort. 
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.bigdreamgathering.com/3-ways-create-internship/">Three Ways to Create Your Own Internship</a></li>
                
                    <li><a href="https://www.brettelliscms.com/blog/2018/8/13/cant-find-an-internship-create-your-own">Can’t Find an Internship? Create Your Own!</a></li>
                
                    <li><a href="https://cdn.uconnectlabs.com/wp-content/uploads/sites/25/2018/05/Creating-Internships-6-2018.pdf">UW Career Guide: Creating Internships (pdf)</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=career-conversations-small-investment-big-payoff">Career Conversations: Small Investment, Big Payoff</a></li>
                
                    <li><a href="/husky_experience_message?article=making-your-resume-competitive">Making Your Résumé Competitive</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
