{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Discover New Worlds in Your Own Backyard</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Discover_new_worlds_own_backyard_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Discover_new_worlds_own_backyard_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Discover_new_worlds_own_backyard_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Discover_new_worlds_own_backyard_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Discover_new_worlds_own_backyard_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="have-a-global-experience-locally">Have a Global Experience Locally</h3>


<p>
Traveling internationally is an excellent way to see the world, meet new people, and learn about yourself, but you can also do this without leaving the Pacific Northwest. Here are some ideas: 
</p>
<ol>

<li><strong>Connect with the international community on campus</strong> by engaging with speakers, events, and programs through 
<a href="https://www.washington.edu/circle/">CIRCLE</a> (Center for International Relations and Cultural Leadership Exchange). You can make direct connections with international students through <a href="https://unite.uw.edu/">Unite UW</a>,  <a href="https://www.fiuts.org/">FIUTS</a>, or by participating in a <a href="https://www.ielp.uw.edu/student-life/activities/language-exchange/">Language Exchange Program</a>. 

<li><strong>Find student organizations that have a cultural or community focus</strong> through the <a href="https://huskylink.washington.edu/">Student Activities Office</a> or <a href="http://depts.washington.edu/ecc/">Kelly Ethnic Cultural Center</a>.

<li><strong>Take a self-guided <a href="https://ais.washington.edu/sites/ais/files/documents/indigenous_walking_tour_at_the_uw.pdf?mkt_tok=NTI3LUFIUi0yNjUAAAF9hmSxnRFZP2h6NykYZ5SYl_9e6Idp7RSgcTSShZiVckXe579x-bO6e4uo6d8HSQoF911ek0Tcj3Ioi8o1Eu_6BKgxsAFyXV6tbAXoIag">Indigenous Walking Tour (pdf)</a> of the UW Seattle campus</strong> to learn the story of Indigenous places through an Indigenous community member’s eyes across seven stops on campus.

<li><strong>Volunteer with international communities in Seattle</strong> by visiting <a href="https://www.uwkc.org/volunteer/">United Way volunteer opportunities</a> and searching for the keyword “international.” 

<li><strong>Connect with international communities in Seattle</strong> through <a href="http://seattlecenter.com/festal/">cultural festivals</a>, <a href="https://www.visitseattle.org/things-to-do/arts-culture/museums/">museums</a>, and <a href="https://www.siff.net/festival">film</a>. The <a href="https://visitseattle.org/neighborhoods/international-district/">Chinatown-International District</a> is a quick light rail ride away from UW! 

<li><strong><a href="https://expd.uw.edu/riverways/rural-tribal/">Alternative Spring Break</a></strong>: Spend your spring break in a rural or tribal community of Washington working in local K-8 schools on literacy, arts, and environmental education projects. Learn more about <a href="http://www.washington.edu/boundless/alternative-spring-break/">UW students’ work in these communities</a>. 

<li><strong><a href="https://honors.uw.edu/field-studies/">UW “Field” Courses</a></strong> are designed to connect classroom and community learning as students explore the diversity and complexity of American culture, environment, and identity. Open to all students, these courses are offered during the summer and they take place “in the field” here in the Northwest, including throughout Seattle, in the Olympic National Park, and along the Pacific coast. 

<li><strong><a href="https://fhl.uw.edu/">Friday Harbor Labs</a></strong>, located on San Juan Island in the Puget Sound, offers the ideal setting to study the marine world. 

<li>If you are looking for a more unstructured way of engaging, Washington boasts a number of <strong><a href="https://www.nps.gov/state/wa/index.htm">amazing national parks</a></strong>. There are <a href="https://www.tripsavvy.com/national-parks-near-seattle-tacoma-2965149">many great lists</a> (with <a href="https://www.seattlepi.com/seattlenews/article/Vintage-awesome-photos-of-Washington-s-national-12742114.php#photo-15207686">photos</a>!) of <a href="https://www.theguardian.com/travel/2014/sep/30/-sp-top-10-national-state-parks-washington-state">the best parks</a>. If you have a passport, you can also easily <a href="https://www.hellobc.com/">travel </a>to <a href="https://www.nationalgeographic.com/travel/destinations/north-america/canada/british-columbia/">explore Canada</a>! 
</li>
</ol>
<p>
<strong>As you would with any visit to a new place, you can observe, ask questions, and contribute.</strong> Hopefully whatever you choose to do will provide you with a set of perspectives different from your own and a glimpse into the ways in which other people see the world.
</p>
<p>
One student, reflecting on her Alternative Spring Break experience, said, “One of my overall favorite experiences was spending the evening in the carving shed, sanding hand-carved cedar whales while sitting in a circle and talking with my teammates and several community members. Many shared the stories of their lives with us, giving a part of their hearts to us and trusting that we’d take something away from this weeklong shared experience. I hope I was able to share a bit of my heart, too.”
</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-forever">Benefits of Lifelong Learning</a></li>
                
                    <li><a href="/husky_experience_message?article=design-your-own-internship">Design Your Own Internship</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
