{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Do Majors = Jobs?</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/do_majors_equal_jobs_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/do_majors_equal_jobs_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/do_majors_equal_jobs_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/do_majors_equal_jobs_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/do_majors_equal_jobs_650.jpg' %}"
                     alt="Two engineering students studying together at a whiteboard.">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Skills Count</h3>
        <p>While some technical fields may be exceptions to this, <a href="https://www.naceweb.org/talent-acquisition/candidate-selection/as-their-focus-on-gpa-fades-employers-seek-key-skills-on-college-grads-resumes/">most employers value attributes</a> like leadership, written and verbal communication, and the ability to solve complex problems more than they care about an individual's undergraduate major. This can help relieve the pressure of feeling locked into something for the rest of your life and allow you to approach your major as a way of building these sought-after skills which lead to work experience.</p>


<h3>Figuring Out What You Want to Do</h3>
<p>But you still have to figure out what you might want to do, right? There are lots of ways to <a href="https://www.washington.edu/uaa/advising/degree-overview/majors/majors-and-careers/">explore career options</a>, including asking yourself questions such as: </p>
<ul>
<li>What are you most energized by?</li>
<li>What are you good at?</li> 
<li>What do people who know you best – family and friends – think would be a good fit for you?</li> 
<li>Take a <a href="https://artsci.washington.edu/quiz/career">quiz</a>!</li>
<li>Explore by gaining experience. Is there an <a href="https://careers.uw.edu/internships/">internship</a>, <a href="https://careers.uw.edu/jobs/category/campus-jobs/">part-time job</a>, or <a href="https://cele.uw.edu/students/opportunities/">volunteer work</a> that would help you learn about an area of interest?</li>
</ul>
<p>Plus there are experts here at UW – academic advisers and career counselors – who can help you identify effective strategies for figuring out what you want to do. One approach is to do some initial career exploration; finding careers that interest you can help identify majors that lead to those careers. The UW <a href="http://careers.washington.edu/">Career & Internship Center</a> offers counseling and workshops for students at every stage of career exploration. It also hosts many career fairs throughout the year. Find out what employers are looking for by meeting them in an informal setting. <a href="https://www.washington.edu/uaa/advising/degree-overview/majors/advising-offices-by-program/">Department advisers</a> are another wonderful resource for helping you explore questions about majors and what you want to do after you graduate.</p>

<p>Ultimately, most people have a lot of flexibility to shape their career trajectory through a combination of their selected major and learning experiences outside the classroom.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/blog/2023/07/18/what-to-do-if-you-want-a-job-that-is-unrelated-to-your-major/">What If My Major Doesn’t Match My Career Plans?</a></li>
                
                    <li><a href="https://www.collegexpress.com/articles-and-advice/majors-and-academics/articles/choosing-major/truth-about-college-majors/">The Truth About College Majors</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=jobs-come-through-people-you-know">Jobs Come Through People You Know</a></li>
                
                    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
                
                    <li><a href="/husky_experience_message?article=finding-your-purpose-when-you-have-no-clue">Finding Your Purpose When You Have No Clue</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
