{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Doing Good Is Good For You</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Doing_Good_Good_For_You_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Doing_Good_Good_For_You_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Doing_Good_Good_For_You_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Doing_Good_Good_For_You_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Doing_Good_Good_For_You_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Making the World a Better Place </h3>


<p>
We all know that there are lots of problems in the world. Some of those problems are visible to us every day: poverty, homelessness, the decline of the natural environment. Many of these are happening right around us and while they can seem overwhelming, there is a lot we can do to address them. You — one person taking small steps — can make our community better by volunteering with a local community organization, signing up for a <a href="https://cele.uw.edu/programs/community-engaged-learning-formerly-service-learning/">community-engaged courses</a>, or working part-time at a non-profit agency. 
</p>
<h3 id="making-the-most-of-your-experience">Making the Most of Your Experience</h3>


<p>
When entering a new environment, there is often a lot to learn. Pay attention, ask questions, take the initiative. These steps can go a long way in helping you understand the purpose and action of various organizations. In addition, being aware and engaged can help you learn new skills — or apply your existing skills in new ways — that will translate well to future experiences. 
</p>
<ul>

<li><strong>Take the Initiative</strong>. Taylor, a senior in political science, has been volunteering for a local environmental organization since his sophomore year. He recently overheard some staff members talking about how to spread the word about their purpose and work. Taylor offered to do a social media “take over” and has become an informal expert on messaging to young people. “Recently, the director of the organization praised me for being willing to contribute in a new way. I feel proud that I took a risk, learned something new, and had success.” 

<li><strong>Understand the Big Picture</strong>. Morgan, a junior in environmental studies, went with a friend to “stuff envelopes” at a local food bank. While she assumed the work would be mindless and easy, she did not expect to learn so much. “While we were gathered around a big table, putting information into envelopes assembly-line-style, one of the program directors described how the food bank serves the community. I had no idea that working families often have to utilize the food bank in order to supplement their household budgets. This gives me a different picture of poverty and makes me want to find more ways to help.”

<li><strong>Build Valuable Skills</strong>. Monika, a freshman, started volunteering at a university district organization that serves homeless youth through a service-learning class. After the class was over, she stayed on to help with an event and spent many hours updating the organization’s database. “I can now put database management on my resume, which will help me as I search for a summer internship.”  
</li>
</ul>
<p>
Here are two more stories about community contribution and personal growth: 
</p>
<ul>

<li><a href="https://www.washington.edu/boundless/oceanography-research/">Sea Lessons: Peering into the Future of Our Oceans</a>

<li><a href="https://artsci.washington.edu/news/2019-01/mentoring-mastermind?utm_source=uwhp-topstory&utm_medium=readmore&utm_campaign=heymentor-kevintruong">A Mentoring Mastermind</a>
</li>
</ul>
<p>
You, too, can do good in the world while doing good for yourself!
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://cele.uw.edu/students/volunteer-opportunities/">Find Service Opportunities in the Community</a></li>
                
                    <li><a href="http://expd.uw.edu/pipeline/">Volunteer in K-12 Schools</a></li>
                
                    <li><a href="https://www.washington.edu/dreamproject/">UW Dream Project</a></li>
                
                    <li><a href="https://cele.uw.edu/programs/undergraduate-community-based-internships-ucbi/">Undergraduate Community-Based Internships (UCBI)</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=leaders-are-made-not-born">Leaders are Made, Not Born</a></li>
                
                    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Map a Path to Meaningful Work</a></li>
                
                    <li><a href="/husky_experience_message?article=discover-new-worlds-your-own-backyard">Discover New Worlds in Your Own Backyard</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
