{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Eating for Better Mood and Energy</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Eating_Better_Mood_Energy_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Eating_Better_Mood_Energy_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Eating_Better_Mood_Energy_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Eating_Better_Mood_Energy_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Eating_Better_Mood_Energy_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
<strong>The most important thing you can do to have a stable mood and energy is to maintain your blood sugar levels as consistently as possible</strong>. So while eating handfuls of cookies may satiate you in the moment, chances are you won’t be feeling too hot in a while when your blood sugar levels drop drastically. We know that as a college student it is hard to always eat a balanced diet, but you can support your body and mind by keeping your mood and energy levels steady. Here are our tips. 
</p>
<p>
<h4>When to Eat</h4>
</p>
<ul>

<li><strong>Don't skip or delay meals</strong>. Eat at least three meals a day, and be sure there is a mix of proteins and carbohydrates at every meal, especially breakfast. If you skip a meal, you may have trouble concentrating, get a headache, or feel like you didn’t get very much out of class. 

<li><strong>Schedule snacks</strong>. If you ignore your feelings of hunger, you may end up eating too much or choosing an unhealthy snack. Don’t let yourself get too hungry and you’ll more easily avoid mood swings. Ideally, eat something healthy every four to five hours to keep your blood sugar stable. 

<li><strong>Enjoy your food and stop eating before you’re full</strong>. Don’t deny yourself food if you are craving it, but try not to over indulge either. Eat slowly.

<li><strong>Don’t “stress eat.”</strong> It can be easy to find yourself reaching for junk food when you are stressed out. But unfortunately, eating doesn’t make stress go away. Instead, try other ways of managing stress like exercise or a mindfulness practice.
</li>
</ul>
<p>
<h4>What to Eat and Drink</h4>
</p>
<p>
Foods that are high in fiber (veggies, fruits, and whole grains), and a combination of protein and carbohydrates can help slow digestion and help maintain healthy blood sugar levels, notes Jeannie Gazzaniga-Moloo, PhD, RD, a registered dietitian and spokeswoman for the American Dietetic Association. Here’s how you can accomplish that.
</p>
<ul>

<li><strong>Fill 3/4 of your plate with produce, legumes, and whole grains</strong>. Leave only a quarter of your plate for meat, poultry, or other protein sources. 

<li><strong>Eat a rainbow of fruits and veggies.</strong> Go for variety of color to get a range of nutrients. Include green, orange, red, blue/purple, and yellow vegetables and fruit.

<li><strong>Choose healthy snacks, preferably including protein.</strong> Snack on some of these options: nuts, carrot and celery sticks, ready-to-eat whole grain cereals, brown rice cakes with nut butter, or fruit and string cheese. 

<li><strong>Stay hydrated</strong>. Drink plenty of water. And choose seltzer water over soda or fruit juice.
</li>
</ul>
<p>
<h4>What to Limit</h4>
</p>
<ul>

<li><strong>Limit sugary foods and refined grains.</strong> Sodas, candy, white bread, and many baked goods and pastas can cause big spikes and then drops in your blood sugar levels. This can cause tiredness, irritability, and in the long term, weight gain. 

<li><strong>Limit highly processed foods</strong>. If you can’t understand the ingredients, that’s a sign that something has been highly processed. This is usually true with things like hot dogs, margarine, ice cream, candy, and many packaged snack foods. These food-like substances won’t provide you with many of the nutrients you need, nor do they provide the fiber you need to keep blood sugar levels stable.

<li><strong>Limit alcohol and caffeine</strong>. Alcohol, while fun at first, is a depressant; caffeine, similarly can interfere with your mood. Both of these substances tend to interrupt healthy sleep habits, which is key for keeping your mood and energy stable, and your mind bright! 
</li>
</ul>
<p>
As with all things, practice moderation and find a balance that is sustainable for you. 
</p>
<p>
<h4>Eating Disorders</h4>
</p>
<p>
If you think you or someone you know may have an eating disorder, know that you can get help on campus. <a href="https://wellbeing.uw.edu/unit/hall-health/">Learn more and get help at Hall Health Center</a>.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/anyhungryhusky/">UW Food Pantry</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=hacks-better-eating-habits">Hacks for Better Eating Habits</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
