{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Finals: Doing Well and Staying Well</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/finals_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/finals_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/finals_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/finals_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/finals_650.jpg' %}"
                     alt="">
            
            
        </figure>
        <div class="myuw-article-body">
        <h3>Doing Well </h3>


<p>
Now is the time to make sure you are organized (where are those notes you carefully annotated?) and have a schedule for the days leading up to final exams, papers, and projects. Continue to use effective time management strategies (it is never too late for good <a href="https://vimeo.com/456701888">reading tips!</a>) and work in review sessions and study groups. 
</p>
<p>
Don’t forget that Academic Success Coaches and CLUE tutoring are available for personalized support. And it doesn’t hurt to review some handy <a href="https://vimeo.com/793536091">finals tips</a>!
</p>
<h3>Staying Well </h3>


<p>
In addition to scheduling your study time, be sure to build in time for eating, moving around a bit, and sleeping. 
</p>
<ul>

<li><a href="https://wellbeing.uw.edu/topic/recreation/">UW Recreation</a>: getting outside, participating in virtual or in-person fitness classes, or practicing mindfulness or yoga can help relieve stress and set you up for academic success.

<li><a href="https://wellbeing.uw.edu/topic/mental-health/">Mental health resources</a> are important for everyone and can help with academic performance

<li>Check out <a href="https://wellbeing.uw.edu/recreation/self-care/">self-care</a> tips from UW students for more ideas. 
</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://webster.uaa.washington.edu/asp/website/study-skills/effective-reading/">Tips for Effective Reading</a></li>
                
                    <li><a href="https://webster.uaa.washington.edu/asp/website/study-skills/preparing-for-tests/">Preparing for Tests</a></li>
                
                    <li><a href="https://www.huffpost.com/entry/sleep-hours-exam-performance_n_5516643">Sleep linked to higher test scores</a></li>
                
                    <li><a href="https://wellbeing.uw.edu/">Husky Health &amp; Well-Being</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=are-you-your-gpa">Are You Your GPA?</a></li>
                
                    <li><a href="/husky_experience_message?article=time-management-win">Time Management for the Win</a></li>
                
                    <li><a href="/husky_experience_message?article=managing-procrastination">Managing Procrastination</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
