{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Finding Your Purpose When You Have No Clue</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/finding_your_purpose_when_you_have_no_clue_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/finding_your_purpose_when_you_have_no_clue_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/finding_your_purpose_when_you_have_no_clue_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/finding_your_purpose_when_you_have_no_clue_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/finding_your_purpose_when_you_have_no_clue_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>We all have a friend who has known since birth what direction they would take: The CSE major naturally drawn to data science. The drama major who was designing sets at age three. Or the biology major firmly set on medical school, who always wanted to be a brain surgeon.</p> 
<p>Sometimes, it seems, everyone has a passion, the drive, and a plan. But how do you find your passion or purpose when you have no clue?</p>
<p><strong>Remember that college is a time of discovery.</strong> Consciously trying new things is vital to figuring out what grabs your attention and pulls you in. When you put yourself in a new environment, you literally change your perspective, and you can reflect on yourself and the world in new ways. Likewise, by trying novel activities, you’re forced to learn differently. Here are some strategies for kick-starting your discovery campaign.</p>
<h3>Explore</h3>
<p>Whether you are new to Seattle or born and raised here, the city always surprises. Get out your U-PASS and hop on a bus to a part of town you’ve never been. Check out the markets in the International District. Tour the Ballard Locks and watch salmon climb the fish ladder. Visit Picardo Farm, Seattle’s original and largest community P-Patch garden. Talk to the merchants at Pike Place Market. Wander the meadows, beaches, and forests of Seattle’s Discovery Park, and take in the views of the Olympic Mountains and Mount Rainier. (Getting out in nature and looking at a view are always good ways to expand your thinking.) <strong>Wherever you go, take note of anything that makes an impression on you.</strong></p>
<h3>Learn</h3>
<p><strong>Look at your entry level courses not as pesky requirements, but as windows into other worlds.</strong> That required history class may spark an interest in research – something that could lead to a career as a private investigator, or market researcher for a media company. Even if you’re an engineering major, take a communications course. If you’re in the arts, explore human centered design.</p>
<h3>Get Involved</h3>
<p><strong>Student clubs, activities, and volunteering are some of the best ways to learn through doing.</strong> Whether you have been at the UW for a few quarters, or a few years, it’s never too early or late to get involved. With more than <a href="https://huskylink.washington.edu/">800 student clubs</a>, you can try everything from e-sports to African dance to birding. These three activities alone could introduce you to gaming design, ethnomusicology, and habitat conservation.</p>
<h3>Research</h3>
<p><strong>When you find a few things that pique your interest, dive further.</strong> Google those topics and read about them. Where does your reading lead you – any new ideas? Interview friends, professors, mentors, graduate students, professionals – anyone involved in what you’re interested in. Ask them how they learned about their passion and how they pursued it. Did they do internships? What would they do differently? Would they do it again?</p>
<p><strong>The key to finding your inspiration is to look for it. Don’t wait for it to find you.</strong> Be open to possibilities. Get a little lost. Then find your way back.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washingtonpost.com/news/inspired-life/wp/2018/07/23/find-your-passion-thats-bad-advice-scientists-say/?noredirect=on&amp;utm_term=.2575aeb612ef">Find Your Passion by Being Open-Minded</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=do-majors-jobs">Do Majors = Jobs?</a></li>
                
                    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Map a Path to Meaningful Work</a></li>
                
                    <li><a href="/husky_experience_message?article=between-college-and-career">Between College and Career</a></li>
                
                    <li><a href="/husky_experience_message?article=making-most-those-last-requirements">Making the Most of those Last Requirements</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
