{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Finding Your New Favorite Class</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/falling_love_with_class_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/falling_love_with_class_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/falling_love_with_class_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/falling_love_with_class_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/falling_love_with_class_650.jpg' %}"
                     alt="UW students dancing at the Meany Hall dance studio.">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Imagine You Had No Requirements</h3>
<p><strong>Imagine you had taken all the necessary courses for your major and your general education is finished…</strong> What course would you take then? What class would most appeal to you? What would you like to learn?</p>
<p>At different times in your UW career, you might feel pressure to take a specific sequence of courses or take only courses related to your selected major. You always have some flexibility with your schedule, however, and it’s good to think outside the box. By exploring classes outside your field of study, you become a better learner – one who can make connections across seemingly disparate ideas or events, or offer a perspective that leads to novel ideas and solutions. Moreover, broadening your experience beyond the “well-beaten path” makes you a more appealing candidate for jobs, scholarships, and other opportunities; you’ll stand out among your peers as flexible and courageous.</p>


<h3>Finding a Match</h3>
<p>Tapping into your interests is the first step. Try these approaches:</p>

<ul>
<li>What course have you always wanted to take but did not have the opportunity or courage? What would feel fun to learn about? Trust your instinct. If you’re worried about your GPA, take a course that’s CR/NC or choose S/NS instead of a grade.</li>
<li>Think back on your favorite class or subject – what courses would allow you to dive deeper into the topic or apply your knowledge in a new way?</li>
<li>Is your favorite professor teaching something new? Email them and ask!</li>
<li>Look for other amazing faculty – Check out the current courses being taught by faculty who have won <a href="https://teaching.washington.edu/about/teaching-awards/teaching-award-recipients/">Distinguished Teaching Awards</a>.</li>
<li>Departmental advisers have lots of knowledge about curricular and experiential options; searching websites and blogs can often unearth some gems.</li>
<li>Ask your friends about their favorite classes, or your friends’ friends! Reach out to others who are studying something radically different from you and ask what class engaged them most.</li>
</ul>
<p>You are the one taking classes and learning from them, so it’s worth finding classes that light your fire!</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/uaa/advising/academic-planning/choosing-your-major-courses/">Choosing Your Major/Courses</a></li>
                
                    <li><a href="https://www.teenvogue.com/story/classes-to-take-in-college">Why You Should Take Courses Outside Your Major</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=what-if-grade-didnt-matter">What If the Grade Didn&#39;t Matter?</a></li>
                
                    <li><a href="/husky_experience_message?article=achievement-unlocked">Defining Achievement</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-forever">Benefits of Lifelong Learning</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
