{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">First Impressions Matter</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/first_impressions_matter_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/first_impressions_matter_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/first_impressions_matter_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/first_impressions_matter_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/first_impressions_matter_650.jpg' %}"
                     alt="A student composing an email on his laptop in Paccar Hall.">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
People tend to form impressions quickly and hold onto them. As a result, it’s important to be aware of how one comes across to others.
</p>
<h3>Email Messages </h3>
<p>
How you present yourself in an email message can make (or break) your connection with another person. Email messages to faculty, mentors, and potential employers should be brief and professional.
</p>
<p>
Here are some tips that will help you make a good impression:
</p>
<ul>
<li><strong>Include a useful subject line</strong> – a title like “meeting” will not be helpful for people who receive dozens of emails per day.
<li><strong>Use a greeting at the beginning</strong> – You can’t go wrong with “Hello” or “Dear (their name).” Default to a formal title (e.g. Mr., Ms., Dr., Professor) unless you are already on a first-name basis.
<li><strong>AVOID ALL CAPS!</strong> – Unless you really are intending to shout….
<li><strong>Double-check attachments</strong> – Are they attached? Are they titled appropriately?
<li><strong>Develop an email signature</strong> – Use something that includes more information about you, such as a link to your online profile or portfolio.
</li>
</ul>
<h3>Social Media </h3>
<p>
Being thoughtful and respectful should also be your guide when thinking about how you portray yourself on social media. While LinkedIn can serve as your <a href="https://www.northeastern.edu/graduate/blog/linkedin-profile-tips/">professional online identity</a>, be cognizant that future employers might also be looking at your activity across other social media apps.
</p>
<p>
Things to keep in mind: 
</p>
<ul>
<li><strong>Check privacy settings</strong> – Update your privacy settings on personal social media so that you are only sharing what you want to those you choose. Note that while your accounts might be private, the comments you make on friends’ posts might be public.
<li><strong>Align your persona across platforms –</strong> Make sure that your public social media posts aren’t contradicting how you present yourself professionally.
<li><strong>Check what’s out there </strong>– It never hurts to Google yourself!
</li>
</ul>
<p>
Taking time to present yourself and communicate carefully will help you make good first impressions, both online and in-person.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.bestcolleges.com/blog/email-etiquette-in-college/">Email Etiquette 101: How to write an email to a professor</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=introducing-yourself">Introducing Yourself</a></li>
                
                    <li><a href="/husky_experience_message?article=good-relationships-lead-recommendations">Good Relationships Lead to Recommendations</a></li>
                
                    <li><a href="/husky_experience_message?article=interviews-right-way-present-yourself">Interviews: How to Present Yourself</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
