{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Getting Comfortable with Public Speaking</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/getting_comfortable_with_public_speaking_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/getting_comfortable_with_public_speaking_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/getting_comfortable_with_public_speaking_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/getting_comfortable_with_public_speaking_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/getting_comfortable_with_public_speaking_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Theo Stroomer</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>If you Google “most common fears,” public speaking ranks among the top five. This fear prevents many people from achieving their potential. <strong>But there are many benefits of public speaking – it’s a great way to share your ideas and perspective and build self-confidence.</strong> Great speakers <em>developed</em> their ability to speak in public over time, and developing this skill takes practice – which means starting with a willingness to try, and try again, and view every opportunity to speak in front of others as a chance to improve.</p>  
<h3>Four Tips for Conquering Your Fear</h3>
<ul>
<li><strong>Embrace the Nerves.</strong> It is helpful to acknowledge that we get nervous because we care deeply about the audience and our message. Although the rapid heartbeat and sweaty palms may make it feel like you’re headed for disaster, studies show that performance actually peaks under moderate stress levels that activate your body and keep you alert.</li>
<li><strong>Get Personal.</strong> Finding common ground with your listeners is key to any good speech – we’re all united by the same human desires and fears. Don’t be afraid to go there.</li>
<li><strong>Let Your Style Shine.</strong> Being in front of an audience can make you feel vulnerable and exposed. The audience picks up on this and, if you communicate a genuine message effectively, you will gain their trust. This is true if you’re presenting virtually or in person.</li>
<li><strong>Learn to Love Feedback.</strong> If you goof up or fall flat, don’t look at this as a setback – try to understand why you didn’t do as well as you wanted to. Immediate and specific constructive criticism – delivered with care – has been proven to be a powerful influencer for learning and achievement.</li>
</ul>
<h3>Places to Practice and People to Help You</h3>
<p><strong>The real key to getting over the fear of public speaking is to practice, practice, practice.</strong> Luckily UW offers multiple opportunities to do so and people to help.</p> 

<ul>
<li><a href="https://com.uw.edu/resources/speaking-center/">The Speaking Center</a> in the UW Department of Communication is committed to providing students, staff, and the public with advice, guidance, and techniques for success in the field of public speaking and oral communication. Make an appointment at the Center for help with speech generation/writing, successful delivery techniques, anxiety reduction, or simply for an unbiased opinion from a trained speech tutor. 
<li>The annual <a href="https://www.washington.edu/undergradresearch/symposium/">Undergraduate Research Symposium</a> is a chance for undergraduates to present what they have learned through their research experiences to a larger audience. To help participants prepare, the URP conducts Symposium<a href="https://www.washington.edu/undergradresearch/workshops/abstracts/"> abstract writing</a>,<a href="https://www.washington.edu/undergradresearch/workshops/posters/"> poster design</a> and <a href="https://www.washington.edu/undergradresearch/workshops/powerpoint/">PowerPoint presentation workshops</a>.
</ul>
<p>So speak up, and speak often.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/doit/presentation-tips-0">Presentation Tips</a></li>
                
                    <li><a href="https://www.forbes.com/sites/work-in-progress/2012/10/09/five-reasons-why-the-fear-of-public-speaking-is-great-for-you/#61eaf8f33b82">5 Reasons Why the Fear of Public Speaking is Great for You</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=getting-experience-when-you-dont-have-any">Getting Experience When You Don’t Have Any</a></li>
                
                    <li><a href="/husky_experience_message?article=how-persevere">How to Persevere</a></li>
                
                    <li><a href="/husky_experience_message?article=little-stress-good-really">A Little Stress is Good. Really.</a></li>
                
                    <li><a href="/husky_experience_message?article=networking-now-pays-later">Networking Now Pays Off Later</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
