{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Getting Involved Again</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Getting_involved_again_480.jpeg' %} 480w,
                         {% static 'hx_toolkit_output/images/Getting_involved_again_650.jpeg' %} 650w,
                         {% static 'hx_toolkit_output/images/Getting_involved_again_780.jpeg' %} 780w,
                         {% static 'hx_toolkit_output/images/Getting_involved_again_1000.jpeg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Getting_involved_again_650.jpeg' %}"
                     alt="Students sitting in a circle at Sky Root Farm, Whidbey Island, where Professor Elizabeth Wheat teaches them about the power of small sustainable farming.">
            
            
                <p class="myuw-image-credit">Photo: UW Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>What does “getting involved” really mean?</h3>


<p>
You hear this advice all the time, right? Make the most of your time at the University! Get involved! Be engaged! You might have an idea of what an “involved” student looks like – president of several clubs, embedded in student government – but there are many different ways to maximize the people and activities of UW. It might mean finding community and collective activity with a Registered Student Organization (RSO) or it might look like attending  public lectures, readings, or arts events. Maybe it is sports...maybe it is the theatre. Be open and spontaneous! 
</p>
<h3>The Big Four </h3>


<p>
Here are four easy ways to augment your school and work commitments. 
</p>
<ol>

<li><strong>Join a student organization.</strong> The <a href="https://hub.washington.edu/get-involved/sao/">Student Activities Office</a> and the <a href="http://depts.washington.edu/ecc/">Kelly Ethnic Cultural Center</a> are good places to start when you’re considering student organizations. Find a community, do good work together, and have fun. While you might see lots of recruitment events in the fall, student organizations are open to new members all year round. 

<li><strong>Support <a href="https://gohuskies.com/">Husky sports</a>.</strong> While football might get most of the attention, there are 19 other UW sports teams with long legacies of achievement...softball, soccer, gymnastics, golf, track...the list goes on. Many of these have very low student ticket prices (you can watch rowing regattas for free!) and are lots of fun. 

<li><strong>Attend a <a href="https://grad.uw.edu/public-lecture-series/">public lecture</a> or an <a href="https://www.ubookstore.com/events?evmonth=06&evyear=2021">author reading</a></strong>. Whether virtually or in person, you can step out of your intellectual comfort zone and learn something new.

<li><strong>Check out the <a href="https://artsevents.washington.edu/">campus arts scene</a></strong>. You know about the two campus museums, right? The <a href="https://henryart.org/">Henry Art Gallery</a> and the <a href="https://www.burkemuseum.org/">Burke Museum</a> are always free for students. For more visual art, check out the <a href="https://art.washington.edu/jacob-lawrence-gallery">Jacob Lawrence Gallery</a> located in the Art Building. Plus the <a href="https://drama.washington.edu/events">drama </a>and <a href="https://dance.washington.edu/events">dance</a> departments have dozens of performances a year. Sure, streaming content at home is great, but so is getting out for live events! 
</li>
</ol>
<h3>Plus Two More</h3>


<p>
Another way to meet people and do collective good work is through volunteering. You might already be connected to an organization or faith community and you can also find opportunities through the <a href="http://cele.uw.edu/">Community Engagement and Leadership Education (CELE) Center</a>. 
</p>
<p>
Finally, don’t forget that Seattle offers a wealth of opportunities for engagement – <a href="https://www.seattle.gov/arts">more arts</a>, <a href="https://visitseattle.org/things-to-do/spectator-sports/">more sports</a>, <a href="https://www.timeout.com/seattle/things-to-do/best-things-to-do-in-seattle">more fun</a>! 
</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=getting-experience-when-you-dont-have-any">Getting Experience When You Don’t Have Any</a></li>
                
                    <li><a href="/husky_experience_message?article=having-fun-free">Having Fun For Free</a></li>
                
                    <li><a href="/husky_experience_message?article=discover-new-worlds-your-own-backyard">Discover New Worlds in Your Own Backyard</a></li>
                
                    <li><a href="/husky_experience_message?article=doing-good-good-you">Doing Good Is Good For You</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
