{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Getting Experience When You Don’t Have Any</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>It can feel hard – even impossible – to get experience when you don’t have any. You may know that connecting your education to the larger world is important – you learn more, you contribute something, and you make new connections. But how do you make it happen?</p>
<h3>Learning Outside the Classroom</h3> 
<p>Any experience outside the classroom can be a learning experience, but the following experiences are designed to help you gain skills that employers seek:</p> 
<ul>
<li>Internships combine working with learning and can be a great way to explore different career paths. The Career and Internship Center has <a href=“https://careers.uw.edu/jerry-baldasty-internship-project/" target="_blank">resources</a> to help students at each stage of the process – from finding and applying for internships, to making sense of the experience once it’s over.</li> 
<li>Undergraduates can work with faculty and graduate students on <a href=“http://www.washington.edu/undergradresearch/" target="_blank">research</a> projects, applying classroom knowledge and methods to real-world questions. Attending the <a href=“http://www.washington.edu/undergradresearch/symposium/" target="_blank">Undergraduate Research Symposium</a> in May is a great way to get a sense of the breadth of opportunities.</li> 
<li>Work with community partners and develop a first-hand understanding of local challenges and opportunities by signing up for <a href=“https://www.washington.edu/carlson/students-3/browse-service-learning-positions/" target="_blank">service-learning</a>, <a href=“https://www.washington.edu/carlson/service-opportunities/" target="_blank">volunteering</a> with community based organizations, <a href=“http://expd.uw.edu/pipeline/" target="_blank">tutoring in schools</a>, or working on <a href=“http://expd.uw.edu/pipeline/" target="_blank">college access</a>.</li>
</ul>
<p>Take a risk, explore something new, revel in the learning.</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=plan-your-life-accident">Plan Your Life by Accident</a></li>
                
                    <li><a href="/husky_experience_message?article=value-part-time-employment">The Value of Part-Time Employment</a></li>
                
                    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Mapping Interests and Values to Meaningful Work</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
