{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Getting Experience When You Don’t Have Any</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/getting_experience_when_you_dont_have_any_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
It can feel hard – even impossible – to get experience when you don’t have any. You may know that connecting your education to the larger world is important – you learn more, you contribute something, and you make new connections. But how do you make it happen? 
</p>
<h3>Gaining skills employers seek </h3>

<p>
Any experience outside the classroom can be a learning experience, but the following experiences are designed to help you gain skills that employers seek: 
</p>
<ul>

<li><strong>Internships –</strong> Internships combine working with learning and can be a great way to explore different career paths. The Career & Internship Center has <a href="https://careers.uw.edu/jerry-baldasty-internship-project/">resources </a>to help students at each stage of the process – from finding and applying for internships, to making sense of the experience once it’s over. 

<li><strong>Academic research – </strong>Undergraduates can work with faculty and graduate students on <a href="http://www.washington.edu/undergradresearch/">research</a> projects, applying classroom knowledge and methods to real-world questions. Attending the <a href="http://www.washington.edu/undergradresearch/symposium/">Undergraduate Research Symposium</a> in May is a great way to get a sense of the breadth of opportunities. 

<li><strong>Community-based work, classes, or volunteering – </strong>Work with <a href="https://cele.uw.edu/">community partners</a> and develop a first-hand understanding of local challenges and opportunities by signing up for a course with <a href="https://cele.uw.edu/programs/community-engaged-learning-formerly-service-learning/">community-engaged learning</a> , <a href="https://cele.uw.edu/students/community-volunteering/">volunteering </a>with community based organizations, <a href="https://expd.uw.edu/riverways/">tutoring in schools</a>, or working on <a href="https://www.washington.edu/dreamproject/">college access</a>.
</li>
</ul>
<p>
Take a risk, explore something new, revel in the learning. 
</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=value-part-time-employment">The Value of Part-Time Employment</a></li>
                
                    <li><a href="/husky_experience_message?article=study-abroad-everyone">Study Abroad is for Everyone</a></li>
                
                    <li><a href="/husky_experience_message?article=doing-good-good-you">Doing Good Is Good For You</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
