{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Giving Effective Feedback</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/giving_effective_feedback_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/giving_effective_feedback_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/giving_effective_feedback_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/giving_effective_feedback_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/giving_effective_feedback_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Feedback is an essential part of professional and personal relationships. By learning to give feedback well, you will also improve your collaboration and communication skills. 
</p>
<p>
People often shy away from speaking their minds or providing honest feedback to others because they are worried that it will ruin a relationship. But done right, it can actually strengthen one and create connection and trust in a relationship rather than friction. Here is some advice from behavior and communication experts on what makes good feedback.  
</p>
<h3>What is Feedback?</h3>


<p>
<strong>Think of feedback as an <em>investment in a relationship</em>. </strong>People behave with intention – when you provide feedback to someone, you’re providing them with information about whether their intention was successful and/or whether their actions had other, unintended effects. That kind of feedback can be a gift. Feedback is not flattery, punishment or advice.
</p>
<ul>

<li><strong>Positive feedback is information on what went well and what to keep doing.</strong> Positive feedback improves relationships and promotes successful behaviors. 

<li><strong>Critical feedback is information on what could be changed or done differently.</strong> Critical feedback may be difficult for people to absorb and can have a negative impact on relationships. That doesn’t mean it should never be given. The way critical feedback is delivered is as important as the content.
</li>
</ul>
<p>
Whether it is positive or critical, <strong>feedback is most effective when it is</strong>...
</p>
<ul>

<li><strong>Immediate.</strong> It is best to give feedback as soon as possible. The more immediate the feedback, the easier it is for the recipient to take corrective action or to repeat their success.

<li><strong>Specific.</strong> The more specific the information you can provide, the better; avoid judgments or generalizations when giving feedback. For example, contrast the statement, “I really appreciate your contributions at our group project meeting yesterday” with this more specific and detailed comment: “I really appreciated how you were able to identify the conflicting ideas and bring us together at our group project meeting yesterday. We were all talking past one another until you spoke up and summarized our different positions and needs. I think the meeting turned around and our project will work out thanks to you.”
</li>
</ul>
<h3>Giving Feedback: Image-Centered Compliments</h3>


<p>
<strong>When you can align feedback with a person’s values or positive self-image, it will have a greater impact.</strong> When possible, include how the behavior is evidence of their positive character. For example,
</p>
<ul>

<li>“You stayed late to help out the rest of us group project members yesterday though I know you had other commitments. You are a wonderful team player and I really appreciate working with you.”
</li>
</ul>
<p>
You can also contrast critical feedback with a person’s values or self-image.
</p>
<ul>

<li>“I know you really care about the team and so I was surprised you left early yesterday when we had so much more work for the group project due this week.”
</li>
</ul>
<p>
Never use critical feedback to suggest a negative self-image.
</p>
<ul>

<li>“I can’t believe you left while we were working so hard, that’s so selfish!”
</li>
</ul>
<h3>Giving Critical Feedback</h3>


<p>
People are often reluctant to provide critical feedback because it can produce defensiveness in the recipient or a creative freeze. <strong>It is important to provide critical feedback privately </strong>and to remember to provide specifics. First identify and acknowledge what’s positive about what the recipient did and then use judgement free-language to soften critical feedback. Use “and” or “what if”, rather than “but” and deliver your critical feedback as a question if possible.
</p>
<p>
For example, “I like how the PowerPoint is organized but it would be better with bullet points” could be stated as “I like how this PowerPoint is organized; what if we added bullet points?”
</p>
<h4>Acknowledge Context and Positive Intention</h4>


<p>
<strong>Acknowledging the positive intent when delivering critical feedback reduces defensiveness</strong> <strong>and makes it easier for the recipient to respond. </strong>For example,<strong> </strong> 
</p>
<ul>

<li>“I have something I’d like to discuss with you that I think will help us work together more effectively.”
</li>
</ul>
<p>
<strong>Asking questions</strong> empowers the feedback recipient and allows them to express their own intent.
</p>
<ul>

<li>“I’d like to see if we might reach a better understanding about ______________. I really want to hear your feelings about this and share my perspective as well.”

<li>“I need your help with what just happened. Do you have a few minutes to talk?”
</li>
</ul>
<h4>Use “I” Statements for Critical Feedback</h4>


<p>
<strong>“You” statements can put the recipient on the defensive.</strong> They tend to imply that the recipient had a particular motivation or negative intent. For example,
</p>
<ul>

<li>“You were late and never called.”
</li>
</ul>
<p>
<strong>“I” statements provide feedback to the recipient about how their actions affected the speaker emotionally. </strong>
</p>
<ul>

<li>“I was worried when you were late”.
</li>
</ul>
<p>
To sum up, feedback is most effective when it is specific and immediate. When it can be aligned positively with a person’s values or positive self-image, it will have greater impact.  Soften critical feedback by acknowledging what is positive, then suggest “what if” to create a collaborative approach. Acknowledge positive intent and use “I” statements when delivering critical feedback. 
</p>
<p>
By practicing these ways to deliver feedback, honesty can create bridges rather than burn them.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.mirecc.va.gov/cih-visn2/Documents/Patient_Education_Handouts/Assertive_Communication_Version_3.pdf">Assertive Communication (pdf)</a></li>
                
                    <li><a href="https://www.gottman.com/blog/effective-feedback-workplace/">How to Give Effective Feedback in the Workplace</a></li>
                
                    <li><a href="https://www.gottman.com/blog/weekend-homework-assignment-tips-for-asserting-yourself/">Weekend Homework Assignment: Tips for Asserting Yourself</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=your-friends-your-success">Your Friends, Your Success</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-through-teamwork">Take the Pain Out of Teamwork</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
