{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Giving Effective Feedback</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/giving_effective_feedback_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/giving_effective_feedback_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/giving_effective_feedback_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/giving_effective_feedback_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/giving_effective_feedback_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>Feedback is a critical part of professional and personal relationships, and learning how to give good feedback will benefit you by allowing you to express concerns and collaborate.</p>  
<p>It takes practice to provide honest feedback in ways that create connection rather than friction. Here is advice from behavioral and communication experts who say that, done thoughtfully, giving effective feedback can be a way for the other person to observe the consequences of their behavior and gives them an ability to make an informed choice.</p> 
<h3>What is Feedback?</h3>
<p><strong>Feedback can be a gift of information provided to another person.</strong> Feedback is not flattery, punishment, or advice.
<p>What is the difference between positive and negative/critical feedback? Is one better than another?
<p>People behave with intention – feedback provides information about whether their intention was successful and/or what other unintended impacts occurred. <strong>Positive feedback is information on what went well and what to keep doing.</strong> Positive feedback improves relationships and promotes successful behaviors. <strong>Critical feedback is information on what could be changed or done differently.</strong> Critical feedback may be difficult to absorb and may produce defensiveness and negatively impact relationships. Sometimes the expression of it is as important as the content; experts emphasize that not being nasty is more important than being nice.</p> 
<p>What makes feedback effective?</p> 
<ul>
<li><strong>Immediate.</strong> Whether positive or critical, it is best to give it as soon as possible.  The more immediate the feedback, the easier it is to take corrective action or to repeat the success.</li>
<li><strong>Specific.</strong> The more specific the information the better – avoid judgments or generalizations. For example, contrast this – “I really appreciate your contributions at our group project meeting yesterday” – with this more specific and detailed comment:
<p>“I really appreciated how you were able to identify the conflicting ideas and bring us together at our group project meeting yesterday.  We were all talking past one another until you spoke up and summarized our different positions and needs. I think the meeting turned around and our project will work out thanks to you.”</p></li>
</ul>

<h3>Giving Feedback: Image Centered Compliments</h3>
<p>What are image centered compliments? How can they be helpful and/or problematic?</p> 
<p><strong>When feedback can be aligned positively with a person’s values or positive self-image it will have a greater impact.</strong> When possible, include how the behavior is evidence of their positive character.</p>  
<p>For example: “You stayed late to help out the rest of us group project members yesterday though I know you had other commitments. You are a wonderful team player and I really appreciate working with you.”</p>
<p>You can also contrast critical feedback with a person’s values or self-image.</p> 
<p>Example: “I know you really care about the team and so I was surprised you left so early yesterday when we had so much more work for the group project that is due this week.”</p>
<p>Never use critical feedback to suggest a negative self-image.</p> 
<p>Example: “I can’t believe you left while we were working so hard, that’s so selfish!”</p>
<h3>Critical Feedback</h3>
<p>Why is it difficult to give effective feedback? Is it possible to soften critical feedback?</p> 
<p>Critical feedback can produce defensiveness and/or creative freeze.  People are often reluctant to provide critical feedback and don’t provide specifics.  <strong>It is important to provide critical feedback privately.</strong> Take time to identify and acknowledge the positive and use judgement free language to soften critical feedback. Use “and” or “what if”, rather than “but” and deliver it as a question.</p> 
<p>For example, “I like how the PowerPoint is organized but it would be better with bullet points” could be stated as “I like how this PowerPoint is organized; what if we added numbered bullet points?”</p> 
<h3>Acknowledging Context and Positive Intention</h3>
<p><strong>Acknowledging the positive intent when delivering critical feedback reduces defensiveness and allows the acceptance of the feedback.</strong></p> 
<p>Example:  “I have something I’d like to discuss with you that I think will help us work together more effectively.”</p> 
<p><strong>Asking questions</strong> empowers the feedback recipient and allow them to express their own intent.</p> 
<p>Example: “I’d like to see if we might reach a better understanding about ______________. I really want to hear your feelings about this and would like to share my perspective as well.”</p> 
<p>“I need your help with what just happened.  Do you have a few minutes to talk?”</p> 
<h3>Using “I” Statements for Critical Feedback</h3>
<p><strong>“You” statements can put the other person on the defensive.</strong> They tend to describe motivation or intent negatively.</p> 
<p>Example: “You were late and never called.”</p> 
<p><strong>“I” statements are feedback about the speaker’s emotional experience.</strong></p> 
<p>Example: “I was worried when you were late”.</p> 
<p>To sum up, feedback is most effective when it is specific and immediate. When it can be aligned positively with a person’s values or positive self-image, it will have greater impact.  Soften critical feedback by acknowledging what is positive, then suggest “what if” to create a collaborative approach. Acknowledge positive intent and use “I” statements when delivering critical feedback.</p> 
<p>By practicing these ways to deliver feedback, honesty can create bridges rather than burning them.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.mirecc.va.gov/cih-visn2/Documents/Patient_Education_Handouts/Assertive_Communication_Version_3.pdf">Assertive Communication (pdf)</a></li>
                
                    <li><a href="https://www.gottman.com/blog/effective-feedback-workplace/">How to Give Effective Feedback in the Workplace</a></li>
                
                    <li><a href="https://www.gottman.com/blog/weekend-homework-assignment-tips-for-asserting-yourself/">Weekend Homework Assignment: Tips for Asserting Yourself</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=your-friends-your-success">Your Friends, Your Success</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-through-teamwork">Learning through Teamwork</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
