{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Good Relationships Lead to Recommendations</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Good_Relationships_Lead_Recommendations_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Good_Relationships_Lead_Recommendations_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Good_Relationships_Lead_Recommendations_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Good_Relationships_Lead_Recommendations_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Good_Relationships_Lead_Recommendations_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Want to build the kind of relationships that make it easy to ask for a letter of recommendation? UW’s Dr. Tom Halverson has some advice. He’s a lecturer and senior researcher in Educational Leadership and Policy Studies and a past recipient of the UW College of Education’s Outstanding Advisor Award. Below he responds to questions he frequently gets from students:
</p>

<ul>
<li><strong>How soon can I ask for a recommendation?</strong>
<p>
My rule of thumb is there needs to be, at a minimum, at least a completed quarter’s worth of history between you and the professor before you can ask them to “recommend” you for anything. I have had students ask four weeks into fall quarter, and I have had to decline because I didn’t feel I had more than a pedestrian knowledge of who they were, or their work. 
</p></li>
</li>
<li><strong>How do I establish a relationship?</strong>
<p>
If you want a professor to recommend you, <em>lay the groundwork</em>: Ask good questions in class, go up after class and chat with the professor, go to her/his office hours, etc. Also, give the professor at least four weeks before the deadline to write the letter. Usually, requests for letters of recommendation all come to us at once (they’re all due about the same time), so give us a little time to manage the workload.
</p></li>
<li><strong>How should I ask?</strong>
<p>
I think it’s very important (if it’s humanly possible) to ask for a recommendation in person. Requests via email seem (to me) like you’re not really invested in the process. So make an appointment, or drop in to office hours, and ask face-to-face. Also in this personal request, it is always helpful when the student helps me see (makes a case for) why our relationship and /or the course they took from me is an appropriate (aka: legitimate) context for making a recommendation. In other words, what did you get out of my class, what did you do with the material, how did the readings change your thinking in a way that was a catalyst for you seeking this new opportunity?
</p></li>
<li><strong>Should I include anything with my request?</strong>
<p>
Bring with you any supporting materials that you think will be helpful. These could include a resume, other letters of recommendation you’ve received for other programs/positions, bullet points of the main areas you’d like to see highlighted in a letter, or connections to your relationship with this specific professor and their work/course that you’d like them to speak to, etc.
</p></li>
<li><strong>What’s a reasonable number of letters to request?</strong>
<p>
I consider 2 to 3 letters to be a reasonable limit. And I prefer the requests to come all at once so I know what I’m dealing with and can manage the process. I don’t enjoy it when, two weeks after I get a request, I get an email that says something like, “Hey, sorry to bug you again but...I found a couple more programs I want to apply for…” If you’re applying to more than three schools or programs, ask someone else to write a letter.
</p></li>
<li><strong>How should I follow up if the deadline is very near, or the letter is late?</strong>
<p>
Here’s what I like to hear: “Dr. Halverson, I wanted to thank you again for your willingness to write a letter of recommendation on my behalf for [name of program, school, or opportunity]. As a reminder, the deadline for completed applications is [date]. Thanks again, [your name].”
</p></li>
<li><strong>Should I send a “Thank You”?</strong>
<p>
Yes! But a gift of any kind is unnecessary. A simple (and heartfelt) note saying how much you appreciated your professor writing the letter, and how excited you are to get started in your new program/job, is reward enough.
</p>
</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/blog/2022/09/08/how-to-ask-for-a-letter-of-recommendation/">UW Career Center: How to Ask for a Letter of Recommendation</a></li>
                
                    <li><a href="https://expd.uw.edu/scholarships/applying/letters-of-recommendation/">UW OMSFA: Advice on Getting Letters of Recommendation</a></li>
                
                    <li><a href="https://www.thebalancecareers.com/how-to-ask-a-professor-for-a-recommendation-2060798">How to Ask a Professor for a Recommendation</a></li>
                
                    <li><a href="https://undergrad.stanford.edu/academic-planning/engage-faculty/asking-letters-recommendation">Asking for Letters of Recommendation</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=career-conversations-small-investment-big-payoff">Career Conversations: Small Investment, Big Payoff</a></li>
                
                    <li><a href="/husky_experience_message?article=strength-diverse-network">The Strength of a Diverse Network</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
