{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Gratitude is Healthy</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Gratitude_is_Healthy_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Gratitude_is_Healthy_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Gratitude_is_Healthy_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Gratitude_is_Healthy_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Gratitude_is_Healthy_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Feel Good </h3>


<p>
Sarah Kopelovich, UW Medicine faculty member, <a href="https://rightasrain.uwmedicine.org/mind/well-being/5-surprising-health-benefits-gratitude">published a study on gratitude</a> that showed that expressing gratitude improves your health, helps with better sleep, and contributes to an overall positive feeling of well-being. It can also help with stress reduction and make you feel more satisfied with your life! 
</p>
<h3 id="practice-gratitude">Practice Gratitude</h3>


<p>
It does take some effort to be regularly thankful. <a href="https://greatergood.berkeley.edu/article/item/ten_ways_to_become_more_grateful1/">Robert Emmons</a>, gratitude researcher, has lots of tips, including: 
</p>
<ul>

<li><strong>Keep a gratitude journal</strong>. Write down something you are thankful for every day.

<li><strong>Remember the bad</strong>. Sometimes it can be helpful to think about things you have overcome.

<li><strong>Use visual reminders</strong>. Good habits are hard to start but using an item (a gift from a friend or a photo of someone special) to prompt gratitude can help.

<li><strong>Go through the motions</strong>. Acting as if you are grateful (smiling, saying thank you, writing a note of gratitude) can often trigger the emotion of gratitude and a feeling of wellbeing.
</li>
</ul>
<p>
Try gratitude for a week and see how it impacts you. If it works, you can make it a <em>thankful</em> habit.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.nytimes.com/2023/06/08/well/mind/gratitude-health-benefits.html">Gratitude Really is Good for You</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=show-yourself-little-compassion">Show Yourself a Little Compassion</a></li>
                
                    <li><a href="/husky_experience_message?article=little-stress-good-really">A Little Stress is Good. Really.</a></li>
                
                    <li><a href="/husky_experience_message?article=de-stress-focus-and-perform-better-through-mindful">De-Stress, Focus, and Perform Better through Mindfulness</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
