{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Hacks for Better Eating Habits</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Hacks_Better_Eating_Habits_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Hacks_Better_Eating_Habits_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Hacks_Better_Eating_Habits_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Hacks_Better_Eating_Habits_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Hacks_Better_Eating_Habits_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: UW Housing and Food Services</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
We are creatures of habit and convenience. If chips and soda are nearby, that’s what we’ll eat. So you may have to outsmart your inner monkey and make changes that make not-so-healthy impulses harder to act on, and make healthy actions the easy choice. 
</p>
<p>
<h3>Making Healthy the Easy Choice</h3>
</p>
<ul>

<li><strong>Start by adding healthy food</strong>. Rather than just taking away unhealthy foods, start by focusing on healthy foods to add. Getting proper nutrition will make it easier to later cut out unhealthy foods. 

<li><strong>Stock healthful food</strong>.<strong> </strong>Set yourself up for success by having healthy stuff on hand, and make sure you always have a healthy snack in your bag like trail mix or fruit. 

<li><strong>Carry a water bottle</strong>. Keep a water bottle in your backpack for refilling. Seeing it will also serve as a reminder to drink water.

<li><strong>Start with a smaller portion</strong>. Restaurants and dining halls tend to offer more than one serving size. Try starting small and going back for more if you’re hungry, or if the portions are large, plan on taking some home or splitting a meal with a friend.

<li><strong>Put snacks on a plate</strong>. You don't really intend to eat the whole bag of chips, right? Put some on a plate instead of eating straight from a big container. Using a plate makes it easier to see how much you are eating, helps you become aware of the mindless urge to keep chewing, and ultimately helps you better regulate your portion sizes. 

<li><strong>Eat your meals with others</strong>. When you can, relax and enjoy a meal with someone. This will help you eat at a reasonable pace.

<li><strong>Make small lifestyle changes</strong>. It is important to make changes that you can keep doing over time, such as adding more veggies to your diet, drinking more water, and using plates when you snack, rather than sweeping changes that are harder to sustain (like cutting all sugar).
</li>
</ul>
<p>
You can further your food game by reading our article on how <a href="/husky_experience_message?article=eating-better-mood-and-energy">what you eat affects your mood and your cognitive abilities</a> and following the tips there. Bon Appetit! 
</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=eating-better-mood-and-energy">Eating for Better Mood and Energy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
