{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Having Fun For Free</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/having_fun_for_free_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/having_fun_for_free_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/having_fun_for_free_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/having_fun_for_free_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/having_fun_for_free_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: UW Housing &amp; Food Services</p>
            
        </figure>
        <div class="myuw-article-body">
        <p><strong>Hannah McConnaughey is a UW senior studying Marketing and English</strong> and recently shared these tips in a <a href=“http://www.washington.edu/studentlife/2018/01/17/10-ways-to-destress-this-winter-quarter/" target="_blank">Student Life Blog</a> about how fellow Huskies can have fun and relax:</p>
<h3>Zone Out with a Great Movie or TV Show</h3>
<p>I couldn’t find any scientific data to back me up, but I’m pretty sure that curling up with a good binge-watching session is every college student’s favorite activity. <strong>You’ve probably already got your go-to sites and shows, but here are just a few suggestions if you want to mix things up.</strong></p>
<ul>
<li><a href=“https://www.facebook.com/UwFilmClub/" target="_blank">The UW Film Club</a> hosts frequent movie nights, usually with films that aren’t available on Netflix, Hulu, Amazon Prime Video, etc., like Alfred Hitchcock’s <cite>Rear Window</cite> or <cite>500 Days of Summer</cite>. Their events are totally free, so follow the UW Film Club Facebook page to see upcoming movie nights you might be interested in. They also collaborate with movie studios pretty often, so you might also get the chance to win free passes to advance screenings of upcoming Hollywood movies before they’re open to the general public!</li>
<li>If you live in the UW dorms, you can enjoy movie nights hosted by the <a href=“https://www.facebook.com/pg/UWRPB/events/?ref=page_internal" target="_blank">UW Residential Programming Board</a> –  a few recent flicks include <cite>Baby Driver</cite>, <cite>Spiderman: Homecoming</cite>, and <cite>Blade Runner</cite>. Free popcorn & lemonade are provided! (Must be a current HFS resident.)</li>
<li>Dorm residents also get complimentary streaming HuskyTV (powered by philo.com) and access to HBO GO. <a href=“https://itconnect.uw.edu/connect/television/huskytv/" target="_blank">Learn more here</a>.</li>
<li>You can also borrow DVDs of movies and tv shows from Suzzallo and Allen Libraries, or request them online if they’re currently checked out by someone else. Just <a href=“http://www.lib.washington.edu/services/borrow" target="_blank">log into your UW Library Account</a> and get started!</li>
</ul>
<h3>Read Something Not for Class</h3>
<p>There’s something about the physical act of paging through a book that helps you get “in the zone” and escape the daily grind for a little while. <strong>Whether you devour mystery novels or love a good biography, you can easily find something to read at Suzzallo and Allen Libraries or in Odegaard Undergraduate Library.</strong> The most popular mainstream reads are stocked behind the help desk of Odegaard on the second floor, and are available in many languages. (Pro tip: Keep an eye out for “book blind date” shelves in Ode, where occasionally librarians set up books wrapped in brown paper with only a brief description written on the front—such a fun surprise once you take it home!)</p>
<p><strong>If you’re a currently enrolled UW student, all you need is your Husky card to check out your books.</strong> If you live in the UW-Seattle dorms or near Seattle campus, you can also register for a free Seattle Public Library card, which will not only let you check out books from their branches, but also give you access to a huge range of audiobooks and ebooks you can download to your device. More info on <a href=“http://www.spl.org/using-the-library/get-started/get-a-library-card" target="_blank">how to get a SPL library card</a> (you must have valid ID and proof of address).</p>
<h3>Explore Somewhere New</h3>
<p>In my opinion, one of the best things about being a Husky is getting to live in the beautiful Pacific Northwest. <strong>With the UPass on your Husky Card, why not carve out some time to explore a little?</strong> Take a quick day trip to Bremerton on the Kitsap Fast Ferry, head to Golden Gardens Beach, or hunt down some hidden gems in Fremont or the International District. A change of scenery can help you return to your routine refreshed & inspired.</p>
<h3>Join a Club!</h3>
<p>During your first days at UW, the sheer number of activities and opportunities can be overwhelming, but it’s so easy to play it safe, fall into a routine, and never look back. When you’re super focused on your classes and leadership activities, sometimes your hobbies fall by the wayside to your busy schedule. If you’re stressed or feeling burnt out, doing something you’re passionate about or enjoy can do wonders for your mood. Could an a capella group, the Hiking Club, the Cooking & Baking Club, or Badminton Club be perfect for you? Find out – and explore the full list of <a href=“https://uws-community.symplicity.com/index.php?s=student_group" target="_blank">UW’s 900+ other student clubs</a>. (P.S. If you don’t see one that strikes your fancy, you can always start your own!) Check out the infographic at left to find out how.</p>

<h3>Some Final Suggestions!</h3>
<p>In addition to Hannah’s suggestions, we also suggest:</p>
<ul>
<li>Exploring <a href=“http://www.seattle.gov/parks/find/parks/gas-works-park" target="_blank">Gasworks Park</a>, the <a href=“https://botanicgardens.uw.edu/washington-park-arboretum/" target="_blank">Arboretum</a>, or the <a href=“http://ballardlocks.org/questions.html" target="_blank">Ballard Locks</a></li> 
<li><a href=“http://www.seattle.gov/arts/experience/art-walks" target="_blank">Checking out an Art Walk</a>in one of many Seattle neighborhoods</li>
<li>Attending one of the <a href=“http://www.ubookstore.com/events?" target="_blank">University Bookstore’s many events</a></li>
<li>Finding free events in <a href=“https://www.thestranger.com/" target="_blank">The Stranger</a>or <a href=“http://www.seattleweekly.com/" target="_blank">Seattle Weekly</a> Seattle’s local weekly publications.</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/ima/about/friday-night-activities/">IMA Friday Night Activities</a></li>
                
                    <li><a href="https://www.washington.edu/ima/waterfront/canoe-boat-rentals/">Waterfront Activities Center Boat Rentals</a></li>
                
                    <li><a href="http://www.washington.edu/calendar/#/?i=6">Seattle Campus Calendar</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=bouncing-back">Bouncing Back</a></li>
                
                    <li><a href="/husky_experience_message?article=plan-your-life-accident">Plan Your Life by Accident</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
