{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Healthy Ways to Handle Conflict</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Healthy_Ways_Handle_Conflict_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Healthy_Ways_Handle_Conflict_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Healthy_Ways_Handle_Conflict_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Healthy_Ways_Handle_Conflict_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Healthy_Ways_Handle_Conflict_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
<em>“My housemate left all her dirty dishes in the sink again! She’s so inconsiderate!”</em>
</p>
<p>
<em>“My research professor keeps giving me more responsibilities without considering I have other courses and obligations.”</em>
</p>
<p>
<em>“Another group project where I’m getting saddled with most of the work…”</em>
</p>
<p>
Conflict is a part of life. You might experience conflict with friends, family members, professors, co-workers, and even strangers. Conflicts arise naturally whenever human beings interact. Many people associate conflict with anger and hurt feelings, but it doesn’t have to be this way. If you practice healthy ways to handle conflict, the process can build trust and support emotional growth. It’s a great skill to learn, and for better or worse, you’ll likely have opportunities to practice it during your time at UW.
</p>
<h3 id="unhealthy-reactions-to-conflict">Unhealthy Reactions to Conflict</h3>


<p>
Before you begin plotting revenge against your messy housemate, recognize that each of us – including you – has a personal history that impacts our emotional reactions to conflict. Negative feelings sometimes lead to old habits, such as 
</p>
<ul>

<li>Exploding angrily

<li>Blaming others

<li>Failing to really listen to the other person

<li>Refusing to compromise

<li>Completely shutting down

<li>Avoiding confrontation
</li>
</ul>
<p>
None of these strategies is an effective way to handle conflict, and such reactions (e.g., dumping your housemate’s dirty dishes on her bed or telling your research professor, “I quit!”) do us and our relationships more harm than good. Changing these habits requires practice.
</p>
<h3 id="cultivating-a-healthy-response">Cultivating a Healthy Response</h3>


<p>
A healthy approach to conflict involves getting out of your reptile brain – the part that controls your automatic impulses – and into your prefrontal cortex, the part that allows you to think rationally. When you are first faced with a conflict, do a quick stress check on yourself. Try your best to relieve the stress you’re experiencing in the moment (you can physically soothe yourself with deep breaths), and check in with your emotions: Are you feeling angry? Scared? Don’t let your emotions overwhelm or take control of you. If you need a moment (or days) to collect yourself, take that time. A large part of healthy conflict management is the ability to notice your feelings, self-regulate, and make sure you’re capable of communicating your needs. 
</p>
<h3 id="strategies-for-managing-and-resolving-conflict">Strategies for Managing and Resolving Conflict</h3>


<p>
Try practicing these four crucial strategies for managing and resolving conflict:
</p>
<ul>

<li><strong>Think it over.</strong> Honestly assess the situation. Think about what the real problem is in the relationship and how you might have contributed. Have you continually said yes to your research professor’s requests without ever voicing your need for balance? A conflict is rarely one person’s fault, though there are times when that’s true.

<li><strong>Figure out what you want to say and how to say it.</strong> Don’t blame others. Instead, tell them what’s not working for you and take responsibility for your part in the conflict. And do this early; for example, if your don’t let your group members know right away what you need from them for the project to be a success, the problem can fester and become worse than it needs to be. That said, you may want to wait a bit before responding to something that has made you angry. Especially when you can respond in a virtual space immediately, it might make sense to cool down a bit first. 

<li><strong>Really listen</strong>. Listen carefully to what is being said, and if you don’t understand what is being said, ask clarifying questions. You don’t have to agree with what the other person is saying, but you can demonstrate an empathetic and sincere effort to understand where they’re coming from. Maybe your roommate is going through an extra stressful time at work and is having difficulty focusing; it may not excuse the dirty dishes in the sink, but it may help you understand why she might have forgotten them.

<li><strong>Work toward understanding.</strong> While it may be tempting to fight for your point of view or perspective, healthy and effective conflict resolution is not about winning or losing. Instead, focus on pathways towards mutual understanding, or at the very least, mutual respect. It’s also okay to end a conversation if it’s not going anywhere, or if it’s becoming emotionally damaging or harmful. It’s acceptable to say, “I’m not willing to participate in this discussion any longer. Let’s agree to disagree for the time being.” You can always revisit the conversation if all parties agree another conversation is productive and helpful.
</li>
</ul>
<p>
Remember, conflict is not a bad thing. We do not have to be afraid of confrontation. Conflict management requires patience, both for ourselves and for other people, but mindful practice of this skill is an invaluable tool.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.helpguide.org/articles/relationships-communication/conflict-resolution-skills.htm/">Conflict Resolution Skills</a></li>
                
                    <li><a href="https://www.psychologytoday.com/us/blog/contemporary-psychoanalysis-in-action/201606/6-better-ways-deal-conflicts-in-your-relationship">Six Better Ways to Deal With Conflict in Your Relationship</a></li>
                
                    <li><a href="https://www.psychologytoday.com/us/blog/close-encounters/201704/10-tips-solving-relationship-conflicts">Ten Tips for Solving Relationship Conflicts</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=show-yourself-little-compassion">Show Yourself a Little Compassion</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
                    <li><a href="/husky_experience_message?article=becoming-better-listener">Becoming a Better Listener</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
