{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">How to Persevere</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/How_to_persevere_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/How_to_persevere_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/How_to_persevere_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/How_to_persevere_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/How_to_persevere_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="to-succeed-persevere">To Succeed, Persevere</h3>

<p>
Perseverance is keeping going even though you really want to stop, or it’s bouncing back from failure in order to try again. There may be <a href="/husky_experience_message?article=when-quit">good reasons for quitting something</a>, and a right time to do so, but psychologists studying the concept of “grit” found that the capacity to stick with a task — particularly when faced with difficulties — is a crucial factor in explaining success.
</p>
<p>
There are other good reasons to persevere. Persevering in the face of challenges can help you reach a particular goal, but it can also mean that you will likely learn new skills along the way to that goal. And Stanford Psychology professor Carol Dweck’s work has found that by persevering you will become a better performer in the long term, having more success every time you reach for a goal.
</p>
<h3 id="how-to-persevere">How to Persevere</h3>


<p>
Once you are clear that you want to persevere — you’ve made sure your goals are worth pursuing and carefully considered that your goals pose no unnecessary damage to your health, relationships or the like — consider these strategies to help you persevere. 
</p>
<ul>

<li><strong>Recall past perseverance.</strong> Bringing to mind past instances when you persisted can help strengthen your resolve and give you energy, focus, and determination to persevere now. Think about the last time you felt fierce, strong, stubborn, unyielding, clear, inspired, surrendered, on-mission, purposeful, focused, or committed. Remember it, and feel it in your body and bring it to mind when you feel you need resources to keep going. 

<li><strong>Take a step, even just a small one.</strong> Identify one small thing you can do right now to make progress towards your goal. There usually is something that can be done. Identifying immediately actionable tasks and completing one is more beneficial than getting stressed about all the things that need to happen in the future to meet your goal. Take the step that's available; this will bring the next steps into reach and give you a boost for having made progress.

<li><strong>Set a reasonable pace</strong>. Work and make progress towards your goals, but avoid frenzied activity or panicked states of mind that will just burn you out. “Slow and steady wins the race!”

<li><strong>Try other solutions.</strong> If you’re stuck, make sure you've explored your options for other ways of accomplishing your goal or of getting through your next step. It can sometimes be helpful to brainstorm with others — a friend, adviser, family member, or counselor —  about possible solutions.<strong> </strong>

<li><strong>Be patient and give things time.</strong> Don’t forget that things take time. Dreams aren’t fulfilled overnight, so don’t get discouraged if things aren’t happening quickly enough. If you’ve just embarked on an effort, it’s especially important to give the effort time so that you don’t let the newness of it scare you off. 

<li><strong>Just keep going (even if it’s only in your mind).</strong> Remember that your efforts will pay off by putting one foot in front of the other. And if you’re truly stuck and can’t move forward (because you are sick, or blocked waiting on some external change), keep your spirits up. Know that being intent on your goal, not giving up, is progress in itself. You can take comfort in these lovely and self-compassionate words of wisdom by best-selling author and psychologist Dr. Rick Hanson, "You can continue to reflect on what's happening, learn to cope with it better, and love the people around you. And over time maybe things will improve."
</li>
</ul>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=bouncing-back">Your Mindset Matters</a></li>
                
                    <li><a href="/husky_experience_message?article=asking-help-normal-and-necessary">Asking for Help is Normal. And Necessary.</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
