{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Husky or Bank Account Running Low? $$ :-(</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Husky_bank_account_running_low_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Husky_bank_account_running_low_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Husky_bank_account_running_low_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Husky_bank_account_running_low_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Husky_bank_account_running_low_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
We know that it can be really stressful to be low on funds. College brings constant expenditures — food, books, transportation, etc. — and with the stress of coursework, it can be easy to overlook simple ways to save money. For those of you struggling to have enough money, these tips may prove helpful. 
</p>
<p>
<strong>Note</strong>: We know that UW students have a wide variety of financial circumstances. If you are in <em>dire</em> financial need and are experiencing unexpected financial hardships that may disrupt your education or prevent you from earning your UW degree, explore the <a href="https://www.washington.edu/emergencyaid/seattle/">UW emergency aid</a> support available.
</p>
<h3 id="tips-for-saving-money-this-week">Tips for Saving Money This Week</h3>


<p>
There’s a lot of little things that can be done, starting this week. Changing habits can be a challenge, so don’t feel like you have to do all of these at once, but pick one or two things to start with. 
</p>
<ul>

<li><strong>Cook at home</strong>. Cooking at home can often be cheaper than eating out and likely, it is healthier compared with what you can get if you eat out. 

<li><strong>Coffee at home</strong>. For certain, making your coffee at home instead of paying 2 to 5 dollars every day is a way to save money quickly.

<li><strong>Carry snacks.</strong> A bit of planning can keep you from buying those expensive snacks during the day. Trail mix and fruit are particularly healthy and convenient snacks to have on hand.   

<li><strong>Don't overbuy at the grocery store</strong>. It can be easy to overbuy and then end up throwing food away when you don’t get to it. Try buying less food and pay attention to what you toss out. If you need, you can do another grocery run.

<li><strong>Wait 72 hours before buying</strong>. Putting a pause between the moment when you want to buy something and when you decide to or decide not to buy it (<a href="https://www.nytimes.com/2016/08/10/your-money/one-secret-to-cutting-spending-wait-72-hours-before-you-buy.html">one New York Times columnist suggests waiting 72 hours</a>) can help you reduce your spending. A waiting period allows to consider whether or not you actually need the item, whether something you already own can serve the same function, and what else you could do with the money. 
</li>
</ul>
<h3 id="other-ways-to-save-money">Other Ways to Save Money</h3>


<ul>

<li><strong>Look for free events</strong>. There are many free events on campus (and throughout the city), so save money by hitting those up. Plus campus events are a great way to meet new people.

<li><strong>Get free online entertainment</strong>. Access free online content via sites like Kanopy (UW and Seattle Public Libraries both provide access to this free service) and PBS. If you currently subscribe to a streaming service or cable, you may be able to reduce costs by paying as you go rather than having a subscription.

<li><strong>Thrift and dollar stores</strong>. Dollar stores may not be cool (yet), but thrift stores are, and they are both great places to make your money go further. The Ave has several excellent thrift stores, and a dollar store! 

<li><strong>Clearance rack and coupons</strong>. Retailers, including grocery stores, typically have a clearance or sale rack, so browse the clearance area first for items you need. You can also find coupons online for your online or in-store purchases; there are dozens of online coupon sites. 

<li><strong>Use cash for the extras</strong>. Determine how much you can spend on extras (discretionary expenses) such as eating out, drinks, shows, and then withdraw that amount in cash. Commit to spending only that cash. Once it’s gone, cut yourself off from those extras. 

<li><strong>Stop smoking</strong>. If you smoke, ending this addictive habit will save you lots of money, and <a href="https://www.medicalnewstoday.com/articles/317956.php">you’ll have much better health</a>. It may not be easy, but there are <a href="https://www.livescience.com/43293-quit-smoking-tips.html">scientifically backed tips to help</a>.

<li><strong>Hungry Husky food pantry</strong>. If you experience food insecurity, check out the <a href="https://www.washington.edu/anyhungryhusky/the-uw-food-pantry/">Campus Food Pantry</a>.
</li>
</ul>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=having-fun-free">Having Fun For Free</a></li>
                
                    <li><a href="/husky_experience_message?article=saving-summer-vacation-or-other-financial-goals">Saving for Summer Vacation (or Other Financial Goals)</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
