{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Interviews: Making Your Case</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Interviews_Make_Your_Case_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Interviews_Make_Your_Case_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Interviews_Make_Your_Case_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Interviews_Make_Your_Case_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Interviews_Make_Your_Case_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: You-X Ventures</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Preparing for a job interview can be nerve-wracking, especially when trying to anticipate the types of <a href="/husky_experience_message?article=interviews-frequently-asked-questions">questions an employer might ask</a>. Employers often want to hear about what you’ve done in the past so that they can evaluate whether you have the knowledge, skills, and qualities that are right for the position. You can use the STAR method (Situation, Task, Action, Result) to tell clear and concise stories to make your case, and help you feel a little more confident during your interview.
</p>
<h3 id="where-the-star-method-works-best">Where the STAR Method Works Best</h3>


<p>
STAR works best for interview questions that require you to use a real-life example to explain how you handled a past situation and solved a problem. These questions are easy to recognize because they usually start with the following prompts:
</p>
<ul>

<li>Tell me about a time…

<li>Give an example of…

<li>Describe a case where…
</li>
</ul>
<h3 id="how-to-use-the-method">How to Use the Method</h3>


<p>
Think of the method as the format for a story — one with a conflict (the situation or task) and positive resolution (result):
</p>

<ul>
<li><strong>Situation</strong>: Describe the specific situation you were in or the event that occurred. Remember to be specific and to give enough information for the interviewer to understand the context. This situation can be something that happened to you in class, at a previous job, or in a volunteer experience.
</li>
<li><strong>Task</strong>: Describe what you were tasked to do. What was the goal at hand?
</li>
<li><strong>Action</strong>: Describe the actions and steps you took to accomplish the task. Make sure to include plenty of detail and to focus on your actions and decision-making abilities. How did you contribute? While it’s important to credit the larger group effort, an interview is the chance to highlight your skills and abilities. Don’t let yourself get lost in the story —  try using “I” instead of “we” as part of your answer.
</li>
<li><strong>Result</strong>: Describe the result, what you accomplished, and what you learned. This is not a time to be humble. Celebrate the outcomes and what you did to get there! Elaborate on what happened as a direct result of your actions, and end with a positive and insightful conclusion.
</li>
</ul>

<h3 id="star-example">STAR Example</h3>

<ul>
<li><strong>Situation</strong>: The UW student club that I started with two other students had seen a drop-off in meeting attendance and a lack of meaningful events. The other co-founders had started talking about closing the club.
<li><strong>Task</strong>: My goal was to increase consistent meeting attendance by at least 500% (from 3 to ~15 students for every monthly meeting) and to hold one event a quarter with at least 20 attendees.
<li><strong>Action</strong>: I collected the email addresses from all students who had attended our meetings in the past two years. I created a Mailchimp account and developed a weekly newsletter focused on our club’s topic of interest. I collaborated weekly with the co-founders to develop the newsletter content, and I sent out the newsletter and used Mailchimp’s engagement and data tools to track progress. I included meeting and event reminders in each newsletter, and I encouraged members of our mailing list to forward the newsletter to their friends, peers, and colleagues.
<li><strong>Result</strong>: Our monthly meetings have consistently attracted 20 to 30 students for the past three quarters and our quarterly events have attracted 25 to 35 students. The weekly newsletter has consistently logged a 75 to 80% engagement rate and I have received feedback that my club members enjoy the newsletter content and find it useful. I have grown the newsletter to include guest editors and writers. 
</li>
</ul>

<h3 id="prepare-and-practice">Prepare and Practice</h3>
<p>
Enlist a friend to help you practice your interview before the big day. Have them think of a number of questions that require you to use an example from your life to illustrate your skills, and utilize the STAR method in your answer. Practice telling three to five different stories “about a time when…” so you can easily call on these examples during the interview. You may not be able to predict what questions you’ll be asked, but you’ll be prepared with a confident response.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/wp-content/uploads/sites/25/2019/05/Career-Guide-2018-19.pdf">UW Career Guide: What&#39;s Next (2018 - 2019)</a></li>
                
                    <li><a href="https://www.indeed.com/career-advice/interviewing/how-to-use-the-star-interview-response-technique">How to Use the STAR Interview Response Technique</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=writing-stand-out-cover-letter">Writing a Stand-Out Cover Letter</a></li>
                
                    <li><a href="/husky_experience_message?article=interviews-asking-your-own-questions">Interviews: Asking Your Own Questions</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
