{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Interviews: Frequently Asked Questions</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Interviews_Frequently_Asked_Questions_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Interviews_Frequently_Asked_Questions_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Interviews_Frequently_Asked_Questions_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Interviews_Frequently_Asked_Questions_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Interviews_Frequently_Asked_Questions_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Most interviews are relatively structured. While every employer has their own interview style, there are many common questions that come up during the interview process. 
</p>
<p>
It’s a good idea to review these frequently asked interview questions and practice your answers. You don’t want to sound too rehearsed in your response, so practice enough to be familiar but not so much that your answer is inflexible and stilted.  
</p>
<p>
Think of this list as a study guide; if you prepare answers to the questions below, you can focus on really connecting with your interviewers during the interview.
</p>

<ul>

<li><strong>Tell us about yourself. </strong>This simple question usually kicks off an interview, but don’t let its casual nature fool you — your answer can set the tone for the rest of the interview. Your answer should provide an authentic description of who you are, what you’re interested in, and/or what motivates you in a larger sense. Sum up your academic and professional background briefly and highlight qualities you bring to the table.

<li><strong>Why are you interested in this position? / Why should we hire you? </strong>You’ll want to review the organization’s mission and vision before the interview and understand the requirements and responsibilities of the position. Organize your answer in three parts: (1) communicate your passion for the company; (2) connect your skills and experiences to the position; and (3) integrate your long-term goals with the current position and describe how they align.

<li><strong>What are your greatest strengths? / What do you consider your greatest weakness? </strong>These two are tricky questions. While the answer itself is important, how you frame and elaborate on your answer may be more important. The interviewer is looking to see how self-aware you are. Don’t describe yourself as perfect, but don’t spend all your time highlighting your flaws. If you’re sharing a strength, respond honestly, make sure your answer is relevant to the position at hand, and provide a real-life example. And if you’re sharing a weakness, touch upon it briefly and describe the steps you’ve taken to improve.<br>


<li><strong>What is your greatest achievement? </strong>This is your opportunity to brag! You’ve accomplished a lot and have plenty to share; focus on events relevant to the position’s needs, or that highlight your strengths and abilities. Try organizing your answer <a href="/husky_experience_message?article=interviews-making-your-case">using the <strong>STAR</strong> method</a>: (1) describe the <strong>situation</strong>, (2) describe the <strong>task</strong>, (3) elaborate on the <strong>actions</strong> you took, and (4) highlight the final <strong>result</strong>. 

<li><strong>Where do you see yourself in five years? </strong>This question requires a tricky balance between being forthcoming and being strategic. You may not know where you will be in five years — and that’s okay! However, you should still provide a well-thought out answer. The hiring manager wants to get a sense of your long-term career goals and how the position and the organization fits into your plan. Stress the good fit between the position’s responsibilities and your current skill set. Highlight how the job will help you build relevant expertise and new skills so you can advance in the field. Connect all your career goals to the position, company, and job field at hand. <br>


<li><strong>How would your boss and co-workers describe you? </strong>This question will help the hiring manager understand how you work with others and what kind of team member you are. While it’s difficult to speak on behalf of others, this is an opportunity to discuss your positive traits. You can use your manager’s feedback from a recent performance review to describe your achievements, or share a short story about a school, work or other project that illustrates your strengths. Talk about 2 to 3 positive traits and how they contribute to a positive work environment and successful teamwork.
</li>
</ul>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=are-you-ready-your-job-interview">Interviews: Initial Preparation</a></li>
                
                    <li><a href="/husky_experience_message?article=interviews-making-your-case">Interviews: Making Your Case</a></li>
                
                    <li><a href="/husky_experience_message?article=interviews-asking-your-own-questions">Interviews: Asking Your Own Questions</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
