{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Interviews: Asking Your Own Questions</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Interviews_Asking_Your_Own_Questions_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Interviews_Asking_Your_Own_Questions_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Interviews_Asking_Your_Own_Questions_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Interviews_Asking_Your_Own_Questions_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Interviews_Asking_Your_Own_Questions_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="why-it’s-important-to-ask-questions-at-the-close-of-your-job-interview">Why It’s Important to Ask Questions at the Close of Your Job Interview</h3>


<p>
Job interviewers expect you to have some questions. Not asking any questions creates an impression that you are unprepared or disinterested, so take the time to prepare questions of your own to ask the hiring manager.
</p>
<p>
Asking questions can also give you the opportunity to further highlight some of your qualities, skills, and experience, and show the employer why you're a terrific match for the job. It is also a great way to get a sense of the company culture and how you might spend your days. Think of yourself as a detective gathering information. That way, if you are hired, your first week or so in the position won’t hold any major surprises.
</p>
<h3 id="use-these-questions-as-a-start">Use These Questions as a Start</h3>


<p>
Do some prep and create interview questions of your own. Remember that interviews are a two-way street; you aren't simply trying to get this job — you are also interviewing the employer to assess whether this company and the position are a good fit for you. Here are some ideas for questions, including why you might ask them:
</p>

<ol>
<li><strong>How would you describe a typical day in this position?</strong>
<p>You’ll get a good sense of the big and small tasks that would fill your days.
</p>
<li><strong>How does the organization evaluate success?</strong>
<p>
You’ll see if the company’s values align with yours and how your performance will be assessed.
</p>
<li><strong>What are the opportunities for advancement?</strong>
<p>
You’ll confirm that this job will help you on your career path.
</p>
<li><strong>What is the company culture like?</strong>
<p>
Whether formal or laid-back, you’ll make sure it is a good fit.
</p>
<li><strong>What are the performance expectations over the first twelve months?</strong>
<p>
You’ll set yourself up for success by learning goals up front.
</p>
<li><strong>Where do you see the company in five years?</strong>
<p>
You’ll show that you think big picture and would stay on long-term.
</p>
<li><strong>Given my experience, what do you think is most important for me to learn in the first few months?</strong>
<p>
You’ll get a chance to hear the most critical skills to learn and experience to gain.
</p>
</li>
</ol>

<p>
You don’t have to ask every question; choose a few that will help you present as an informed and prepared candidate for the job. You can type up your questions and bring them to the interview. This is a place where it is fine to pull out your notes so you can remember what questions you prepared. Coming with very specific questions will allow you to impress your potential employer with your knowledge and interest in the industry while also determining if this is the right job for you. 
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.thebalancecareers.com/questions-to-ask-in-a-job-interview-2061205">Best Questions to Ask in a Job Interview</a></li>
                
                    <li><a href="https://www.themuse.com/advice/51-interview-questions-you-should-be-asking">57 Smart Questions to Ask in an Interview</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=interviews-right-way-present-yourself">Interviews: How to Present Yourself</a></li>
                
                    <li><a href="/husky_experience_message?article=interviews-frequently-asked-questions">Interviews: Frequently Asked Questions</a></li>
                
                    <li><a href="/husky_experience_message?article=interviews-making-your-case">Interviews: Making Your Case</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
