{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Introducing Yourself</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/introducing_yourself_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/introducing_yourself_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/introducing_yourself_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/introducing_yourself_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/introducing_yourself_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Connect Effectively and Convey Your Message</h3> 
<p>Whether you are attending a formal job fair or mingling at an event, you want to capture a person’s attention and make an impression in a few minutes. This is known as an “<a href="https://en.wikipedia.org/wiki/Elevator_pitch">elevator pitch</a>” – a clear, concise, and specific statement that describes you, your interests, and your strengths in less than 30 seconds.</p>
<h3>How to Prepare your Elevator Pitch</h3>
<p>Taking time to prepare an introduction makes it easier to establish social or professional contacts. Media experts know that what you convey in these first moments is key to guiding conversations to where you want them to go, increasing the likelihood you’ll get across information you want to share and succeed in making a memorable impression.</p>
<ul>
<li>Try writing down a few sentences about who you are, what you're seeking, and what you can offer. Consider including what you care about, and what you like doing. Review and revise it for clarity and conciseness.</li>
<li>Practice your pitch so it flows naturally. Practice alone and with friends so that you feel comfortable introducing yourself to new people.</li>
<li>Tweak your pitch regularly to keep it current and to adapt it to each situation you are in.</li>
<li>Be prepared for the next step: describing your experience, skills, strengths, and the contributions you hope to make.</li>
</ul>
<p>Ideally your elevator pitch will leave someone wanting to know more about you and lead to a longer conversation or additional connections.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/blog/2018/07/17/tips-for-writing-your-linkedin-summary/">Tips for Writing Your LinkedIn Summary</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
                
                    <li><a href="/husky_experience_message?article=first-impressions-matter">First Impressions Matter</a></li>
                
                    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
