{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Leaders are Made, Not Born</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/leaders_are_made_not_born_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/leaders_are_made_not_born_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/leaders_are_made_not_born_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/leaders_are_made_not_born_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/leaders_are_made_not_born_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Cultivating Leadership</h3>
<p><strong>Research shows that over 70% of leadership skills are learned, not innate. That means that every person can develop the knowledge, skills, and attitudes needed to be an effective change agent and contribute to their communities.</strong> That’s the role of the <a href="https://cele.uw.edu/">Community Engagement and Leadership Education (CELE)</a>: to help students cultivate these capacities.</p> 

<p>The work of CELE is guided in part by two main ideas:</p> 
<ul>
<li>Leadership grows out of experience, practice, and reflection.</li>
<li>Leadership is not about position; everyone can engage in leadership.</li> 
</ul>
<p>Discovering the ways <em>you</em> like to lead is the trick to unlocking your potential. Check out CELE's <a href="https://cele.uw.edu/students/opportunities/" >list of opportunities</a> across the UW to learn and practice leadership– see if any of them appeal to you.</p>

<h3>What are Your Leadership Capacities?</h3>
<p>One way to reflect on your development as a leader, or to identify the ways you’re most comfortable exercising leadership, is through understanding different leadership capacities. Students who enroll in the <a href="https://cele.uw.edu/students/opportunities/husky-leadership-certificate/">Husky Leadership Certificate</a> program use these capacities to formally reflect on their experiences, but you can do this on your own as well. The capacities include:</p>
<ul>
<li>Learning and Reasoning</li>
<li>Self Awareness and Development</li>
<li>Interpersonal Interaction</li>
<li>Group Dynamics</li>
<li>Civic Responsibility</li>
<li>Communication</li>
<li>Strategic Planning</li>
<li>Personal Behavior</li>
</ul>

<p>Ask yourself: What are my strengths? Where have I demonstrated these capacities in the past? In what areas would I like to grow? You can also check out the <a href="https://cele.uw.edu/programs/husky-leadership-certificate/student-portfolios/">leadership portfolios</a> of other UW students and think about the ways in which cultivating leadership allows you to turn your knowledge, skills, and passion into action that makes a difference. Leaders are made, not born.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://education.uw.edu/news/finding-potential-within">Finding the Potential Within</a></li>
                
                    <li><a href="https://cele.uw.edu/students/mentoring/">Mentoring at UW</a></li>
                
                    <li><a href="http://uwleaders.asuw.org/">UW Leaders</a></li>
                
                    <li><a href="https://www.washington.edu/husky100/about/">Husky 100</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
                
                    <li><a href="/husky_experience_message?article=show-yourself-little-compassion">Show Yourself a Little Compassion</a></li>
                
                    <li><a href="/husky_experience_message?article=lead-your-values">Lead with Your Values</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
