{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Lead with Your Values</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/lead_with_your_values_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/lead_with_your_values_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/lead_with_your_values_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/lead_with_your_values_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/lead_with_your_values_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Figuring Out What You Care About</h3>
<p>
If you’re looking for direction in your life or career, figuring out what you value is a good place to start. Values – the things we care about deeply – give our lives meaning and help us continue when the going gets tough. <a href="https://tinybuddha.com/blog/determine-what-will-make-you-happy-by-identifying-your-values/">Values play an important role in your life</a>, in your studies, and your career. 
</p>

<h3>Name Your Top 5</h3>
<p>
If you’re not quite sure what your values are, you can <a href="http://www.mas.org.uk/quest/ivp2.htm">use this questionnaire</a> to get you started, or <a href="https://soulsalt.com/list-of-values-and-beliefs/">begin by reflecting</a> on what really matters to you. What inspires you to act? What do you admire in others? Once you have a list (brainstorm your own or browse lists online), circle the ones that resonate with you. See if you can get your list down to five core values that solidly describe who you are and what you stand for. 
</p>

<h3>What’s the value in knowing your values?</h3>
<p>
Knowing your values, and living in accordance with them, allows you to live with integrity and purpose. In addition, being able to articulate your values gives you an advantage when applying for a job, scholarships, or graduate school.
</p>
<p>
<strong>“To thine own self be true”</strong> – The world is full of marketing campaigns and media trying to tell you what you should think and how to behave. But with clarity around your values, you can consciously align your choices and actions with the things that matter most to you. Decision making becomes easier, and you’ll feel more authentic. When you live according to your values, you increase your happiness, sense of purpose, and well-being.
</p>
<p>
<strong>Getting a job</strong> – Businesses want to hire people who have not only relevant skills but also personal values and characteristics that contribute to success and that align with the values of the company. By researching a company or organization ahead of time and reading the job description carefully, you can get a sense of <a href="https://www.thebalancecareers.com/top-work-values-employers-look-for-1986763">what values hiring managers may be looking for</a>. Workplace values are similar to personal values but can be used to inform how people interact (humility, respect, team-oriented), the focus of the work (ingenuity, creativity, data-driven), or individual responsibilities (consistency, quality, dependability). Include your values on your résumé and talk about them in career-related conversations, including interviews. For example, if one of your core values is efficiency, demonstrate how you applied this in completing a project. On your résumé, this may look like:
</p>
<p>
<em>Created research project from start to finish. Articulated goals to improve productivity. </em>
</p>
<ul>
<li><em>Kept goals clear and reachable</em>
<li><em>Prioritized and took action</em>
<li><em>Identified resources and how to best use them</em>
</li>
</ul>
<p>
<strong>Writing a personal statement</strong> – Graduate schools and scholarship committees often want to know more about their applicants through a personal statement. Use your values to describe what motivates you and influences who you are and what you’ve done. It’s easy to talk about what you’ve experienced, but being able to articulate what you’ve learned from your experiences – including how they shaped your values – can set you apart from other applicants.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.youtube.com/watch?v=u4ZoJKF_VuA">Start with Why: How Great Leaders Inspire Action (video)</a></li>
                
                    <li><a href="https://soulsalt.com/list-of-values-and-beliefs/">Defining Your Values and Beliefs</a></li>
                
                    <li><a href="https://www.psychologytoday.com/us/blog/changepower/201811/6-ways-discover-and-choose-your-core-values">6 Ways to Discover and Choose Your Core Values</a></li>
                
                    <li><a href="https://www.monster.com/career-advice/article/work-values-check-list">Your Work Values Can Help You Find the Right Job</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
                
                    <li><a href="/husky_experience_message?article=finding-your-purpose-when-you-have-no-clue">Finding Your Purpose When You Have No Clue</a></li>
                
                    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Map a Path to Meaningful Work</a></li>
                
                    <li><a href="/husky_experience_message?article=design-your-own-internship">Design Your Own Internship</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
