{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Take the Pain Out of Teamwork</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/learning_through_teamwork_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/learning_through_teamwork_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/learning_through_teamwork_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/learning_through_teamwork_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/learning_through_teamwork_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Working Together</h3>
<p>Whether you’re business partners, a sports team, or a band, some of the best work is created when two or more brains work together.</p>
 
<p>The same thing goes for learning.</p>
 
<p>Group work, well, works. And when it works especially well, you feel valued and inspired and confident that you and your teammates are giving your best. <strong>You learn more – and better – in a team, whether it’s in class, a study group, or club.</strong></p> 
 
<p>Group learning offers opportunities to:</p>
<ul>
<li>hear different perspectives</li>
<li>bounce ideas off others</li>
<li>improve your communication skills</li>
<li>pool your knowledge and expertise with others</li>
<li>learn to justify your position with reasons</li>
<li>get feedback from someone other than your instructor</li>
<li>discuss difficult topics and mediate disagreements</li>
<li>hone your public speaking skills –  especially during those end-of-quarter presentations</li>
<li>develop your own voice, in relation to your peers</li>
 </ul>
<h3>When the Group isn’t a Team</h3>
<p>We’ve all been there – stuck in a group that isn’t working for one reason or another. When a group isn’t working effectively, it’s difficult to make progress and your ability to succeed is impaired. What to do? Take action – don’t let your learning suffer.</p> 

<p>Try the following suggestions:</p>
<ul>
<li><strong>Name the problem.</strong> Let your group members know that you think the group isn’t working as effectively as it could. Tell them (politely) what you think the problem is, and offer (or ask for) suggestions on how to fix it. (Here’s a list of <a href="https://www.uq.edu.au/student-services/learning/problems-associated-group-work">common problems with groups</a>.)</li>
<li><strong>Recognize that effective teamwork takes practice.</strong> We’re not born knowing how to work effectively with others, and even those who do it well can always improve. Identify specific communication and/or facilitation skills you’d like to practice each time you find yourself in a group, or suggest this as a group activity.</li>
<li><strong>Set a positive tone.</strong> Try complimenting group members on their contributions or pointing out what’s going well. “That’s a great idea.” “Thanks for sending out that timeline– that’s going to help us organize our work.” “Yay, everyone’s here, we can get started right on time.”</li>
<li><strong>Look at your own behavior.</strong> It’s easy to put the blame on others, and maybe rightfully. But also ask yourself if you’ve contributed to the problem in any way. Do you dominate conversation, or want to control how things are done? Do you hang back and let others do most of the work? Are you late to meetings? Apologize to the group for any way you think you might have affected its functioning, and let them know you’re working to change that.</li>
<li><strong>Talk to the instructor.</strong> If you’re doing group work for a class, the instructor can ask group members to do periodic evaluations of how well the group is working or what could be improved. Your feedback may also be welcome; sometimes the problem isn’t with the group itself, but with the design of the assignment or the way the groups were formed.</li>
</ul>


<h3>The Long-term Value</h3>
<p>As Beth Kalikoff, director of UW’s Center for Teaching and Learning, states, “The world of internships, grad school, and careers involves other humans. <strong>The ability to work successfully and effectively in groups is valued beyond measure in the workplace.</strong> College assignments designed to teach group and communication skills, as well as content, prepare students for the real world.”</p>
 
<p>One of the best parts of teamwork – in class, in the lab, at work, or through a student club or volunteering – is that you don’t have to do everything yourself.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.uwb.edu/digital-learning/student-resources/student-academic-resources/student-resources/academic-resources/group-work">Tips for Working as a Team</a></li>
                
                    <li><a href="https://www.uq.edu.au/student-services/learning/dos-and-donts-group-work">Dos and Don&#39;ts of Group Work</a></li>
                
                    <li><a href="https://www.uq.edu.au/student-services/learning/choosing-groups">How to Choose Group Members</a></li>
                
                    <li><a href="https://www.uq.edu.au/student-services/learning/roles-groups">Group Roles</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=wheres-your-focuslearning-or-competing">Where&#39;s Your Focus – Learning or Competing?</a></li>
                
                    <li><a href="/husky_experience_message?article=giving-effective-feedback">Giving Effective Feedback</a></li>
                
                    <li><a href="/husky_experience_message?article=healthy-ways-handle-conflict">Healthy Ways to Handle Conflict</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
