{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Life is Messy</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/life_is_messy_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/life_is_messy_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/life_is_messy_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/life_is_messy_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/life_is_messy_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Facing Challenges</h3>
<p>We all face the unexpected; sometimes in small ways, sometimes in large ways. Take, for instance, the pandemic, which upended our lives. Suddenly health concerns escalated and internet speed became more important than ever. Some of us lost jobs and missed out on new opportunities and we all were isolated from family and friends.  Yet we continued to figure out how to study, work and stay connected. And there are still classes to attend, projects to complete, jobs, internships, and scholarships to apply for, and friendships to enjoy – these goals and activities help us stay grounded in who we are and what we hope to achieve, regardless of our circumstances and how they may change.</p>

<h3>Meeting Challenges</h3>
<p>Our ultimate success depends on how we deal with life’s difficulties and messiness – what matters is how we meet challenges, how we react, and ultimately, what we learn and how we move forward.</p> 

<p>Many studies have shown that <strong><cite>positive psychological capital</cite></strong> – the positive and developmental state of an individual –  can impact on your attitude, behavior, performance, and well-being. It is characterized by these four components:</p>
<ul>
<li><strong>Hope –</strong> The will (agency) to reach a certain goal, and ideas (multiple paths) of how to attain it. 
<br>
<p><strong>How do you find hope?</strong> Find ways to break down complex, difficult goals into bite-size portions. Make sure the goals are yours and not ones that are someone else’s that you’ve adopted; you will be more motivated by your goals. Or find alternate ways of meeting your goals. Car broke down? You can bike, or take the bus, or get a ride to where you need to go.</p></li>

<li><strong>Efficacy –</strong> Task-specific self-confidence, or feeling confident that you can do what you need to do to achieve a specific goal in a specific situation. 
<br>
<p><strong>Low self-confidence?</strong> Recognize that fatigue, resistance, and fear are natural human responses to challenges – they often will help sharpen your abilities. Also, focus on your past successes, appreciate times where you achieved something difficult (like getting into UW! ;-) )</p></li>

<li><strong>Optimism –</strong> Faith in your own ability to improve a situation; the belief that failure is not innate but rather based on things external to you.
<br>
<p><strong>Feeling pessimistic?</strong> Recognize that the future holds many possibilities; it is a source of opportunity for you. In the meantime, appreciate what you can about the current moment</p></li>

<li><strong>Resilience –</strong> The ability to recuperate from stress, conflict, failure, or change by putting the temporary challenges in perspective and learning from the experience. 
<br>
<p><strong>Losing steam?</strong> Perhaps you can improvise and find a new way to reach your goal, or take time to connect to why this goal is meaningful or important for you. Finally, stay motivated by accepting reality, and having realistic expectations about how difficult things may be and how long it may be before the situation changes; but don’t worry, it will change eventually!</p></li> 
</ul>
<p>The <a href="http://wellbeing.uw.edu/unit/resilience-lab/">UW Resilience Lab is an excellent resource</a> for learning ways to boost your resiliency (like mindfulness and stress management) to make the most of life’s inevitable challenges.</p>
<h3>A UW Story: The Rocky Path to Success</h3>
<p>Even world-renowned researchers navigate unexpected difficulties. <a href="http://www.gs.washington.edu/faculty/king.htm">Mary-Claire King</a>, UW professor of genome sciences and medicine who discovered the “breast cancer gene,” tells her story of perseverance in the face of enormous challenges. <a href="https://www.huffingtonpost.co.uk/dr-maryclaire-king/brca-marriage-testing_b_17908074.html">Read</a> or <a href="https://themoth.org/storytellers/mary-claire-king">listen to her story</a>.</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=bouncing-back">Your Mindset Matters</a></li>
                
                    <li><a href="/husky_experience_message?article=asking-help-normal-and-necessary">Asking for Help is Normal. And Necessary.</a></li>
                
                    <li><a href="/husky_experience_message?article=finding-your-purpose-when-you-have-no-clue">Finding Your Purpose When You Have No Clue</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
