{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">A Little Stress is Good. Really.</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/a_little_stress_is_good_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/a_little_stress_is_good_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/a_little_stress_is_good_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/a_little_stress_is_good_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/a_little_stress_is_good_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: University of Washington Recreation</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="what-is-good-stress">What is Good Stress?</h3>


<p>
We have all experienced the excitement of something new or the lasting sense of satisfaction of concentrating on something we care about. This kind of good stress is called “<a href="https://www.verywellmind.com/what-you-need-to-know-about-eustress-3145109">eustress</a>” and is critical for keeping us motivated and engaged. We feel excited, and maybe a little bit scared, but we do not feel threatened or overwhelmed. There are many catalysts for this good stress (think about riding a roller coaster or starting an inspiring project) and it keeps us feeling alive and eagerly anticipating what is next. Of course, acute or chronic stress can lead to burnout and health problems; if you are overwhelmed or distressed and finding it difficult to engage in everyday activities, please <a href="https://wellbeing.uw.edu/">seek help</a>.  
</p>
<h3>Reframe Threats, Embrace Challenges </h3>


<p>
Your perception matters when it comes to stress; seeing something as a challenge instead of perceiving it as a threat can make all the difference, both physically and mentally. You can often shift your perception by: 
</p>
<ul>

<li>Focusing on strategies — what can you do (with your knowledge, skills, and networks) that can help you face this challenge successfully? 

<li>Seeing the hidden potential benefits of a situation — an impending deadline can be scary, but once it is finished, you can benefit from the result.

<li>Reminding yourself of your strengths — as a UW student, we know you have accomplished a lot through hard work!
</li>
</ul>
<p>
Getting into the habit of <a href="https://www.verywellmind.com/become-more-of-an-optimist-3144818">thinking like an optimist</a> can also help. Once you are in the practice of reframing threats as challenges, it becomes more automatic.
</p>
<h3 id="stress-reduction-strategies-are-also-important">Stress Reduction Strategies Are Also Important</h3>


<p>
UW student Keertana Sureshbabu, a Peer Health Educator Leader through LiveWell (and a <a href="https://www.washington.edu/husky100/about/">Husky 100</a> Recipient!) has this perspective: “Since being in college I’ve learned different strategies to manage stress, especially during peak times like midterms and finals. A helpful strategy I use is to switch up my studying environments. I tend to stay away from spaces on campus that I associate with high stress like the library during finals, and instead I find coffee shops off campus where I feel more relaxed and there is a mix of people going about their lives. It puts studying in perspective and helps me feel more at ease.”
</p>
<p>
 
</p>
<p>
For those times when stress is too much, make sure you have some go-to techniques, such as talking with friends, <a href="https://webster.uaa.washington.edu/asp/website/">finding academic support</a>, <a href="https://rightasrain.uwmedicine.org/mind/stress/real-life-mindfulness">practicing mindfulness</a>, or <a href="https://wellbeing.uw.edu/recreation/self-care/">taking time for self care"</a>. 
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.verywellmind.com/what-kind-of-stress-is-good-for-you-3145055">When Stress is Actually Good for You</a></li>
                
                    <li><a href="https://www.verywellmind.com/goal-setting-and-reaching-goals-3145004">Less Stressful Ways to Set and Reach Your Goals</a></li>
                
                    <li><a href="https://www.jedfoundation.org/resource/tips-for-managing-stress">Helpful Tips on Managing Everyday Stress</a></li>
                
                    <li><a href="https://www.youtube.com/watch?v=w6T02g5hnT4">Why Mindfulness Is a Superpower: An Animation</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=having-fun-free">Having Fun For Free</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
                    <li><a href="/husky_experience_message?article=de-stress-focus-and-perform-better-through-mindful">De-Stress, Focus, and Perform Better through Mindfulness</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
