{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Making the Most of Life Online</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/making_the_most_of_life_online_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/making_the_most_of_life_online_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/making_the_most_of_life_online_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/making_the_most_of_life_online_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/making_the_most_of_life_online_650.jpg' %}"
                     alt="A student sits in the sunlight working at a laptop.">
            
            
        </figure>
        <div class="myuw-article-body">
        <h3>Your Toolkit for Thriving</h3>

<p>Our lives have been upended. And yet here we are online, trying to figure out how to study, work and stay connected. There are still classes to attend, projects to complete, jobs, internships, and scholarships to apply for, and friendships to enjoy – these goals and activities help us stay grounded in who we are and what we hope to achieve, regardless of our circumstances.</p>

<p>The UW community is working hard to make your remote experience the best it can be. Your part in that is to take care of yourself, do the best you can, and reconnect with the energy and drive that brought you to UW.</p>

<p>Below, the Husky Experience Toolkit Team has compiled a list of key resources to help you succeed in the weeks ahead. And you can always <a href="https://my.uw.edu/husky_experience/">access the complete collection of Toolkit articles</a> for more on making the most of your Husky Experience.</p>

<h4>Stay Informed</h4>
<p>The Office of the Provost will continue to provide up-to date <a href="https://www.washington.edu/coronavirus/students/">facts and information for UW students</a> as well as <a href="https://www.washington.edu/coronavirus/">University-wide updates on the novel coronavirus and COVID-19</a>.</p>
<h4>Take Care of Yourself</h4>
<p>These are stressful times; be kind to yourself and take extra care of your physical, mental, and emotional health in the months ahead:</p>
<ul>
<li>Check out the wide range of resources UW Health Services offers to help you <a href="https://wellbeing.uw.edu/">take care of yourself and your mental health</a>.</li>
<li>The IMA is there to support your health and wellness wherever you are. Use your free Rec Class Pass to <a href="https://www.washington.edu/ima/rec-class-pass/">access virtual fitness, yoga, and mindfulness classes</a>.</li>
<li>The UW Resilience Lab has compiled <a href="https://wellbeing.uw.edu/unit/resilience-lab/">additional resources to support your well-being and connection</a>.</li>
</ul>
</p>
<h4>Master Learning Online</h4>
<p>Online learning may require some adjustments to your normal study habits. Review these <a href="http://webster.uaa.washington.edu/asp/website/online-learning/">suggestions for successful online learning</a> compiled by Academic Support Programs.</p>
<h4>Continue to Apply for Jobs and Internships</h4>
<p>Let the Career and Internship Center advise you on <a href="https://careers.uw.edu/resources/current-internship-job-market-for-college-students-data-advice-resources/">what to do regarding your career and employment</a> during these uncertain economic times.</p>
        </div>
        

        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
