{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Making Your Résumé Competitive</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Makin_Your_Resume_Competitive_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Makin_Your_Resume_Competitive_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Makin_Your_Resume_Competitive_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Makin_Your_Resume_Competitive_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Makin_Your_Resume_Competitive_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Janice Fournier</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Your Résumé Is a Short Commercial </h3>


<p>
Think of the last advertisement video you saw. It was most likely short and tried to grab your attention about a specific brand or product. Think of your résumé as a commercial advertising your services. What would it say? What accomplishments would it highlight? What promises would it make? Would it inspire an employer to meet you? 
</p>
<p>
In creating your résumé, you are crafting a compelling argument for employers to hire you. There are many different ways to organize and write a résumé, and the process can be overwhelming and daunting. Even if you have a completed résumé on hand, it’s important to continually update and refine its content. Ask yourself: is my résumé effective and competitive? What else can I add to strengthen it?
</p>
<h3 id="make-your-résumé-stand-out">Make Your Résumé Stand Out</h3>

<p>
Here are some tips on how to make your résumé as compelling and convincing as possible.
</p>

<ul>
<li><strong>Make it look good and easy to read</strong>. Recruiters spend just seconds reviewing résumés. How your résumé looks at first glance is crucially important to catching a recruiter’s eye, and may compel them to linger over your résumé. Leave a good impression by paying attention to layout and font choices. Visual simplicity and consistency are key here – use the same, basic font, consistent spacing, and organize your information with strategic formatting tools. You can use bold, small caps, italics, underline, or bullets to design your résumé. But don’t mix all of them together! Instead, select one or two formatting styles and keep it consistent throughout.

<li><strong>Make the top half of the page count</strong>. The most significant part of the résumé is the top half of the page. In this top half you’ll want to provide evidence of a good “match.”  One good way to do this is to include a <strong><em>Summary of Qualifications</em></strong> — an explicit list of your qualifications as they relate to the job description – as one of the first sections of your résumé.

<li><strong>Highlight skills that match the position</strong>. Present your skills on your résumé to match the way the employer has described the position. It isn’t necessary to do that verbatim, but be sure to create this alignment however and where possible. Target a résumé to each new position you apply to, because although positions have similar or the same titles, employers may think about their position in different ways. A careful reading of the job description is the key to targeting your résumé. Find the skill words (keywords that a potential employer uses to describe required or desired skills) that match with your background. 

<li><strong>Brag</strong>. <em>It’s okay to brag</em>. You’re awesome, so flaunt your achievements! Just make sure you’re being honest.

<li><strong>Show personality</strong>. Highlight your organizational skills, your ability to collaborate, or your love of problem-solving. Talk about it, but in a professional way.  

<li><strong>Use action verbs</strong>. The experience section of your résumé lists the organizations you used to work at, your job title, and what you did there. Use action verbs to describe your job duties, responsibilities, and accomplishments. Action verbs are verbs that express physical or mental action, and using action verbs can help recruiters read and digest your information more quickly and effectively. Check out this list of <a href="https://careers.uw.edu/wp-content/uploads/sites/25/2018/09/Action-Verbs-for-Resume-Writing-2016.pdf">action verbs for résumé writing</a> and strengthen your résumé today.

<li><strong>Use examples and metrics</strong>. Experience shouldn’t read like a job description, it should read like a list of accomplishments backed up by data and metrics. Give tangible examples of how the projects you worked on affected the company’s bottom line

<li><strong>Have a clear message</strong>.  Review your résumé to make sure you have a clear and consistent message that helps a potential employer understand what makes you unique, highlights your accomplishments and clearly describes why you are a good match for the job.
</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://my.uw.edu/out?u=https%3A%2F%2Fcareers.uw.edu%2Fblog%2F2018%2F08%2F07%2Fresumes-cover-letters-interviewing-quick-tips-24-7%2F&amp;l=R%C3%A9sum%C3%A9%20Quick%20Tips%20(30-sec%20videos)">Résumé Quick Tips (30-second videos from UW Career &amp; Internship Center)</a></li>
                
                    <li><a href="https://cdn.uconnectlabs.com/wp-content/uploads/sites/25/2019/05/2017-2018-UW-Career-Guide-Connect-UW-to-Career.pdf">Skills Assessment &amp; Identification Exercise – UW Career &amp; Internship Center</a></li>
                
                    <li><a href="https://careers.uw.edu/resources/?ctag%5B%5D=resumecover-letters">Additional UW Career &amp; Internship Center Resources</a></li>
                
                    <li><a href="https://careers.uw.edu/online-resume-review/">UW Career &amp; Internship Center Online Résumé Review</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=does-your-resume-represent-you">Writing Your Résumé</a></li>
                
                    <li><a href="/husky_experience_message?article=writing-stand-out-cover-letter">Writing a Stand-Out Cover Letter</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
