{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Making Decisions</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/making_decisions_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/making_decisions_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/making_decisions_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/making_decisions_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/making_decisions_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>221. That’s the average number of decisions an adult makes about food alone in one day, according to one <a href="http://news.cornell.edu/stories/2006/12/mindless-autopilot-drives-people-underestimate-food-decisions">study</a>. Some days, it may feel like you make three times as many as you figure out a new password or determine which study group is the best fit. What time should you get up to get to class on time? What bus will get you downtown the fastest? Should you make noodles at home for lunch, or splurge on the Ave?</p> 
<p>Other days, it’s just one massive decision looming over your head. What major should you pursue? Should you take the job close to home – or one across the country?</p> 
<h3>What to Consider</h3>
<ul>
<li><strong>What’s the deadline?</strong> Do you have to make a decision right now, such as choosing home noodles or lunch on the Ave? Or, do you have a few months, as in applying for a major?</li>
<li><strong>How long will you need to live with your decision?</strong> The noodle thing is only until the next meal. The job thing? Probably much longer. But, keep in mind you’re likely to have seven careers in your lifetime, so your first is unlikely to be your last.</li>
<li><strong>How much is at stake?</strong> While the major is a big decision, it likely won’t determine the rest of your life. Most majors are broad enough that you can pursue a number of careers.</li>
<li><strong>How big is your investment – in terms of money and time?</strong> Noodles, not as much as tuition over a few years.</li>
</ul>
<h3>How to Decide</h3>
<ul>
<li>As you consider all of this, <strong>research your options</strong>. That’s what Google is for. Pay attention to the sources, of course. Look for data. Check the facts.</li> 
<li><strong>Ask for others’ opinions</strong>. Ask your professors, mentors, friends, and family.</li> 
<li>Then, <strong>develop a pros and cons list</strong>. Writing the advantages and disadvantages can help things crystalize.</li> 
<li>After considering all of this, <strong>ask yourself, what feels right? Or wrong?</strong> Remember, even a wrong decision is a learning experience. The right one can move you forward.</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://uw.uconnectlabs.com/wp-content/uploads/sites/25/2016/06/Crash-Course-in-Decision-Making.pdf">Crash Course in Decision Making (pdf)</a></li>
                
                    <li><a href="https://blog.trello.com/beat-decision-fatigue-with-better-brain-habits">How to Beat Decision Fatigue with Better Brain Habits</a></li>
                
                    <li><a href="https://www.nytimes.com/2011/08/21/magazine/do-you-suffer-from-decision-fatigue.html">Do You Suffer from Decision Fatigue?</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=fight-decision-fatigue">Fight Decision Fatigue</a></li>
                
                    <li><a href="/husky_experience_message?article=time-management-win">Time Management for the Win</a></li>
                
                    <li><a href="/husky_experience_message?article=lead-your-values">Lead with Your Values</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
