{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Making the Most of those Last Requirements</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Making_most_last_requirements_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Making_most_last_requirements_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Making_most_last_requirements_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Making_most_last_requirements_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Making_most_last_requirements_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
No matter where you are in your UW career — pre-major or nearing graduation — you undoubtedly have some academic requirements to fulfill. I&S, NW, VLPA...oh, my! By now you know these acronyms and have hopefully embraced the potential of general education requirements. If you still have a few left, here are some things to keep in mind: 
</p>
<ul>

<li><strong>Augment your major (and possible minor) with something different.</strong> Would a computer science or informatics course give your psychology degree a different twist? Could art history make you stand out among business majors? 

<li><strong>Follow your curiosity.</strong> Want to learn more about climate change? Interested in finding out how religion and politics intersect? There are experts on everything here!

<li><strong>Build your skills.</strong> If you are already a strong writer, what about public speaking or improv? Maybe you are not a fan of math, but you’d love to master Excel! 

<li><strong>Learn from the best.</strong> Explore the list of <a href="https://teaching.washington.edu/programs/teaching-awards/nominees-award-recipients/teaching-award-recipients/">Distinguished Teaching Award</a> winners or ask your friends for their favorite professors. 
</li>
</ul>
<p>
Not sure how to find courses that fulfill the requirements you need? Check out the <a href="https://www.washington.edu/students/timeschd/genedinq.html">General Education Course Search</a> — you can choose a quarter, category (Individual and Society Courses, for example), number of credits, and time of day. 
</p>
<p>
Requirements should be more than just “checking a box.” Classes can be fun, expand your mind, and build your skills. Make the most of them!
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/uaa/advising/degree-overview/general-education/">UW General Education</a></li>
                
                    <li><a href="https://www.washington.edu/uaa/advising/degree-overview/general-education/requirements-by-college-and-school/">General Education Requirements by School and College</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=finding-your-new-favorite-class">Finding Your New Favorite Class</a></li>
                
                    <li><a href="/husky_experience_message?article=solve-world-problems">Solve World Problems</a></li>
                
                    <li><a href="/husky_experience_message?article=achievement-unlocked">Defining Achievement</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
