{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Managing Procrastination</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Managing_Procrastination_ALT_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Managing_Procrastination_ALT_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Managing_Procrastination_ALT_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Managing_Procrastination_ALT_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Managing_Procrastination_ALT_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Procrastination is the act of putting things off, or choosing to do one thing instead of another that you feel or know you should be doing. Struggling with procrastination is a shared experience for most students as well as staff and faculty members at UW. In fact, research shows that about 80 to 95% of students report procrastinating. We procrastinate for lots of reasons, including self-doubt about performance, low frustration tolerance (a tendency to give up if the work feels too difficult), and believing myths like "I work better under pressure."  Ask yourself these questions to gain insight and help manage procrastination:
</p>
<h3 id="why-should-i-manage-my-procrastination">Why Should I Manage My Procrastination?</h3>


<p>
Procrastination is important to address because it can easily become a habit that seriously impacts your ability to be productive. This in turn can negatively affect your academic performance.
</p>
<h3 id="how-can-i-manage-my-procrastination">How Can I Manage My Procrastination?</h3>


<p>
Developing a few techniques to combat procrastination can help you achieve academic success as well as develop skills you’ll use well beyond college. Adiam Tesfay, Director of Academic Support Programs in Undergraduate Academic Affairs, works with hundreds of undergraduates each year to help them manage procrastination and shares her techniques here.
</p>
<p>

<h4>Identify Why You Are Procrastinating</h4>


<ul>
<li><strong>Is it your mood?</strong>
<p>
“Procrastination is an emotion regulation problem, not a time management problem,” said Dr. Tim Pychyl, professor of psychology and member of the Procrastination Research Group at Carleton University in Ottawa. It isn’t a unique character flaw or a mysterious curse on your ability to manage time, but a way of coping with challenging emotions and negative moods induced by certain tasks — boredom, anxiety, insecurity, frustration, resentment, self-doubt and beyond. Learn more about <a href="https://www.nytimes.com/2019/03/25/smarter-living/why-you-procrastinate-it-has-nothing-to-do-with-self-control.html">why you procrastinate</a>.
</p>
</li>
<li><strong>Is your ego taking the lead?</strong>
<p>
Is it preferable to blame lower grades on procrastination in order to avoid owning up to your ability? What is the benefit of doing so?
</p>
</li>
<li><strong>Are you experiencing other life stressors and need help coping?</strong>
<p>
Many students require additional help; this is normal and it is good to seek out people who can assist. This may be an advisor, a counselor, therapist, professor, tutor or <a href="http://depts.washington.edu/uwdrs/">Disability Resource Services</a>.
</p>
</li>
<li><strong>Is time management the issue?</strong>
<p>
See the Husky Experience Toolkit article <a href="/husky_experience_message?article=time-management-creating-weekly-schedule">Time Management: Creating a Weekly Schedule</a>. TIP: Make your own deadline. Who says you have to hold to the one you were given? Set yours earlier.
</p>
</li>
</ul>

<h4>Break Up Large Assignments Into Smaller Pieces </h4>
<p>
Instead of doing everything at once, you can complete these over a longer time period. In addition to counteracting procrastination, this approach lowers stress (which helps your productivity), takes advantage of the smarts lurking in your unconscious brain and actually helps you learn more than you would by leaving everything to the last minute. 
</p>
<p><strong>
Getting your work done in small steps might look like this:</strong>
</p>
<ol>

<li>The day you receive an assignment, read it over. Put it away.
<li>A few days later, go get a cup of tea, sit down, and brainstorm ideas on how to approach the paper or project.
<li>On the next day, break up tasks into something you can do daily.
</li>
</ol>

<p><strong>
Here’s an example of a paper or project breakdown:</strong>
</p> 
<ul> 
<li>Brainstorm topics for paper or project.
<li>Make an outline and timeline.  
    <ul>
    <li>What are all the required steps?      
    <li>Do any of them involve other people? If so, factor in time to schedule and work with them.
    </li>  
    </ul> 
<li>Attempt a first draft or just the project introduction.
<li>Attempt cleaning up the draft or work on the project a second time. 
<li>Ask a second person to look at the paper or project.
    <ul>      
    <li>Could be a friend, the <a href="https://webster.uaa.washington.edu/asp/website/clue/home/">CLUE Writing Center</a>, a professor, or a teaching assistant.
    </li>  
    </ul>
<li>Incorporate the edits or feedback. 
<li>If you have time, attempt another draft or work on the project a third time. 
<li>Create the final draft, making sure all edits or feedback are included. Make sure to look at this one last time before you hand it in.
</li> 
</ul>

<h4>Remember That You Are Not Alone</h4>
<p>
Procrastination raises questions for all of us at UW (and beyond) about individual agency and how we want to spend our time as opposed to how we actually do. But it’s also a reminder of our commonality — we’re all vulnerable to painful feelings, and most of us just want to be happy with the choices we make.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://inspiringtips.com/ways-to-overcome-procrastination-in-college/">9 Effective Ways to Overcome Procrastination in College</a></li>
                
                    <li><a href="https://www.youtube.com/watch?v=n3kNlFMXslo">TED Talk: How to Gain Control of Your Time</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=time-management-win">Time Management for the Win</a></li>
                
                    <li><a href="/husky_experience_message?article=time-management-creating-weekly-schedule">Time Management: Creating a Weekly Schedule</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
