{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Managing Imposter Syndrome</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Managing_Imposter_Syndrome_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Managing_Imposter_Syndrome_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Managing_Imposter_Syndrome_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Managing_Imposter_Syndrome_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Managing_Imposter_Syndrome_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
As a UW student, you might feel — even when you are successful — like you don’t belong; waiting for someone to point out you aren’t all that smart, questioning whether you should have been admitted, or telling yourself that other students are more capable than you. This is normal, and so common that there is a name for it: imposter syndrome.
</p>
<h3 id="what-is-imposter-syndrome">What is Imposter Syndrome?</h3>


<p>
Imposter syndrome is the feeling or belief that you've been given something you didn't earn or don't deserve. This psychological pattern leads to self doubts about your accomplishments and harboring a persistent, internalized fear of being exposed as a fraud. UW Professors Tim Essington, School of Aquatic and Fishery Sciences, and Ralina L. Joseph, Communication, describe it in this <a href="https://vimeo.com/343073967/d0be68340e">video about imposter syndrome</a>.
</p>
<h3 id="do-other-people-feel-this-way">Do Other People Feel This Way?</h3>


<p>
Imposter syndrome affects undergraduate students of all backgrounds and in different ways. Research has shown that impostor syndrome is more prevalent among women and minority students. Mature students who are arriving at college for the first time, or returning to college after many years away, are also prone to the sense that they don’t belong (it may even have been a sense of impostor syndrome in their careers that led them back to campus in the first place.) Millennials, faced with constant comparisons to friends’ accomplishments on social media, can be especially affected.
</p>
<h3 id="so-how-do-you-combat-feelings-of-being-an-imposter">So, How Do You Combat Feelings of Being an Imposter?</h3>


<p>
Imposter syndrome is so common at universities that UW has experts on the topic; Professors Ralina L. Joseph, Communication, and Alexes Y. Harris, Sociology.  Here are their tips on how to combat imposter syndrome:
</p>

<ol>
<li><strong>Remember that most students are feeling the same</strong>. Although you might think that “everyone else” around you belongs here, realize that most people in your situation as a new undergraduate or a senior about to graduate probably feel the same way. You can only find this out by reaching out to…
<li><strong>Talk with others</strong>, particularly those with similar academic interests, backgrounds and goals. Create a safe space for you and others to share your experiences and feelings, and to talk through your fears. Together, determine which fears are legitimate and which ones don’t deserve the space you’re giving them in your head. Hear <a href="https://drive.google.com/file/d/0ByD9RayspjxhMGFEY2Yzc1dKSGc/view">more about this strategy</a> from UW faculty member Tim Essington.
<li>Once you<strong> find your ideal support network</strong>, tell them specifically what you need. For example, if you need to hear that you are brilliant and fearless right before you give a presentation, tell your friends. Their supportive texts and emailed testimonials to your amazingness will help you shine.
<li><strong>Find ways to regularly relieve stress</strong>. Take cooking lessons, find a good gym or workout class, take walks, watch your favorite TV show. Engage in these activities without guilt or judgment.<br>
<li><strong>Be professional, but remember not to take yourself too seriously</strong>. Find ways to have fun with your classes, your extracurricular activities and your role as an undergraduate student.
<li><strong>Note and celebrate your accomplishments</strong>. It is easy to feel like you are not measuring up when you focus on how much your peers are doing and compare this to how much you have to do; today, this week, until you graduate. Break your major tasks down into manageable steps, and cross off each step when you complete it. Force yourself to pause each time you complete a major task. Appreciate how you are making strides with every step you accomplish. Remind yourself that you are moving through your degree, you are capable, and that your completed tasks are proof of that.
<li><strong>Fake it ‘til you make it</strong>. If you still feel like an imposter, act like you own the place. Walk through your world with confidence. Practicing self-assurance is a self-fulfilling act. Know that the UW does not need you to be special; we need you to be you. You are enough. You are in college to explore your interests and to learn, to enhance or find your career path, and to give back to your families and communities. Say to yourself, “I do belong on campus.” You’ve got this.
</li>
</ol>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.themuse.com/advice/how-to-banish-imposter-syndrome-and-embrace-everything-you-deserve">How to Banish Imposter Syndrome</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=asking-help-normal-and-necessary">Asking for Help is Normal. And Necessary.</a></li>
                
                    <li><a href="/husky_experience_message?article=leaders-are-made-not-born">Leaders are Made, Not Born</a></li>
                
                    <li><a href="/husky_experience_message?article=show-yourself-little-compassion">Show Yourself a Little Compassion</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
