{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Map a Path to Meaningful Work</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Why Meaningful Work Matters</h3>


<p>
Some studies have found that having <em>purpose</em> leads to a longer and healthier life, and meaningful work is at the center of that. Researchers found that those who feel purpose in their lives and work often have healthier lifestyles. They are more motivated and resilient, which protects them from stress and burnout.
</p>
<h3>Map Your Path</h3>


<p>
Making a map or diagram for yourself can help you gain clarity about the kinds of work that might be meaningful to you and align with a sense of purpose. Follow the steps below to create an illuminating map.
</p>
<p>

    <strong>Step 1. Draw a map</strong> 
</p>
<p>

    Begin by drawing a Venn diagram with four interlocking circles, or simply draw four quadrants. Your diagram doesn’t have to be pretty, it is just to help you organize your thoughts and find patterns. You might want to use a big sheet of paper or a whiteboard so that you can edit or add to your drawing over time. 
</p>
<p>

    Label the circles or quadrants as follows:
</p>
<ul>

<li>“Interests” – things you love and find yourself drawn toward

<li>“Values” – things you care about

<li>“Strengths” – personal qualities you possess or things you do well

<li>“Skills” – things you know how to do 
</li>
</ul>
<p>

    <strong>Step 2. Reflect</strong> <strong>on your interests, values, strengths, and skills</strong> 
</p>
<p>

    <em>Take time</em> to fill out each of the circles or quadrants on the map. It may help to ask yourself the following questions: 
</p>
<ul>

<li>What, in your life as it is now, makes you happy? 

<li>What have you always wanted to try?

<li>What do you care about most?

<li>What change would you like to see in the world?

<li>What are your positive personality traits?

<li>What are you good at and enjoy? 

<li>What do you know how to do and like doing?
</li>
</ul>
<p>

    Be radically honest with yourself. Don’t be afraid to jot down whatever comes to mind, no matter how crazy or irrational it might seem right now. If there is something that belongs in more than one category, write it down in each category. You don’t have to force yourself to come up with answers in one sitting. In fact, it’s more productive to come back to your diagram multiple times. 
</p>
<p>

    If you feel stuck, ask family and friends what they see as your greatest strengths and skills and what they think are your interests and most deeply held values. Some answers may be affirming, some surprising.
</p>
<p>

    <strong>Step 3. Look for patterns</strong>
</p>
<p>

    As you look at your diagram, what themes emerge? Are there obvious overlaps between categories? Are there any elements that seem contradictory? Go ahead and circle like items or draw arrows indicating connections you see. What feelings do you experience as you discover what’s there? 
</p>
<p>

    If clear links aren’t evident on your map, don’t worry  –  this process takes time. It’s less likely that you will identify your one true purpose, and more likely that you will start seeing a direction you want to head. Let faculty, mentors, and advisers know what you are finding in your map, and where the gaps are. Weave this into conversations with friends and family. Simply by starting the reflection process and talking with others, you may find yourself spontaneously receiving new insights.
</p>
<h3>Apply and Test What You Learned</h3>


<p>
Making your map provides direction; once complete, you’ll want to take action to test what you’ve learned. Where does the map point you? Use your discoveries to make intentional choices about your life and career. For example, you can 
</p>
<ul>

<li>Look for volunteer opportunities where you can pursue an interest while utilizing your strengths

<li>Look for internships where you can grow your skills while also working for a cause you care about

<li>Test your thinking about potentially meaningful careers by connecting to people who do that work and learning more through informational interviews
</li>
</ul>
<p>
As you start to test your map in the real world, you will cross off some things on your diagram and add others. As your career evolves and you’re presented with more opportunities, you can rely on your evolving purpose to steer you in the right direction.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://blog.rescuetime.com/meaningful-work-guide/">The Meaningful Career Guide</a></li>
                
                    <li><a href="https://roadtripnation.com/roadmap">RoadTrip Nation’s career exploration tool</a></li>
                
                    <li><a href="https://careers.uw.edu/wp-content/uploads/sites/25/2017/07/Dependable-Strengths-2017-2018-1.pdf">UW Career &amp; Internship Center’s Dependable Strengths identification activity</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=do-majors-jobs">Do Majors = Jobs?</a></li>
                
                    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
                
                    <li><a href="/husky_experience_message?article=lead-your-values">Lead with Your Values</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
