{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Mapping Interests and Values to Meaningful Work</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/mapping_interests_and_values_to_meaningful_work_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Why Meaningful Work Matters</h3>
<p>Some studies, <a href="https://informationisbeautiful.net/visualizations/ikigai-japanese-concept-to-enhance-work-life-sense-of-worth/">like this 2015 study</a>, have found that having purpose leads to a longer and healthier life, and meaningful work can be at the center of that. Researchers found that those who feel purpose often have healthier lifestyles. They are more motivated and resilient, which protects them from stress and burnout.
<h3>The Four Components Of Ikigai (and of Meaningful Work)</h3>
<p>Consider “Ikigai” – Ikigai (生き甲斐, pronounced [ikiɡai]) is a Japanese concept that means "a reason for being,” the “thing that you live for” or “the reason for which you get up in the morning.” <strong>Ikigai is the intersection and common ground between these four things:</strong></p>
<ol>
<li>What you love (Interests)</li>
<li>What you care about (Values)</li>
<li>What you can get paid for (Skills & Strengths)</li>
<li>What the world needs (Opportunities)</li>
</ol>
<h3>Mapping It Out For Yourself</h3>
<p>Making a map or diagram for yourself can help you gain clarity about what meaningful work might look like. Follow the steps below to create an illuminating map.</p>

<p><strong>Step 1. If you haven’t already, take time to reflect on your interests, values, strengths, and skills.</strong></p>

<p>Asking yourself the following questions can help you define your Ikigai:</p>
<ul>
<li>What do you care most about?</li>
<li>What key moments or “turning points” do you believe were foundations to where you are now?</li>
<li>What experiences – inside or outside the classroom – have you had as an undergraduate that provide insight or direction? Is there something new you’ve always wanted to try?</li>
<li>What, in your life as it is now, makes you happy? What things do you like to do?</li> (One way to think about it is the “Saturday Morning Test” – consider what do you do on a Saturday morning when you have nothing to do.)</li>
<li>What would you like to see change in the world?</li>
<li>What are you good at? What do you consider to be your top skills and strengths?</li>
<li>What can you get paid for?</li>
</ul>
<p>Be radically honest with yourself. Don’t be afraid to jot down whatever comes to mind, no matter how crazy or irrational it might seem right now. You don’t have to force yourself to come up with answers in one sitting. In fact, it’s more productive to take your time.</p> 

<p>It can be hard to see yourself objectively, so it may be very helpful to <a href="https://qz.com/1004823/the-secret-to-a-happy-fulfilling-career-dont-play-too-much-to-your-strengths/">ask family and friends</a> to anonymously share with you what they see as your greatest strengths and skills and what they see as your most deeply held values and interests.</p> 

<p>Finally, you can use these resources below to help you gain clarity on your interests, values, strengths, and skills.</p>
<ul>
<li><a href="https://careers.uw.edu/wp-content/uploads/sites/25/2017/07/Dependable-Strengths-2017-2018-1.pdf">UW Career and Internship Center’s Dependable Strengths Identification Activity</a></li>
<li><a href="https://roadtripnation.com/roadmap/stepone">RoadTrip Nation’s Career Exploration Tool</a></li>
<li><a href="/husky_experience_message?article=plan-your-life-accident">Plan Your Life By Accident</a></li> 
<li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
</ul>

<p><strong>Step 2. Draw a map and fill it out with your interests, values, strengths, and skills.</strong></p>

<p>Begin by drawing a Venn diagram (4 interlocking circles for each of the Ikigai components), or <a href="https://earth-mission.com/blog/ikigai-find-your-reason-for-being">draw a quadrant</a>. It doesn’t have to be pretty, it is just to help you organize your thoughts and find patterns.</p> 

<p>Find places on the drawing for your values, interests, strengths, and skills. If there is something that belongs into several categories, write it down in each category.</p>

<p>Start to look for patterns. What kinds of themes are apparent? Are there obvious intersections among categories, or do they seem disparate? If clear links aren’t evident, don’t worry  –  that’s normal. This process will take time. You can also <a href="https://informationisbeautiful.net/visualizations/ikigai-japanese-concept-to-enhance-work-life-sense-of-worth/">use this expanded map to analyze your map and gain more insights</a>.</p>


<p><strong>Step 3. Be Patient, and Iterate.</strong></p>
<p>Finding out what will be meaningful work and building a meaningful career requires devoting time to reflection and taking action to test things out. Rather than being something that you magically discover, meaningful work and your purpose will unfold and evolve over time. This is a living document, so it will change and evolve over time. As you start to test your Ikigai in the real world, you will strike out things and add others.</p>
<h3>Apply and Test What You Mapped</h3>
<p>The results of this mapping can be a guide. Aligning your actions with the “thing that you live for”– your Ikigai – can help <strong>inform choices that arise as you move forward. You can also use what you learn to connect you to people with similar interests and to identify opportunities to gain more experience in areas of interest</strong>. Let faculty, mentors, and advisers know what you are finding in your map and where the gaps are. <strong>Weave this into conversations</strong> with friends and family. As your career evolves and you’re presented with more opportunities, you can rely on your evolving purpose (or Ikigai) to steer you in the right direction.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://medium.com/thrive-global/ikigai-the-japanese-secret-to-a-long-and-happy-life-might-just-help-you-live-a-more-fulfilling-9871d01992b7">Ikigai: The Japanese Secret to a Long and Happy Life</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=do-majors-jobs">Do Majors = Jobs?</a></li>
                
                    <li><a href="/husky_experience_message?article=deep-learning-comes-from-reflection">Deep Learning Comes from Reflection</a></li>
                
                    <li><a href="/husky_experience_message?article=lead-your-values">Lead with Your Values</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
