{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Moving Beyond Rejection</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Moving_Beyond_Rejection__480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Moving_Beyond_Rejection__650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Moving_Beyond_Rejection__780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Moving_Beyond_Rejection__1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Moving_Beyond_Rejection__650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Being in college is exciting and fun and often stressful. Academic challenges, new relationships, experiences to aspire to … not everything turns out the way we want it to. Rejection is common and most students - and even faculty and staff - experience it. While it is uncomfortable, know you can move through and beyond it.  Next time you face it, try these strategies:
</p>
<h3>Remember Why </h3>


<ul>

<li>Remind yourself why you were engaged in an activity or aiming for a goal – <em>You want that study abroad experience in order to expand your horizons. An internship will deepen your learning and connect you with professionals.That fellowship will allow you to continue the good community work you are doing.</em> Remembering the good reasons for why you want something may help as you consider your next steps. 

<li>If your rejection is in the realm of relationships, maybe reaching out to a friend will help you remember that you do have connections with others based on trust, honesty, and support. 
</li>
</ul>
<h3 id="adjust-your-expectations">Adjust Your Expectations</h3>


<ul>

<li>Much of life is a numbers game. The first Harry Potter book was rejected 12 times before being published. The more you put yourself out there, the better chance you have in achieving that goal. 

<li>Sometimes it helps to write down all the other times in life you have been rejected. What was the ultimate outcome? Being patient and calm can pay off. 
</li>
</ul>
<h3 id="take-a-step-back-reflect-and-follow-up">Take a Step Back, Reflect and Follow Up</h3>


<ul>

<li>Be honest with yourself about your experience and competencies. Is there a step you should take (an internship, perhaps) before diving back into your dream? 

<li>Obtain help with your writing or <a href="/husky_experience_message?article=are-you-ready-your-job-interview">interview prep</a>. Analyze your approach and try to identify where you can improve. Ask for feedback from reviewers. Be open to learning more about what you need to learn.

<li>Think about the <a href="https://wellbeing.uw.edu/resources/healthy-vs-unhealthy-relationships/">aspects of healthy relationships</a> as you start to think about meeting new people. 

<li>Ultimately, you need to take care of yourself in order to be successful. Eat well, sleep enough, get outside, and be with people who care about you. It is okay to take a break to refuel.
</li>
</ul>
<h3 id="find-ways-to-stay-positive">Find Ways to Stay Positive</h3>


<ul>

<li>Turn to family and friends to remind you of your successes and characteristics that contribute to the world.

<li>Use a positive mantra or follow an uplifting meme. 

<li>Use your trust in your abilities and ambitions as motivation for proving the naysayers wrong!
</li>
</ul>
<h3 id="alum-philip-lee-shares-his-tips">Alum Philip Lee Shares His Tips</h3>


<p>
Philip Lee, a UW graduate who is now a Ph.D. student at UC Berkeley, was initially rejected from a prestigious fellowship. He says, “I think the hardest step is overcoming the disappointment in not receiving the award. I spent hours working on my application, writing my essays, and organizing the letter writers and making sure the letters were received on time. Though I received constructive feedback, it didn't help much emotionally, at least not at first.” Philip relied on his family, friends, and faith community to help him accept the situation and look to the future. 
</p>
<p>
The second time Philip applied, he again spent a lot of time perfecting his application and was strategic in incorporating the feedback from the first round. (Philip’s pro tip: “if you apply for something and don't get feedback, ask for it!”) He was “beyond grateful to receive their Honorable Mention award, still considered a significant national academic achievement. It provided closure to the wonderful years I spent at UW and a renewed sense of accomplishment as I began my PhD studies.”
</p>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=bouncing-back">Your Mindset Matters</a></li>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
                    <li><a href="/husky_experience_message?article=how-persevere">How to Persevere</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
