{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Networking Now Pays Off Later</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Networking_now_pays_off_480.jpeg' %} 480w,
                         {% static 'hx_toolkit_output/images/Networking_now_pays_off_650.jpeg' %} 650w,
                         {% static 'hx_toolkit_output/images/Networking_now_pays_off_780.jpeg' %} 780w,
                         {% static 'hx_toolkit_output/images/Networking_now_pays_off_1000.jpeg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Networking_now_pays_off_650.jpeg' %}"
                     alt="Student interacting with a UW Foundation board member at an event.">
            
            
                <p class="myuw-image-credit">Photo: UW Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Networking is an essential part of everybody’s career path, and it can be done online as well as in person. If you commit to being proactive in your efforts, you can network effectively both inside and outside the classroom, even online.
</p>
<h3>Start Now</h3>


<p>
During your studies, you will be surrounded by classmates and professors who share similar interests and possess skills, connections, and experiences that can help you expand your own skills and <a href="/husky_experience_message?article=strength-diverse-network">diversify your network</a>. Building a broad network of professional relationships during college can be incredibly valuable as you enter and navigate the workforce. Many of today’s jobs are filled as a result of professional connections, and frequently interacting with those within your major or related majors can spark new ideas and allow you to learn from the experiences of others. 
</p>
<p>
Fortunately, networking online and in person can be equally effective. Joe Eckert, an adviser with UW’s Computer Science & Engineering program who works with online students, encourages students to embrace the strengths of both distance and in-person learning to grow their professional networks. Here are his tips:
</p>
<h3>Start with Your Classmates </h3>


<p>
Take the opportunity to connect with and learn from other students; your peers may become connections for life. Someone in your program may hire you one day, or vice versa.
</p>
<ul>

<li><strong>Make the first move.</strong> 
<ul>
 
<li>You have to be the person to reach out even if that makes you uncomfortable, even if you are introverted. Don't wait for others to make you visible. Whether online or in person, the first step is to say hello.
 
<li>Start building rapport early on. Join Facebook groups. Email your advisor and ask about other opportunities to connect with other students. 
</li> 
</ul>

<li><strong>Try different ways of creating connections and practice them regularly.</strong> 
<ul>
 
<li>Use video conferencing software to build social spaces online or join existing ones, like student organizations. You can also check out the UW’s <a href="https://hub.washington.edu/get-involved/sao/">student activities</a> page and sign up for an event or student group that appeals to you. This will allow you to  meet other students regularly and chat about classes and other topics, which creates a bond.
 
<li>Get into the back channel – an informal channel of communication alongside an official discussion. If one does not exist, build one. This allows you the ability to confer with other students outside the visibility of staff and faculty, allowing you to be more forthright than you normally would. Some students use Facebook or We Chat groups that are created for students only.
 
<li>Put your face on it. Add your photo to Canvas and Outlook and LinkedIn. For visual learners, a profile photo is really important for recognizing and connecting with you.
</li> 
</ul>
</li> 
</ul>
<h3>Branch Out to Faculty and Industry Experts</h3>


<p>
Be intentional about connecting with faculty and people working in jobs and for companies you are interested in.
</p>
<ul>

<li><strong>Take charge of making a good – and lasting – impression with your professors.</strong> 
<ul>
 
<li>Students need to initiate connections with faculty; take the first step to reach out.
 
<li>Stay engaged in classroom activity; asking questions and sharing your expertise and opinions helps your professors get to know you better and distinguish you from other students.
 
<li>Take the time to go to office hours, whether online or in person. Ask for help understanding confusing topics or initiate a discussion on a reading or assignment that piques your interest.
</li> 
</ul>

<li><strong>Turn your connections into references and opportunities.</strong> 
<ul>
 
<li>At some point you will ask for letters of recommendation. Receiving strong ones is essential. The time you put into cultivating relationships with faculty will be reflected in the quality of the letter; the more they know you, the stronger the letter.
 
<li>Look for events in your area featuring industry experts, especially ones hosted by companies doing things you are excited about. You’ll be apt to meet like-minded individuals with whom you can discuss your interests and related opportunities. Over time, these interactions will help you grow more knowledgeable about your field, strengthen the relationships in your network, and create lasting impressions. Connections you begin online can always be followed up with an in-person meeting or vice-versa. 
</li> 
</ul>
</li> 
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.northeastern.edu/graduate/blog/networking-for-online-learners/">Networking Online: 7 Tips for Networking in an Online Degree Program</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
                
                    <li><a href="/husky_experience_message?article=career-conversations-small-investment-big-payoff">Career Conversations: Small Investment, Big Payoff</a></li>
                
                    <li><a href="/husky_experience_message?article=asking-reference-or-recommendation">Asking for a Reference or Recommendation</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
