{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Preparing for Professional Life</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/preparing_for_professional_life_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/preparing_for_professional_life_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/preparing_for_professional_life_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/preparing_for_professional_life_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/preparing_for_professional_life_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: David Ryder</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>Each job is different, but certain things apply to almost all jobs. Things to keep in mind when starting a full-time job:</p> 
<ul>
<li>The usual requirement is for employees to work between 8-9 hours per day with a 30 minute to an hour lunch. Some companies have options for flexible work hours, and even working from home.  It depends entirely on the organization.</li>
<li>Besides compensation there are typically a variety of <a href="https://www.thebalancecareers.com/types-of-employee-benefits-and-perks-2060433">benefits</a> that can include vacation time, medical plans, or retirement benefits.</li>
<li>It’s a good idea to know what the <a href="https://www.themuse.com/advice/rally-the-team-how-to-create-a-cool-office-culture">office culture</a> is and what the expectations are as you begin your new position.</li>
<li>Remember, each day at work you are defining your professional identity and representing your best self.</li>
</ul>
<p>Internships and mentor programs are one powerful way to help students better understand professional life after their undergraduate degree. You can gain perspective on what the world of work looks like through the lens and guidance of diverse professionals who are uniquely positioned to pass on lessons learned to students starting out.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/internships/engage-maximize/">How to Engage and Maximize Your Internship</a></li>
                
                    <li><a href="https://careers.uw.edu/blog/2017/12/28/skills-for-longevity-and-promotion-at-google-aka-the-case-for-loving-your-humanities-degree/">Humanities Majors at Google?</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=value-part-time-employment">The Value of Part-Time Employment</a></li>
                
                    <li><a href="/husky_experience_message?article=asking-reference-or-recommendation">Asking for a Reference or Recommendation</a></li>
                
                    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
