{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Preparing for Professional Life</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/preparing_for_professional_life_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/preparing_for_professional_life_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/preparing_for_professional_life_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/preparing_for_professional_life_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/preparing_for_professional_life_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: David Ryder</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Each job is different, but certain things apply to almost all jobs. Here are some things to know about starting a full-time job:
</p>
<ul>

<li><strong>Work hours</strong> – The usual requirement is for employees to work between 8-9 hours per day with 30-60 minutes for lunch. Some companies have options for flexible work hours and even working from home (this may be more common given the pandemic). It depends entirely on the organization.

<li><strong>Benefits</strong> – Besides the salary you receive, you will typically be offered a variety of non-salary employee<a href="https://www.thebalancecareers.com/types-of-employee-benefits-and-perks-2060433"> benefits</a>, which are provided by a company in addition to a salary as a way to create a competitive package for a potential employee. These benefits may include health insurance (this is a requirement for larger companies), paid vacation time, sick leave, and retirement benefits. Some benefits are mandated by federal or state law to provide, such as disability and workers compensation, overtime, and unemployment benefits. When you apply for a full-time job, it’s worth considering the benefits you will receive.

<li><strong>Office culture</strong> – You may get an idea of what the<a href="https://www.themuse.com/advice/rally-the-team-how-to-create-a-cool-office-culture"> office culture</a> is like from your job interview. Once you begin working, you’ll get an even better sense of this. Observe from your new vantage point how people talk and interact with one another, how they dress, and what the norms are, both in person and online. Don’t be afraid to ask questions of your supervisor about what’s expected of you – and not expected – as you begin your new position. Many workplaces match new employees with an “onboarding buddy/ambassador,” someone with experience at the company who can answer questions and help orient you. Even if this isn’t offered, you can ask your supervisor to find someone who can help in this role.

<li><strong>Community</strong> – As in any new culture, you might feel a little lonely at first. Having <a href="https://www.themuse.com/advice/12-different-ways-to-make-friends-at-work-even-if-theyre-just-work-friends">friends at work</a> is important. Find potential friends and ask them to go to lunch or coffee. Say yes to invitations to join colleagues on social or work-related outings, and don’t be afraid to follow up with people you might click with. You have the perfect excuse for asking for a little of someone’s time: You’re new here and you’d like to learn more about what other people in the company do. 

<li><strong>Work/life balance</strong> – When starting a full-time job, it’s highly likely that you’ll experience a lot less flexibility in your days compared to when you were taking classes. Commit to establishing a <a href="/husky_experience_message?article=no-time-be-healthy">healthy work/life balance</a>. Just like when you were going to school, you’ll want to be sure to exercise, eat right, get enough sleep, have fun, and engage in mindfulness practices that can help you reduce stress. You’ve got a long working career ahead of you, and establishing these habits early on will keep you happy in your life and your work.
</li>
</ul>
<p>
If you want to learn more about the world of work, internships and mentor programs, in either the <a href="https://c21.washington.edu/our-programs">corporate</a> or <a href="https://careers.uw.edu/blog/2021/01/25/non-profit-philanthropy-mentorship-program-spring-2021-apps-due-2-14/">non-profit</a> sectors, are one powerful way to help students better understand professional life after their undergraduate degree. You can gain perspective on what the world of work looks like through the lens and guidance of diverse professionals who are uniquely positioned to pass on lessons learned to students starting out.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/internships/engage-maximize/">How to Engage and Maximize Your Internship</a></li>
                
                    <li><a href="https://c21.washington.edu/our-programs">C21 Professional Experience Program</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=value-part-time-employment">The Value of Part-Time Employment</a></li>
                
                    <li><a href="/husky_experience_message?article=asking-reference-or-recommendation">Asking for a Reference or Recommendation</a></li>
                
                    <li><a href="/husky_experience_message?article=getting-comfortable-public-speaking">Getting Comfortable with Public Speaking</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
