{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Saving for Summer Vacation (or Other Financial Goals)</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Saving_for_Summer_Vacation_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Saving_for_Summer_Vacation_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Saving_for_Summer_Vacation_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Saving_for_Summer_Vacation_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Saving_for_Summer_Vacation_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
If your long-term goals require more money than you currently have — such as taking a summer vacation, for example — you’ll want to create robust budgeting and saving strategies for getting there. There are lots of <a href="/husky_experience_message?article=husky-or-bank-account-running-low-">ways you can start saving money this week</a>, but to really make gains you’ll want to establish good habits and to start tracking your income and expenditures so that you can meet your goals. Check out the strategies below for how to do this. 
</p>
<p>
<strong>Note</strong>: Given the spectrum of financial stability represented in the UW student body, we know that not all of these recommendations are within everyone’s reach. Some students may not be able to begin to save money each month or pay off debt until after they graduate — just do what is within <em>your</em> reach right now because every penny counts, and every good fiscal habit you develop now will serve you over a lifetime.
</p>
<h3 id="strategies-that-save-you-money">Strategies that Save You Money</h3>


<ul>

<li><strong>Make your payments on time</strong>. If you are having trouble making timely payments, contact your creditor. Don’t wait and hope it gets better.

<li><strong>Avoid credit cards if possible</strong>. It’s really easy to spend beyond your means using credit, and there are high fees and interest rates associated with keeping a balance.

<li><strong>Pay off credit card balances every month</strong>. If you’ve run up credit card debt, one of the smartest money-saving moves you can make is prioritizing paying that high-interest debt.

<li><strong>Save your spare change</strong>. <a href="https://www.gobankingrates.com/investing/acorns-mobile-app-review/">Investing apps like Acorns</a> let you link your debit or credit card and round up your purchase amounts to the nearest dollar. The change available is then available for you to invest.

<li><strong>Research major expenses. </strong>Any purchase over a threshold, say $100, is likely worth researching a bit to see if you can find it cheaper, on sale, or using a coupon.
</li>
</ul>
<h3 id="bring-in-money">Bring in Money</h3>


<ul>

<li><strong>Work</strong>.<strong> </strong>Whether it’s a summer job or internship, or a part-time gig during the school year, working is a surefire way to help yourself stay within budget. <a href="https://uw.joinhandshake.com/login">Look for job and internship listings in Handshake</a>, the Career & Internship Center’s database. 

<li><strong>Apply for Scholarships</strong>. Need- and merit-based scholarships are available. <a href="/husky_experience_message?article=scholarships-101-finding-scholarships">Look and apply for scholarships</a> that you qualify for. 
</li>
</ul>
<h3 id="budget-and-actively-manage-your-money">Budget and Actively Manage Your Money</h3>


<p>
Budgeting, the act of planning and actively reviewing what you spend, is the holy grail of finance. It may sound daunting but doing this can be very illuminating and a great way to save money over time. Develop a budget following the steps below.
</p>
<ol>

<li><strong>Calculate your expenses</strong> 
    <ul> 
    <li>Review bank statements, receipts and financial files for the last six months to a year. Add up everything you spent and then divide the total by the amount of months you chose to review. This gives you your average monthly expenses.     
    <li>Add an extra 10 to 15% to your estimates. A good rule of thumb is to add to your average monthly expenses an extra 10 to 15% of the total, in order to factor in unexpected costs.
    </li> 
    </ul>
<li><strong>Determine your income</strong> 
    <ul>
    <li>Add up all the money that you get through loans, scholarships, work, and gifts for the same period of time you chose to review above, and divide by the amount of months you chose to review. This gives you your average monthly income.
    </li> 
    </ul>
<li><strong>Find out if you have a monthly surplus or deficit</strong> 
    <ul>     
    <li>Subtract your average monthly expenses from your average monthly income. 
    <li>If you are making more money than you spend, great, you have a surplus! You can divert those funds towards savings or paying down debt. If instead you have a budget deficit, where you are spending more than your income each month, consider our tips above for saving and making money. 
    </li>
    </ul>
<li><strong>Set savings and debt payoff goals</strong> 
    <ul>
    <li>List possible goals. Start by making a list of things you’d like to save up for. A weekend A short or long summer vacation might 
    <li>Differentiate between needs and wants. Identify whether each item on the list is something you absolutely need or if instead it is something you want.<strong> </strong>If you decide you want something, ask yourself if you will still be happy you bought the item in a month. You can also have a partner or good friend help point out what you need versus what you want.
    <li>Budget and save for summer vacations.
    </li> 
    </ul>
<li><strong>Record spending and track progress</strong> 
    <ul>
     
    <li>You can try using a <a href="https://www.gobankingrates.com/saving-money/budgeting/20-apps-make-money/">free budgeting app</a> to help you keep track of your spending.
     
    <li>Check your debit/credit balances. Putting it on your calendar makes it easier to remember. Review your expenses and reflect on what could be cut down without reducing the quality of your life.
     
    <li>Review year-end summaries. Seeing how much you <em>actually</em> spent on pizza or movies each year can be a good motivator to change your habits! 
    </li> 
    </ul>
<li><strong>Stick to your budget, but be realistic</strong> 
    <ul>
    <li>Aim for sticking to your budget most of the time. Splurging beyond your budget occasionally is okay so long as you get back on track quickly!
    </li> 
    </ul>
</li> 
</ol>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/financialaid/money-management/credit/">Learn about credit cards, reports, and scores</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=scholarships-101-finding-scholarships">Scholarships 101: Finding Scholarships</a></li>
                
                    <li><a href="/husky_experience_message?article=husky-or-bank-account-running-low-">Husky or Bank Account Running Low? $$ :-(</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
