{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Scholarships 101: Application Essays</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Scholarships_101_Application_Essays_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Scholarships_101_Application_Essays_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Scholarships_101_Application_Essays_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Scholarships_101_Application_Essays_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Scholarships_101_Application_Essays_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
When <a href="/husky_experience_message?article=applying-scholarships-gets-you-more-money">seeking scholarships</a>, your application essays give you the opportunity to introduce yourself, your interests, and sometimes your project ideas, to a selection committee. A great personal statement will give the committee members a sense of who you are, your motivations and interests, and how the scholarship, program or opportunity aligns with your past experiences and future goals.
</p>
<p>
Writing these essays takes time. You may work through multiple drafts before feeling confident in your work. In addition to giving yourself time to brainstorm, draft, and redraft, be sure to give yourself time to proofread and edit. Seek feedback from your professors, advisors, writing centers and other mentors.
</p>
<p>
Advisers in the<a href="http://expd.uw.edu/scholarships/"> UW Office of Merit Scholarships, Fellowships and Awards</a> are available to read and give feedback on essay drafts for scholarship, graduate school and other applications you might be working on. <a href="http://expd.uw.edu/scholarships/advising/">Contact these advisers</a> to request an appointment for help with your personal statement.
</p>
<h3 id="strategies-for-personal-statement-writing">Strategies for Personal Statement Writing</h3>


<p>
Do your homework on the scholarship you are applying for. Keep in mind the characteristics, requirements, expectations, and/or mission of the specific scholarship to which you are applying.
</p>
<p>
Reflect on your purpose for applying, your past experiences and your future interests. A personal statement is not just a listing of your achievements. It is a narration that describes how your interests/plans/perspectives/motivations have developed and those experiences that have been critical to that development — why your goals are what they are and how that relates to the scholarship.
</p>
<h3 id="know-your-audience-and-how-to-address-them-appropriately">Know Your Audience and How To Address Them Appropriately</h3>


<p>
Learn all you can about the nature of particular selection committees through both research and communication with scholarship foundations, past scholarship recipients, graduate students, interns, faculty, etc.  Scholarship websites and application materials often reveal the kinds of people on the selection committee, and such information can be used to shape material and decide on the level of technical detail and explanation needed. For graduate school, thoroughly research program websites and faculty members (read their <em>curriculum vitae</em> — that’s the fancy term for an academic résumé); look for faculty members who are working in an area you are interested in so you can make a match; the biggest criteria used by graduate admissions committees is that there is a faculty member in your stated area who has space to accept a student.
</p>
<p>
<strong>Important Note</strong>: Don’t write your personal statement based on what you think the selection committee wants to hear. Make it an honest depiction of who you are, what you want, and how you plan to get there.
</p>
<h3 id="begin-drafting-with-the-expectation-that-you-will-write-multiple-drafts">Begin Drafting with the Expectation that You Will Write Multiple Drafts</h3>


<p>
Most people writing personal statements end up with a first draft that is fairly general, containing mostly vague statements and ideas that could have been written by just about anyone. Acclaimed writer Anne Lamott calls this a <a href="http://www.asu.edu/courses/fms209/total-readings/lamott-shittyfirstdrafts.pdf">shitty first draft</a> and emphasizes that “All good writers write them. This is how they end up with good second drafts and terrific third drafts.” This is why personal statement writing has to be a process you work through. Multiple drafts are necessary to get past that initial draft, taking those general ideas and distilling them down to the essence of the information you’re trying to convey, fleshing them out with specifics from your experiences. 
</p>
<p>
While working on your first several drafts, do not limit yourself to a certain number of pages or words. Write out all of your ideas first, taking as many pages as necessary, then make choices about what is most important, and edit down. If you limit yourself from the beginning, you are more likely to leave important information out of the final draft.
</p>
<h3 id="revise-revise-&-revise-again">Revise, Revise & Revise Again</h3>

<p>
It can take many drafts to distill your writing down to a final product that directly, concisely and persuasively presents your points. Continued editing and revising is absolutely critical to eradicate words, sentences and yes, even whole paragraphs, that don’t actually contain any real information.
</p>
<p>
Giving yourself time to brainstorm, create multiple drafts, seek feedback, proofread and edit will help you feel good about your essays and will ensure they stand out among others.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://expd.uw.edu/scholarships/events/">Workshops and Events at UW Office of Merit Scholarships, Fellowships and Awards</a></li>
                
                    <li><a href="http://www.lib.washington.edu/ougl/owrc">Odegaard Writing Center</a></li>
                
                    <li><a href="http://webster.uaa.washington.edu/asp/website/clue/writing-center/">CLUE Writing Center</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=applying-scholarships-gets-you-more-money">Applying for Scholarships Gets You More than Money</a></li>
                
                    <li><a href="/husky_experience_message?article=scholarships-101-finding-scholarships">Scholarships 101: Finding Scholarships</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
