{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Scholarships 101: Finding Scholarships</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Scholarships_101_Finding_Scholarships_ALT_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Scholarships_101_Finding_Scholarships_ALT_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Scholarships_101_Finding_Scholarships_ALT_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Scholarships_101_Finding_Scholarships_ALT_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Scholarships_101_Finding_Scholarships_ALT_650.jpg' %}"
                     alt="">
            
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="getting-started">Getting Started</h3>


<p>
Did you know you are eligible for scholarships at any time throughout your UW career? We suggest you start your search by reviewing the search tools and resources available to you. Searching for scholarships takes time, but the Office of Merit Scholarships, Fellowships & Awards is here to help you and even has <a href="https://new.expo.uw.edu/expo/scholarships">its own database</a>. You’ll likely use a combination of search tools and resources to support your search
</p>
<h3 id="your-search">Your Search</h3>


<p>
Narrow your search by defining your field of study and interests and consider your options broadly. There are scholarships geared toward academic interests, heritage, gender, future goals and other personal interests and aspects of you. If your search yields too few results, consider broadening your search parameters.
</p>
<p>
Pay attention to scholarships that fit you, even if you’ve missed a deadline or are not yet ready to apply.  Consider scholarships for both the short-term and the long-term, not just those you can apply for right now, but several years in the future as well.
</p>
<p>
There are many good, <a href="http://expd.uw.edu/scholarships/scholarship-search/search-for-scholarships/tools/">free, online scholarship search tools</a>. They range from broad search tools applicable to everyone, to specific populations like Asian American and Pacific Islander students and to U.S. students studying abroad and international students studying in the U.S.
</p>
<h3 id="keep-a-list">Keep a List</h3>


<p>
Searching and finding scholarships takes work. Be sure to document your search efforts and keep track of the scholarships that look good but for which you might not yet be eligible. Use a list or spreadsheet to keep track of your scholarships.
</p>
<h3 id="begin-before-you-need-one">Begin Before You Need One</h3>


<p>
The time to search for a scholarship is well before you need one.  We suggest you begin your search at least 6 to 18 months in advance of when you plan to utilize the funds.
</p>
<h3 id="schedule-it">Schedule It</h3>


<p>
Schedule time (for example, the first Friday of each month) for searching and <a href="/husky_experience_message?article=scholarships-101-application-essays">applying</a> throughout the school year and summer.
</p>
<h3 id="keep-at-it-and-get-help">Keep At It...and Get Help</h3>


<p>
Searching for scholarships takes time and can be an up and down process but if you keep at it you will find scholarships that fit your goals.  To stay motivated and on track, attend <a href="http://expd.uw.edu/scholarships/workshops/">workshops by the Office of Merit Scholarships, Fellowships and Awards</a> and schedule an <a href="http://expd.uw.edu/scholarships/advising/">advising appointment</a>.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="http://expd.uw.edu/scholarships/scholarship-search/lists/">Scholarship Lists &amp; Guides</a></li>
                
                    <li><a href="https://thewashboard.org/login.aspx">Scholarships for Washington Students</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=applying-scholarships-gets-you-more-money">Applying for Scholarships Gets You More than Money</a></li>
                
                    <li><a href="/husky_experience_message?article=scholarships-101-application-essays">Scholarships 101: Application Essays</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
