{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">The Strength of a Diverse Network</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/The_Strength_Diverse_Network_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/The_Strength_Diverse_Network_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/The_Strength_Diverse_Network_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/The_Strength_Diverse_Network_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/The_Strength_Diverse_Network_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Is it <em>What</em> You Know or <em>Who</em> You Know? </h3>

<p>
Everyone knows that knowledge, skills, experience, and education are critical to professional, and often personal, success. This is often referred to as “human capital” — what do you have and what do you know, as a human, to contribute to your work and community? 
</p>
<p>
But who you know is also important. “Social Capital” refers to your personal network, the quality of which is determined somewhat by size and a lot by diversity. Research shows that work effectiveness — as measured by innovation, accuracy, and profitability — is higher when teams have different perspectives, backgrounds, and ideas. In other words, more diverse teams are more successful. 
</p>
<p>
In the same way that social media can reinforce like-mindedness, cultivating a network of people similar to you may mean that you have a high degree of redundant information. While it is comfortable to be around people who think in a similar way to you, it is not conducive to learning or making new connections. 
</p>
<h3 id="diversify-your-network">Diversify Your Network</h3>


<p>
This sounds good, right? You want to be challenged and learn from others. Yes! But...how? Being at a place like the University of Washington is a great opportunity to meet new people with different perspectives. And It’s easy when you’re new to gravitate to people who feel familiar, even when you intend to break out of your comfort zone. So, how to begin? 
</p>
<p>
Making conscious choices goes a long way. For example, <a href="https://drive.google.com/open?id=1-2JqgK4NdZXz8RzHQn1Idb80enz9bmPH">who you sit by in class does, to some extent, determine friendship patterns</a>, so maybe you want to move around that big Kane Hall. Research also shows that people who attend networking events often talk with the people they know even when they have the goal to meet new people. Just remembering that might make it easier to introduce yourself to someone new. 
</p>
<p>
Here are four more ways to diversify your network: 
</p>
<ul>

<li><strong>Be curious</strong>. An easy way to get connected is doing more within your current sphere. For example, you could get involved in your living group or your faith community. You could take it a step further by exploring student groups or community organizations. Think about what you were excited about when you were first at UW and make a connection to that thing. 

<li><strong>Be social</strong>. Invite several people to brunch or dinner and seed the conversation with an idea or question. Even if you are more introverted and this sounds overwhelming, start with one or two new people and have a smaller gathering. 

<li><strong>Be altruistic</strong>. Adam Grant, a Wharton Business School professor, wrote a book that demonstrates that <a href="https://www.fastcompany.com/3009323/extreme-giver-adam-grant-lends-us-his-advice-on-becoming-a-more-generous-lead">the most accomplished people give to others</a>. Instead of thinking about what you can gain from another person, approach them thinking about what you can give them. 

<li><strong>Be a little random</strong>. Curiosity combined with courage can often result in new connections. Ask that person in the art gallery what they think about the painting. Seek out the ideas of that faculty member or TA in that class that is not in your major. Volunteer for an event where you are a newcomer.
</li>
</ul>
<p>
Christina Fong, Principal Lecturer of Leadership and Management at the UW Foster School of Business, advises that students set aside some time to reflect on the diversity of their network: “Most students understand and value diversity but it’s easy to stay in your comfort zone and make friends with people who are very similar to you. Taking the time — maybe once a quarter — to reflect on whether you are pushing out of your comfort zone and creating connections that diversify the experiences, opinions, and perspectives in your social life can help us stay motivated to take new chances in reaching out to new and different friends.”
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://blog.anderspink.com/2015/12/how-a-diverse-network-makes-you-smart/">How a Diverse Network Makes You Smart</a></li>
                
                    <li><a href="https://www.fastcompany.com/3015552/why-you-need-a-diverse-network">Why You Need a Diverse Network</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=your-friends-your-success">Your Friends, Your Success</a></li>
                
                    <li><a href="/husky_experience_message?article=you-are-your-network">You Are Your Network</a></li>
                
                    <li><a href="/husky_experience_message?article=learning-through-teamwork">Take the Pain Out of Teamwork</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
