{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Study Abroad is for Everyone</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Study_Abroad_for_Everyone_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Study_Abroad_for_Everyone_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Study_Abroad_for_Everyone_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Study_Abroad_for_Everyone_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Study_Abroad_for_Everyone_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Mark Stone/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Address the Obstacles</h3>
<p>
Do these thoughts sound familiar?
</p>
<p>
<em>“If I study abroad, I won’t graduate on time.”</em>
</p>
<p>
<em>“I can’t afford it.”</em>
</p>
<p>
<em>“Study abroad isn’t for students like me.”</em>
</p>
<p>
UW Study Abroad advisers have heard these and other reasons students give for dismissing study abroad as an option. But Mike Renes, a UW Study Abroad advisor, wants students to know, “If you want to study abroad, we will help you make it happen.” Renes adds, “Among UW alumni, those who studied abroad consistently rate it as one of the best things they ever did, while those who did not study abroad rate it one of their biggest regrets.”
</p>
<p><strong>
To put it simply, study abroad is transformative.</strong>
</p>
<p>
“Study abroad helped me develop a track record that I’m not afraid and can be successful working outside the U.S.,” shares Erika Arias ‘17, who loved study abroad so much that she went on six separate programs!  
</p>
<p>
“Going into it, I had no idea how much the experience would impact me,” says Agustin Castro, an engineering major. “In addition to deepening my technical, research and communications skills, the program also boosted my appreciation of engineering history. It’s one thing to read about engineering principles and projects in textbooks, but it's a much more meaningful experience to visit places where you can see such activity in action.”
</p>

<h3 id="key-things-to-know">Key Things to Know</h3>
<ul>

<li><strong>There’s a study abroad option to fit every student’s budget, interests, and availability</strong>. There are over 500 programs in 75 countries, running anywhere from 10 days to a full year.

<li><strong>UW Study Abroad advisers will help you <a href="http://www.washington.edu/studyabroad/students/getting-started/">choose a program</a></strong> that aligns with your academic, career and personal goals. They can also help with budget planning, financial aid, and scholarship options. 

<li><strong>The cost of study abroad depends on a variety of factors</strong> like the length of time you spend abroad, the type of program you choose, and the cost of living in your destination.

<li><strong>It’s affordable.</strong> Most forms of financial aid travel with you, and additional scholarships are available. UW Study Abroad offers a <a href="http://www.washington.edu/studyabroad/about-us/events/">financial planning workshop</a> and also keeps a running list of the <a href="http://www.washington.edu/studyabroad/affordable/">most affordable programs</a>.

<li><strong>Study abroad options are not limited to those led by UW faculty</strong>. They also include programs run by partner schools and organizations, exchange programs (where you enroll in a foreign university), and even internships.

<li><strong>You can earn credit toward your major or minor while studying abroad, or elective credit </strong>exploring something new; either option allows you to stay on track for graduation.

<li><strong>Start now.</strong> The sooner you begin planning for study abroad, the more time you have to find a program that will help you earn credit toward your major or general education requirements and figure out how you will pay for it. 
</li>
</ul>
<h3 id="how-to-learn-more">How to Learn More</h3>

<p>
<a href="https://www.washington.edu/studyabroad/about-us/contact-us/">Contact UW Study Abroad</a> for more information, or <a href="https://www.washington.edu/studyabroad/students/resources/appointment/">schedule a virtual appointment</a> with a study abroad adviser. Staff and advisers happy to answer your questions, talk to you about options, and help you every step of the way. Go study abroad!
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="http://www.washington.edu/studyabroad/students/getting-started/">Study Abroad – Getting Started</a></li>
                
                    <li><a href="http://www.washington.edu/studyabroad/students/resources/finances/">Financial Planning for Study Abroad</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=mapping-interests-and-values-meaningful-work">Map a Path to Meaningful Work</a></li>
                
                    <li><a href="/husky_experience_message?article=achievement-unlocked">Defining Achievement</a></li>
                
                    <li><a href="/husky_experience_message?article=discover-new-worlds-your-own-backyard">Discover New Worlds in Your Own Backyard</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
