{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Three Main Strategies for Finding A Job</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Three_Main_Strategies_for_Finding_Job_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Three_Main_Strategies_for_Finding_Job_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Three_Main_Strategies_for_Finding_Job_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Three_Main_Strategies_for_Finding_Job_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Three_Main_Strategies_for_Finding_Job_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Are you looking for part-time work, a summer job, or are you nearing graduation and looking for a full-time job? It can be unclear how to get started. Lucky for you, we’ll share the three core strategies for a job search. These were developed and presented in a UW workshop detailing an approach to the job search, taught by a career coach at the <a href="https://careers.uw.edu/">Career & Internship Center</a>. The following is an outline of the strategies recommended for a successful job search.
</p>
<h3 id="1-networking-the-most-effective-strategy">1.  Networking (the Most Effective Strategy!)</h3>


<ul>

<li>Getting hired through referrals from a friend, peer, colleague, etc.

<li>This is the best strategy to get unstuck from a job search

<li>Networking takes longer to get responses than job boards but has a higher payoff

<li>70 to 80% of jobs are filled via networking
</li>
</ul>
<p>
<h4>Where to network:</h4>
</p>
<ul>

<li><strong>At a career talk or career fair </strong>where you can meet recruiters who are looking to fill specific positions at a company.

<li><strong>At an <a href="https://www.thebalancecareers.com/how-an-informational-interview-can-help-your-career-2058564">informational interview</a></strong>, perhaps more accurately described as a “career conversation.” This is when you reach out to someone doing work you are interested in. At the interview, you’re not asking for a job, but instead asking questions about work environment, activities and advice. Most importantly, you’ll be building a personal connection with someone who may refer you for a job or tell you about opportunities down the road. 

<li><strong>At informal industry or recreational events</strong> like <a href="http://www.scienceontap.org/">Science on Tap</a>, a trivia night, or the cycling team.

<li><strong>The <a href="https://www.linkedin.com/school/university-of-washington/">UW Alumni LinkedIn tool</a></strong>
</li>
</ul>
<h3 id="2-using-job-boards">2. Using Job Boards</h3>


<ul>

<li><strong>Identify the most appropriate job boards</strong> for the kind of work you are looking for (see below).

<li><strong>Identify keywords to use in your search</strong> on LinkedIn, look at the profiles of people in industries you are interested in to help you pull out keywords people use to describe their work and experiences.

<li><strong>Narrow down the keywords</strong> you’re using to just a few, targeted searches.

<li><strong>Set up searches</strong> so sites like Indeed will send a run-down of jobs that appeared in the week with certain keywords.

<li><strong>Visit a job board</strong> one to three times per week.

<li><strong>DO NOT</strong> log in to job boards every day. 
</li>
</ul>
<h4 id="examples-of-job-boards">Examples of Job Boards:</h4>


<ul>

<li><a href="https://uw.joinhandshake.com/login">Handshake</a>: a database internal to the UW that includes local, national and international organizations looking to hire UW grads. 

<li><a href="https://www.indeed.com/">Indeed.com:</a> an international job search site.

<li><a href="https://www.usajobs.gov/">USA Jobs</a> (government-specific).

<li>Industry- and values-specific job boards, such as <a href="https://www.idealist.org/en/?radius=40000&type=ALL">Idealist</a>.

<li>Professional associations often have job boards and postings.
</li>
</ul>
<h3 id="3-employer-sourcing">3. Employer Sourcing</h3>


<ul>

<li><strong>Build a list of companies </strong>you’re interested in. Use LinkedIn to identify companies that do similar work you may not have previously known about.

<li><strong>Attend events</strong> put on by these companies and follow them on LinkedIn.

<li><strong>Check their website</strong> directly for events and job postings.
</li>
</ul>
<h3 id="general-job-search-tips">General Job Search Tips</h3>


<ul>

<li><strong>Tailor your resume and cover letter</strong> to each position you apply to.

<li><strong>Practice</strong> for interviews.

<li>Tend toward doing <strong>fewer applications of higher quality</strong> than pumping out a dozen (or dozens) of applications in a week. For some people, two to three well-crafted applications in one week is best. Five to six applications is good for skilled writers.

<li><strong>Expect that it will take time</strong>, possibly 2 to 3 months (sometimes longer) to find a job. Be sure to keep networking during this time!
</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.themuse.com/advice/job-search-spreadsheet-track-application">Use This Spreadsheet to Track Your Job Search</a></li>
                
                    <li><a href="https://careers.uw.edu/blog/2018/01/03/when-you-feel-like-you-arent-making-progress-on-the-job-search/">When You Feel Like You Aren’t Making Progress in the Job Search</a></li>
                
                    <li><a href="https://careers.uw.edu/channels/jobs/">Job Resources</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=does-your-resume-represent-you">Writing Your Résumé</a></li>
                
                    <li><a href="/husky_experience_message?article=career-conversations-small-investment-big-payoff">Career Conversations: Small Investment, Big Payoff</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
