{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Time Management for the Win</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/time_management_for_the_win_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/time_management_for_the_win_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/time_management_for_the_win_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/time_management_for_the_win_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/time_management_for_the_win_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <h3>Set Your Priorities</h3>
<p>A wise person once said that you can figure out a person’s priorities by looking at their calendar and their bank account. <strong>Where do you spend your time? How do you spend your money? Are these the things most important to you? What are your priorities?</strong></p>
<h3>Get Organized</h3>
<p>Once you identify your priorities, how do you make the most of your time? There are 168 hours in each week. If you spend 45 hours per week on school (in class and studying) and 56 hours a week sleeping (which you <em><a href="http://campusmindworks.org/students/self_care/sleep.asp">should</a></em>), <strong>you will have around 67 hours each week of free time left to put towards your priorities.</strong></p>
<p>A few organizational techniques, like these excellent time management suggestions from UW Academic Support Programs, can go a long way in helping you make the most of your time and achieve your goals. Here are a few tips to get you started:</p>
<ul>
<li><strong>Write everything down</strong> - Get onto paper or into an app all the things that you have or want to do.</li>
<li><strong>Create a schedule</strong> - Schedules support productivity in many ways.</li> 
<li><strong>Tackle procrastination</strong> - Stop procrastination using one of several recommended techniques.</li>
<li><strong>Balance how you spend your time</strong> - Balance school, work, and extracurricular activities with self-care.</li>
<li><strong>Distribute group work</strong> - When you are working with others – on a group project, in a student group, or on a team – are you making sure that the workload is evenly distributed? When can you step in to help to others and when can others step in to help you?</li>
</ul>

<p>Time management is a key skill for academic and personal success and happiness, as these <a href="https://www.youtube.com/watch?v=1kJLj3hz7Ps&feature=youtu.be">UW students</a> (hilariously) demonstrate.</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.youtube.com/watch?v=n3kNlFMXslo">How to Gain Control of Your Free Time</a></li>
                
                    <li><a href="http://www.lib.washington.edu/services/facilities">Reserving UW Library Rooms and Equipment</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=value-part-time-employment">The Value of Part-Time Employment</a></li>
                
                    <li><a href="/husky_experience_message?article=making-decisions">Making Decisions</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
