{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Time Management for the Win</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/time_management_for_the_win_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/time_management_for_the_win_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/time_management_for_the_win_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/time_management_for_the_win_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/time_management_for_the_win_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Time management is the process of identifying the things you need and want to do and organizing them into a structure that allows you to get them done. Effective time management is unique for everybody. Trying different strategies will help you figure out what works for you.  Once you do, practicing regularly will lead to improvement. The goal of time management is to find a balance among all the things you need and want to do.
</p>
<p>
These eight time management tips and strategies, based on tips from Purdue University, will get you started. Following these will ensure that you meet deadlines, are well prepared for exams, and have time for yourself.
</p>
<h3>1. Identify Time Wasters and Set Clear Goals</h3>


<p>
It’s easy to get distracted. Pay attention to what draws your focus away from your studies and assignments.
</p>
<ul>

<li>Are you spending too much time checking social media?

<li>Are you prone to texting and answering personal phone calls while studying?

<li>Do you find that a lot of time has passed while you aimlessly browse the web?
</li>
</ul>
<p>
No matter what tempts you to waste your time, set a goal to not engage in that behavior during dedicated study time. Instead, use those activities as a reward for staying focused and accomplishing the tasks you set out to complete. It may help to make a list of things to do so you have reference points to follow.
</p>
<h3>2. Walk Yourself Through a Realistic Plan by Creating a To-Do List</h3>


<p>
Identify what you need to do by when and then prioritize the tasks based on when the assignment is due and how much time you need to complete it. This gives you a set plan for the day. Whether you create just a list of priorities or a detailed schedule, having a plan will ensure that you know what to do and in what order.
</p>
<p>
Unless there’s a pressing priority, it’s important to also consider what sort of work you’re in the mood to do.
</p>
<ul>

<li>Do you feel creative? You may want to prioritize working on a writing assignment.

<li>Do you feel focused? You could spend an hour studying for an upcoming exam.
</li>
</ul>
<h3>3. Tackle Small Tasks to Start</h3>


<p>
It’s easy to get overwhelmed by large projects and big exams, and the anxiety they induce can make <a href="https://my.uw.edu/husky_experience_message?article=managing-procrastination">you want to procrastinate</a>. Break down these assignments into manageable components. Start with shorter, simpler to-do items and then move on to larger or more complex tasks.
</p>
<ul>

<li>What can you complete in the shortest time and with the fewest dependencies?

<li>What needs more time or has more complicated workflows?
</li>
</ul>
<h3>4. Only Do One Thing at a Time</h3>


<p>
A University of London <a href="http://www.talentsmart.com/articles/Multitasking-Damages-Your-Brain-and-Your-Career%2C-New-Studies-Suggest-2102500909-p-1.html">study</a> showed that those who multitask see a drop in their IQ similar to someone who didn’t sleep the night before. If you’re trying to juggle multiple assignments and tasks, you’ll likely end up being less productive.
</p>
<p>
To combat the urge to multitask, ask yourself what are your most common distractions – email, social media, gaming, etc. Remove these by turning off or shutting down any devices and applications that you can. And no matter what, don’t switch to another task until the one before it is complete. This may be a hard habit to break, but it’s worth it. You can even use a timer to schedule your focus time (see tip #6).
</p>
<h3>5. Set Routines</h3>


<p>
A set routine can also help you accomplish the things you need to do. Is your home quietest in the early morning? You may want to get in the habit of regularly using that time to study or read. The more often you do this, the less you’ll have to think about when you’ll accomplish the tasks you need to finish that day.
</p>
<h3>6. Make the Most of Breaks</h3>


<p>
The time between work, classes, activities, and meetings can be used to complete tasks. People who use the <a href="https://francescocirillo.com/pages/pomodoro-technique">Pomodoro Technique</a>, developed in the 1990s, work in short intervals and take short, regular, timed breaks or “Pomodoros." For example, you might use a timer to work in 25-minute sprints, broken up by 5-minute breaks away from your workspace. Every fourth Pomodoro, take a longer break.
</p>
<h3>7. Take Time for Yourself</h3>


<p>
It’s important to take time for yourself. Long study sessions or chunks of time working on assignments should be broken up with time away from screens or textbooks. Rest and recharge with restorative activities; ones that are not cognitively challenging and renew your spirit and energy. These could be a walk or run, time with a friend or a pet, time spent meditating, or even taking a short nap.
</p>
<h3>8. Learn to Delegate</h3>


<p>
While no one else can study for you, practice asking your significant other, family members, or roommates to help out more around the house.  You can even take a few minutes to <a href="https://www.apartmentguide.com/blog/free-downloadable-chore-wheel/">create a chore wheel</a> for easily dividing up household chores and errands. This ensures you can stay focused on your studies and coursework, or take a well-deserved break.
</p>
<p>
When you are working with others -- on a group project, in a student group, on a team -- are you making sure that the workload is evenly distributed? When can you step in to help others and when can others step in to help you?
</p>
<h3>Ask for Help                                                                    </h3>


<p>
Take advantage of <a href="https://academicsupport.uw.edu/">academic support programs</a> that help busy college students balance studies, work, and life. These include more <a href="https://academicsupport.uw.edu/study-skills/time-management/">time management strategies</a> to help you practice and refine your skills so you can make the most of your time.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.youtube.com/watch?v=n3kNlFMXslo">How to Gain Control of Your Free Time (video)</a></li>
                
                    <li><a href="http://www.lib.washington.edu/services/facilities">Reserving UW Library Rooms and Equipment</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=time-management-creating-weekly-schedule">Time Management: Creating a Weekly Schedule</a></li>
                
                    <li><a href="/husky_experience_message?article=managing-procrastination">Managing Procrastination</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
