{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Time Management: Creating a Weekly Schedule</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Time_Management_Creating_Weekly_Schedule_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Time_Management_Creating_Weekly_Schedule_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Time_Management_Creating_Weekly_Schedule_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Time_Management_Creating_Weekly_Schedule_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Time_Management_Creating_Weekly_Schedule_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
We all know that managing time is important. But it is challenging to find an approach that actually works.  Staff in UW’s Academic Support Programs – who work with hundreds of undergraduates each year – say that each student finds their own way to do this; some like to use electronic calendars and some like paper. Finding your preferred method requires experimentation and becoming comfortable and effective with it requires practice.</p>
<p>
There are two main things to consider when making your weekly schedule: How do you block out your time? How do you hold yourself accountable to do the task you allocated for this time? Here are some tips:
</p>
<h3 id="block-out-your-time">Block Out Your Time</h3>



<p>
Block out time in your schedule to do every single task:
</p>

<h4>1. Things that won’t change, or set activities, go first</h4>

<ul>
<li>Classes</li>
<li>Regular job schedule</li>
<li>Sitting down to manage your schedule; remember that you have to set aside time for scheduling.</li>
<li>Relaxation and rest, making sure to include time away from screens</li>
</ul>

<h4>2. Studying</h4>

<ul>
<li><a href="https://webster.uaa.washington.edu/asp/website/study-skills/helpful-tips/time-management/">Estimate how much time you need</a> (you'll find an estimator on this page)</a>.</li>
<li>Be specific about the total hours for each subject, then spread them across the week, similar to this <a href="http://webster.uaa.washington.edu/asp/website/site/assets/files/1514/timeblocking_schedule.jpg">timeblocking schedule example</a>
</li> 
</ul>

<h4>3. Extracurricular activities you can fit in</h4>
<ul>
<li>These may include club meetings, being active, and community commitments.</li>
<li>Remember, these are optional so they come after the set activities and studying.</li>
</ul>

<h4>4. Find the office hours for your professors, TAs and tutors and put these in your schedule  </h4>

<ul>
<li>Even if you don't connect directly outside of class, you know when they are available.</li>
<li>Know that building connections with professors helps <a href="/husky_experience_message?article=good-relationships-lead-recommendations">develop relationships for recommendation letters and references</a>.
</li>
</ul>


<h3 id="hold-yourself-accountable">Hold Yourself Accountable</h3>


<h4>Values, Hopes and Outcomes</h4>


<p>
Knowing your values and understanding your hopes and desired outcomes is key to holding yourself accountable for getting your scheduled tasks done. There is a reason you do what you do. Sometimes this is lofty and sometimes this is practical. For example, your only hope and outcome for passing Chemistry 142 may be to get into 152. This is okay. If you don’t, at all, value passing Chemistry 142, consider why you are taking it.
</p>
<h4>Weekly Tracking</h4>


<ol>

<li>Indicate a place and/or a person for each study hour each day. This makes it clear where you will be and who you need to show up for. This also makes you feel you need to be there. Use this <a href="http://webster.uaa.washington.edu/asp/website/site/assets/files/1532/6_strategies_effective_learning.pdf">6 Strategies for Effective Learning infographic</a> as a guide.

<li>Specific activities. Every week make specific tasks for studying using this <a href="https://drive.google.com/file/d/19JdC3kYEdWrH9uTXl85BeD5AXzN0xM2n/view?usp=sharing">7-Day Study Plan worksheet</a>.
</li>
</ol>
<h4>Practice</h4>


<p>
It takes time and practice to manage time and create your schedule each week, particularly if you are not used to doing so and especially if you are balancing a number of remote or virtual classes. Having an experimental mindset helps; create and adjust, create and adjust. Keep at it; you will continue to find what works for you and it will get easier over time.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://academicsupport.uw.edu/study-skills/time-management/">Time Management Tips: UW Academic Support Programs</a></li>
                
                    <li><a href="https://depts.washington.edu/ic/content/time_management.php?style=graphics">Time Management Tips: UW Instructional Center</a></li>
                
                    <li><a href="https://www.wikihow.com/Time-Block">How to Time Block</a></li>
                
                    <li><a href="http://academicsupport.uw.edu/study-skills/tips-for-success-at-the-university-of-washington/">Tips for Success at UW</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=time-management-win">Time Management for the Win</a></li>
                
                    <li><a href="/husky_experience_message?article=how-persevere">How to Persevere</a></li>
                
                    <li><a href="/husky_experience_message?article=managing-procrastination">Managing Procrastination</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
