{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Using Your Health Benefits</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Using_Your_Health_Benefits_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Using_Your_Health_Benefits_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Using_Your_Health_Benefits_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Using_Your_Health_Benefits_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Using_Your_Health_Benefits_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Kelly Sikkema</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
As a student, if you are not clear on how to use health insurance, you are less likely to access health services, even free preventive care.  UW staff who work in health care find that it is common for students to have difficulty navigating health insurance and the health care system.  Their biggest tip is to plan ahead — before you get sick — so you understand the steps to take, and what health care terminology means. By spending a little time getting familiar with these health care nuts and bolts, you will be better prepared for any fees that are your responsibility, know where to go if you get sick, and understand what kind of help you need and how to find it.
</p>
<h3>What Is Health Insurance?</h3>


<p>
A <a href="https://vimeo.com/433364405">UW student explains healthcare and insurance in this video</a>.
</p>
<h3>How Can I Prepare to Use It, Even If I Don’t Yet Need To?</h3>


<p>
Be prepared for out-of-pocket costs by learning about your health insurance. <strong>Before</strong> you need to use it, complete these steps:
</p>
<ul>

<li><strong>Get an insurance card</strong>. Make sure you have an insurance card. Take photos of the front and back of the card and store them on your phone in case you lose your card.

<li><strong>Learn what your insurance covers</strong>. Get information on  your deductibles, copays and coinsurance. Look into coverage of common health needs, like mental health counseling, urgent care and medication.

<li><strong>Find your network providers</strong>. Identify a primary care, urgent care and an emergency provider that are contracted (“in-network”) with your health insurance, so you will get the highest level of coverage. If you are from out-of-state, ensure that you have insurance coverage in Seattle.

<li><strong>Arrange for health insurance if you don't have it</strong>. You can find an <a href="https://wellbeing.uw.edu/medical/insurance-cost/">overview</a> on the Husky Well-Being page. International students should learn about <a href="https://iship.washington.edu/">ISHIP (International Student Health Insurance Program)</a>.</li> 
</ul>
<h3>What Services Does Hall Health Offer?</h3>


<p>
Hall Health Center is an on-campus clinic that provides high quality health care to the UW community. Students are the focus. Hall Health serves people of all ages, and is linked to UW Medicine. It is located across from the HUB on NE Stevens Way.  Services include:
</p>
<ul>

<li><strong>Help with illness & injury, tailored to students</strong> 
<ul>
 
<li>Same-day appointments for urgent medical or mental health symptoms
 
<li>24/7 medical advice from a nurse
</li> 
</ul>

<li><strong>Disease prevention</strong> 
<ul>
 
<li>Immunizations
 
<li>Study abroad assessments and physical exams
</li> 
</ul>

<li><strong>Mental health support</strong> 
<ul>
 
<li>Same and next-day visits for students who need support
 
<li>Individual and group counseling
 
<li>Medication management
</li> 
</ul>

<li><strong>On-site pharmacy, lab & imaging</strong>

<li><strong>Specialized medical care</strong> 
<ul>
 
<li>Travel medicine
 
<li>Dermatology
 
<li>Sports medicine
 
<li>Physical therapy
</li> 
</ul>

<li><strong>Sexual & reproductive health</strong> 
<ul>
 
<li>Prenatal care/obstetrics
 
<li>Birth control, including IUDs & Nexplanon
</li> 
</ul>
</li> 
</ul>
<p>
<strong>Find more information at <a href="http://wellbeing.uw.edu/unit/hall-health/">Hall Health</a></strong>. 
</p>

<h3>What Other Health and Wellness Services Does UW provide?</h3>
<p>UW Seattle offers a wide range of health and wellness services, from exceptional medical care and counseling services to recreation classes, safety resources, peer health advocacy, trainings and more.</p>

<h3>Can I Use My Health Insurance at Hall Health/UW Medicine?</h3>


<p>
Hall Health and UW Medicine are contracted with many, but not all, insurance plans. The best way to confirm that your insurance works with Hall Health is to contact your insurance company and provide our tax ID number: 91-1220843. Hall Health and UW Medicine are not contracted with Tricare or Kaiser.
</p>
<h3>What If I Don’t Have Health Insurance that Covers Me in Washington State?</h3>


<p>
Health insurance is available through <a href="https://www.wahealthplanfinder.org/">Washington Health Plan Finder</a>, an online health insurance marketplace. Depending on your income and immigration status, you may be eligible for either Apple Health (Medicaid) or a private insurance plan.
</p>
<h3>How Can I Get Help?</h3>


<p>
<ul>
<li><a href="https://wellbeing.uw.edu/medical/insurance-cost/">Husky Well-Being Insurance & Cost</a></li>
<li><a href="https://iship.washington.edu/">International Student Health Insurance Program (ISHIP)</a></li>
</ul>
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.thebalance.com/why-do-i-need-health-insurance-2385890">Why Do I Need Health Insurance?</a></li>
                
                    <li><a href="https://www.webmd.com/health-insurance/how-to-use-your-insurance#1">How to Use your Health Insurance: WebMD</a></li>
                
                    <li><a href="https://wellbeing.uw.edu/">Husky Health &amp; Well-being</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=no-time-be-healthy">No Time to be Healthy?</a></li>
                
                    <li><a href="/husky_experience_message?article=gratitude-healthy">Gratitude is Healthy</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
