{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">The Value of Part-Time Employment</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/the_value_of_part_time_employment_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/the_value_of_part_time_employment_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/the_value_of_part_time_employment_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/the_value_of_part_time_employment_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/the_value_of_part_time_employment_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: UW Housing &amp; Food Services</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>By choice or by necessity, you may be working a part-time job, or thinking about taking one on. It can be a challenge to balance work and school, but it’s possible to do it successfully, and a part-time job can offer multiple benefits. Here are some things to consider.</p>
<h3>Benefits of Part-Time Work for a Student</h3>
<ul>

<li><strong>Money.</strong> Need we say more?</li>
<li><strong>Budgeting.</strong> Students who earn their own money tend to spend it wisely.</li>
<li><strong><a href="/husky_experience_message?article=time-management-win">Time Management</a>.</strong> The upside to having less free time is that it forces you to practice being organized, planning and weighing priorities to meet deadlines. Manage your time well and it will benefit all areas of your life, now and after graduation. </li>
<li><strong>Your Future.</strong> Ideally, you can use your part-time job to get an introduction to a career or explore an area of interest. Forming professional relationships at this early stage will help you gain employment after graduation. Even if you have a job that’s not connected to your major, future employers still will be interested in your work experience and what you learned there.</li>
<li><strong>Transferable Skills.</strong> No matter where you’re employed, you will develop an understanding of the work environment and practice taking initiative, collaborating as a team, and solving problems when things go wrong. Doing all of this while earning a degree shows employers that you are mature and can effectively juggle multiple demands.</li>
</ul>
<h3>Balancing School with a Part-Time Job</h3>
<p>It is a tall order to balance school, a part-time job, a social life and your other demands, but a lot of students are managing to do this. So how can you?</p>
<ul>
<li><strong>Be fierce about organizing your time</strong>. Get a paper or electronic calendar.  Try <a href="/husky_experience_message?article=time-management-creating-weekly-schedule">creating a weekly schedule</a>. Use color coding to keep track of your shifts, important deadlines, and key social events.</li>
<li><strong>Be realistic.</strong> Can you really cover that extra shift, or attend that friend-of-a-friend’s party? There are only 24 hours in a day and seven days in a week. You can’t please everyone, so only say “yes" to the most important activities. Saying “no” can be difficult, but it is a critical skill to practice and gets more comfortable as you do.</li>
<li><strong>Keep all the important people informed.</strong> Make sure your boss knows when you’ve got critical lectures, tutorials and deadlines. Employers are usually pretty flexible about your hours – it’s part of choosing to employ students. Talk to your tutor and lecturers as well. They may be able to offer a bit of extra support to ensure you achieve your academic targets.</li>
</ul>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://www.washington.edu/studentlife/career-prep/work-on-campus/">Making the Most of Your Campus Job</a></li>
                
                    <li><a href="https://careers.uw.edu/working-on-campus-as-a-student/">UW On-Campus Student Employment</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=got-experience">Got Experience?</a></li>
                
                    <li><a href="/husky_experience_message?article=time-management-win">Time Management for the Win</a></li>
                
                    <li><a href="/husky_experience_message?article=getting-experience-when-you-dont-have-any">Getting Experience When You Don’t Have Any</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
