{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">When to Quit</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/When_to_Quit_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/When_to_Quit_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/When_to_Quit_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/When_to_Quit_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/When_to_Quit_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Nicole Pasia</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Are you considering quitting a relationship, a job, a course of study, or some other thing that you’ve committed to doing for yourself or someone else? Does it feel hard to keep going but also hard to imagine quitting?
</p>
<h3 id="perseverance-is-critical-but-so-is-quitting">Perseverance Is Critical, But So Is Quitting</h3>


<p>
Perseverance is critical to success, and you can <a href="/husky_experience_message?article=how-persevere">learn about perseverance</a>. But stubbornly pursuing a goal isn't always the best thing. Knowing when to let go of goals is also an important skill to have, and it can be a healthy and beneficial option. The considerations below can help you better tune into whether it’s time to persevere, or time to quit.
</p>
<h3 id="why-it-can-feel-hard-to-quit">Why It Can Feel Hard to Quit</h3>


<p>
When you’ve invested a lot of time in something, or are simply feeling fixated on seeing something through to the end, it can feel hard to quit. Quitting can make you feel like a failure. You may feel frustrated at letting go of all that you have invested into an effort. And change is often scary, sometimes because you don’t know what’s next. In addition, a prominent message in our society is that people who persevere are better than those who quit, but that is only one perspective and not always true.
</p>
<h3 id="signs-you-may-want-to-quit">Signs You May Want to Quit</h3>

<p>
Take a step back and reflect on how you feel and what you’ve experienced recently. If a number of indicators below ring true for you, it may be time to quit.  
</p>
<ul>

<li><strong>Prolonged neglect of basic care (meals, sleep).</strong> Severe suffering or consistent and prolonged neglect of basic care or sustenance (meals, sleep). 

<li><strong>Feeling more negative than positive feelings.</strong>  Are you consistently experiencing more frustration than you are rewards? If so, you might want to consider some radical change.  

<li><strong>Friends tell you to quit</strong>. What are your friends telling you about this effort or dilemma? Are they telling you to quit? It can be hard to see a situation objectively, so paying attention to what people around you are seeing and saying is critical.

<li><strong>Imagining quitting feels great</strong>. Do you breathe a sigh of relief and does your life feel instantly better with the mere thought of quitting? That may be a clear indicator of what you really need. 

<li><strong>No solution is in sight.</strong> If you have difficulty envisioning a possible solution, have no confidence things will change, and feel that you’ve exhausted your possibilities for resolving any issues that are causing the frustration or other negative feelings, this is an important sign.

<li><strong>Staying for the wrong reasons</strong>. If you are continuing to do something simply out of a sense of responsibility to someone else, because you are afraid of hurting someone’s feelings, or because of a fear of the unknown that may lie ahead, then you may be staying in something for the wrong reasons. 
</li>
</ul>
<h3 id="benefits-of-quitting">Benefits of Quitting</h3>


<p>
Moving on from a pursuit can have many benefits. 
</p>
<ul>

<li><strong>Being open to a better alternative</strong>. André Spicer, Professor of Organizational Behavior at Cass Business School, writes about this in the Harvard Business Review. He states, “remaining fixated on long cherished goals can also mean people ignore better alternatives...people who tend to be tenacious are also those who get trapped into losing courses of action.” Another way to think about it is presented by Freakonomics co- author Stephen Dubner, in an NPR interview, “Time and effort and even stick-to-it-iveness are not in infinite supply. Remember the opportunity cost: every hour, every ounce of effort you spend here cannot be spent there....”

<li><strong>Not wasting time and talent</strong>. Again, André Spicer writes, “people who don’t quit often continue with worthless tasks that are both uninteresting and unrewarding, ultimately wasting their time and talents.”

<li><strong>Better health, sleep, and mental state</strong>. A 2007 research study has shown that people who can let go of unattainable goals are healthier. Those who cannot let go of impossible goals are likely more stressed, show symptoms of depression, and can have difficulty sleeping.
</li>
</ul>
<p>
It is important to occasionally take time to look at your life’s pursuits from afar, and as objectively as you can. See what resonates and what doesn’t, and consider what’s better in the long run. Recognize that life changes in ways that are hard to predict, and we sometimes evolve away from a goal. Weigh the potential to continue learning and developing incrementally against the costs, dangers, and myopia which can come with stubborn perseverance. And lastly, don’t be afraid to <a href="/husky_experience_message?article=asking-help-normal-and-necessary">ask for help</a>; it’s out there for you.<span style="text-decoration:underline;"> </span>
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://wellbeing.uw.edu/topic/mental-health/">UW Wellness: Mental Health</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=life-messy">Life is Messy</a></li>
                
                    <li><a href="/husky_experience_message?article=how-persevere">How to Persevere</a></li>
                
                    <li><a href="/husky_experience_message?article=tough-relationship-decisions">Tough Relationship Decisions</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
