{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Why vote?</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/why-vote_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/why-vote_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/why-vote_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/why-vote_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/why-vote_650.jpg' %}"
                     alt="">
            
            
        </figure>
        <div class="myuw-article-body">
        <h3>Create your future</h3>


<p>
One of the primary goals of higher education is to cultivate informed, engaged citizens. You are here to learn about the world and to contribute to that world. Voting creates the future, a future you are going to live in. 
</p>
<p>
Making voting a priority while you are a student allows you to put your learning into practice. You can investigate the candidates and the issues and vote for people and initiatives that are in line with what you care about. Whether it is the economy, the environment, regional infrastructure, or the social safety net, voting makes an impact. 
</p>
<h3>Voting is power</h3>


<p>
More than 30% of eligible voters are under the age of 35. You can make a difference! 
</p>
<p>
The first step is making sure you are registered: 
</p>
<ul>

<li><a href="https://studentvote.org/">Register to vote</a> -- the Washington state deadline for the November 2020 election is October 26!

<li>Find <a href="https://studentvote.org/voting-resources/">voter registration information</a> for any state, including your registration status, voter ID requirements, and voting by mail.
</li>
</ul>
<p>
The next step is to make sure you are informed: 
</p>
<ul>

<li>Read your voter’s guide and visit the websites of candidates in order to gain more information. <a href="https://www.ballotready.org/">Ballot Ready</a> provides information about current elected officials as well as candidates and initiatives. 

<li>The UW Libraries has compiled a number of <a href="https://guides.lib.uw.edu/c.php?g=1058405&p=7728637">online tools</a> that are focused on becoming an informed voter.
</li>
</ul>
<p>
Voting is the opportunity we will always have to research, to understand, and to act; it is what being a lifelong learner is all about. Build on your knowledge, your networks, and your passion and make a difference.
</p>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://guides.lib.uw.edu/Election2020">Election 2020: UW Libraries Guide</a></li>
                
                    <li><a href="https://www.bestcolleges.com/resources/voting-in-college/">Voting in College</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=leaders-are-made-not-born">Leaders are Made, Not Born</a></li>
                
                    <li><a href="/husky_experience_message?article=lead-your-values">Lead with Your Values</a></li>
                
                    <li><a href="/husky_experience_message?article=doing-good-good-you">Doing Good Is Good For You</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
