{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Writing a Stand-Out Cover Letter</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Writing_a_Stand_out_Cover_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Writing_a_Stand_out_Cover_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Writing_a_Stand_out_Cover_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Writing_a_Stand_out_Cover_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Writing_a_Stand_out_Cover_650.jpg' %}"
                     alt="">
            
            
                <p class="myuw-image-credit">Photo: Dennis Wise/Universitiy of Washington Photography (L); Mark Stone/University of Washington Photography</p>
            
        </figure>
        <div class="myuw-article-body">
        <p>
Yes, we know. Cover letters are hard work. Wanting a job is a vulnerable place to be, and it can be scary to write about yourself, to make the claim that you have what it takes for this job, and to admit your desires to a stranger. But this stranger (the employer) <em>wants</em> to know about you. By writing a good cover letter, you can make the hiring process easier for them. You want to introduce yourself in such a personal, compelling way, that the hiring manager quickly decides, “Yay! Here’s one to interview!”
</p>
<p>
For this to happen, there are two things you want to be sure to do with your cover letter: (1) tell the hiring manager why you want the job, and (2) present a case for why you’re the best candidate for the position. These are usually achieved through four components: a brief introduction, two meaty paragraphs, and a brief closing. 
</p>
<p>
There are lots of ways to write boring, easily recycled cover letters, but if you want to write one that’s <em>outstanding</em>, we offer the following suggestions:
</p>
<ol>

<li><strong>Start fresh for each position you’re applying to</strong>. It can be tempting to recycle your cover letter for multiple job opportunities, but hiring managers can immediately spot generic language. Make each letter unique.

<li><strong>Address your letter to a real person.</strong> Try your best to find the name of the person who is hiring for the job. Sometimes this will take a little work, but your effort will be appreciated. It also reinforces your interest in the job, since it shows that you took the time to research the position.

<li><strong>Adopt a positive mindset. </strong>One way to make cover letter writing just a teensy bit easier is to pretend that the hiring manager has <em>asked</em> you to apply to this position. Imagine they already know you and think you’d be perfect for the job. Write to this person.

<li><strong>Grab attention with your opening line</strong>. Start with something snappy; your goal is to have the hiring manager read on. Include something you like about the company or emphasize your passion for something the company does or stands for. And then tell them how you would be a perfect addition. <a href="https://www.themuse.com/advice/31-attentiongrabbing-cover-letter-examples">Find inspiration here</a>. 

<li><strong>Explain why you’re the best candidate</strong>. Carefully examine the job description, and identify the key requirements and priorities for the job. Then <a href="https://www.glassdoor.com/blog/guide/how-to-write-a-cover-letter/">use stories to explain</a> how your skills and strengths match what the company is looking for. 

<li><strong>Show them why you want THIS job.</strong> Employers want you to enjoy working with them, so mention something about the open position and the company (an upcoming project or new initiative) and why you find it interesting. Let them know, again, how your knowledge and experience could help make this project a success.

<li><strong>Finish strong</strong>. The closing lines are your opportunity to reiterate your enthusiasm and strong interest in the job. Check out the tips here on <a href="https://www.themuse.com/advice/cover-letters-are-hard-to-writebut-this-template-makes-it-a-breeze">how to close</a>.

<li><strong>Sit on it</strong>. Yes, after all this effort, let your letter sit overnight at least. When you take it out again, put yourself in the role of the hiring manager: Does the introduction make you want to read on? Do you get a sense of the person behind this letter, and are they someone you would want on your team? Edit as needed, proofread three times (yes, <em>three</em> times — in your haste and eagerness to send the letter, it’s easy to miss errors and even one error can give the hiring manager a reason to toss your letter), and then send. 
</li>
</ol>
        </div>
        
            <h3 class="myuw-heading-page">Resources</h3>
            <ul>
                
                    <li><a href="https://careers.uw.edu/blog/2018/04/24/getting-started-with-cover-letters/">Getting Started With Cover Letters</a></li>
                
            </ul>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=interviews-right-way-present-yourself">Interviews: How to Present Yourself</a></li>
                
                    <li><a href="/husky_experience_message?article=three-main-strategies-finding-job">Three Main Strategies for Finding A Job</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
