{% load static %}

<div class="myuw-article row">
    <div class="col-md-8">
        <h2 class="myuw-heading-page">Your Major: A Hypothesis</h2>
        <figure class="myuw-article-heroimage">
            
                <img class="myuw-card-image-full"
                     srcset="{% static 'hx_toolkit_output/images/Your_Major_Hypothesis_480.jpg' %} 480w,
                         {% static 'hx_toolkit_output/images/Your_Major_Hypothesis_650.jpg' %} 650w,
                         {% static 'hx_toolkit_output/images/Your_Major_Hypothesis_780.jpg' %} 780w,
                         {% static 'hx_toolkit_output/images/Your_Major_Hypothesis_1000.jpg' %} 1000w"
                     sizes="(max-width: 767px) 100vw,
                        650px"
                     src="{% static 'hx_toolkit_output/images/Your_Major_Hypothesis_650.jpg' %}"
                     alt="">
            
            
        </figure>
        <div class="myuw-article-body">
        <h3 id="test-out-your-major">Test Out Your Major</h3>


<p>
When you arrived on campus, you might have heard an adviser talk about treating your intended major as a hypothesis. You might spend your first few quarters confirming your initial thoughts (“yes, I knew history was for me!”) — or discovering new information (“what? there’s a department of Classics?”) that might change your path. You may still be in the hypothesizing stage or maybe you are fully settled into your major. Either way, you have the power to shape your degree, especially when you remember that your major is only one part of your degree. 
</p>
<h3>How Much Does Your Major Matter? </h3>


<p>
We know that the question “where do you go to college?” is followed quickly by “what’s your major?” The reality, however, is that <a href="/husky_experience_message?article=do-majors-jobs">the importance of a major is not equal to the attention it gets</a>. Except for some specific cases (we see you, nurses and engineers), your potential profession does not dictate what your major should be. All majors allow you to develop as a critical thinker, problem solver, and communicator. But there are things you do outside your major that also can enhance your skills. 
</p>
<h3>Your World of Learning </h3>


<p>
Your major isn’t everything; in fact, there is not one thing that is the most important aspect of your undergraduate degree. Instead, it is the sum of the parts that make the best “whole.” If you want to make the most of your time at UW, what should you see when you envision your final transcript, resume, or LinkedIn profile? 
</p>
<ul>

<li><strong>Courses that enhance or augment your major –</strong> yes, those art classes or creative writing sequence can pair nicely with environmental studies … being a national park storyteller might be in your future.

<li><strong>Undergraduate research –</strong> hands-on lab experience with cancer immunotherapy tells a story that is beyond your math major.

<li><strong>Volunteer work in the community –</strong> experience with vulnerable populations is an excellent complement to that sociology degree.

<li><strong>Internships in different fields</strong> <strong>–</strong> working in the music industry could emerge from a degree in business or anthropology or ethnic studies.

<li><strong>Adding a minor to that major –</strong> you can indicate specific passions (human rights, perhaps) by adding on to your major with a minor. 
</ul>

<h3>Next Steps </h3>

<p>
<a href="https://www.washington.edu/uaa/advising/about-us/advising/">Academic advisers</a> and <a href="https://careers.uw.edu/schedule-an-appointment-with-a-career-coach/">career coaches</a> are here to talk with you about options and how you can build upon your interests with course work and experiences. Prepare for a productive conversation by thinking ahead. 
</p>
<ul>

<li>Sit down with your academic adviser to review the courses you have taken and the areas you’d like to explore. 

<li>Think about <a href="http://expd.uw.edu/">extracurricular activities</a> that might help you explore your interests. Can <a href="https://cele.uw.edu/students/opportunities/">volunteering in the community</a> give you some insight into food systems? Would a <a href="https://hub.washington.edu/sao/rso-directory/">student organization</a> focused on marketing allow you to put your talents to work? 

<li>Talk with a career coach about how you are trying to combine your interests. What can you do if you love art and are intrigued by business? What is a potential path for someone passionate about both literature and math?

<li>Reflect on what you have learned inside and outside the classroom so far. What do you want to learn more about? What skills would you like to gain?  
</li>
</ul>
        </div>
        

        
            <h3 class="myuw-heading-page">Related Articles</h3>
            <ul>
                
                    <li><a href="/husky_experience_message?article=do-majors-jobs">Do Majors = Jobs?</a></li>
                
                    <li><a href="/husky_experience_message?article=finding-your-purpose-when-you-have-no-clue">Finding Your Purpose When You Have No Clue</a></li>
                
                    <li><a href="/husky_experience_message?article=considering-additional-major-or-minor">Considering an Additional Major or a Minor?</a></li>
                
            </ul>
        

        <div class="myuw-article-footer">
            <h3 class="myuw-article-footer-title">About the Husky Experience Toolkit</h3>
            <p>The <a href="/husky_experience">Husky Experience Toolkit</a> is designed to help you make the most of your time at UW, wherever you are in your university career. The articles address four interconnected dimensions of the Husky Experience: Know Yourself, Know the World, Make Your Way, and Weave it Together.
            </p>
        </div>
    </div>
</div>
